.leftmenu
    ul.mainmenu
        li.mainmenu-btn-container
            a.mainmenu-btn(href="index-logined.html") 
                i.fa.fa-home
                |&nbsp;门户首页
                .sel-arrow
        li.mainmenu-btn-container
            a.mainmenu-btn(href="personal-center.html") 
                i.fa.fa-user
                |&nbsp;个人中心
                .sel-arrow
        li.mainmenu-btn-container
            a.mainmenu-btn(href="#") 
                i.fa.fa-briefcase 
                |&nbsp;内部管理
                .sel-arrow
            ul.submenu
                li
                    a.submenu-btn(href="important-notice.html")
                        i.fa.fa-bell
                        |&nbsp;重要通知
                        .sel-arrow
                li
                    a.submenu-btn(href="superior-article.html")
                        i.fa.fa-file-word-o
                        |&nbsp;上级发文
                        .sel-arrow
                li
                    a.submenu-btn(href="duty-schedule.html")
                        i.fa.fa-calendar
                        |&nbsp;值班安排
                        .sel-arrow
                li
                    a.submenu-btn(href="inside-file.html")
                        i.fa.fa-file-text-o
                        |&nbsp;内部文件
                        .sel-arrow
                li
                    a.submenu-btn(href="regulations.html")
                        i.fa.fa-book
                        |&nbsp;规章制度
                        .sel-arrow
                li
                    a.submenu-btn(href="vehicle-useage.html")
                        i.fa.fa-car
                        |&nbsp;用车申报/查询
                        .sel-arrow
                li
                    a.submenu-btn(href="documents.html")
                        i.fa.fa-archive
                        |&nbsp;档案管理
                        .sel-arrow
                li
                    a.submenu-btn(href="otherdata.html")
                        i.fa.fa-file-o
                        |&nbsp;其他资料
                        .sel-arrow
        li.mainmenu-btn-container.opened
            a.mainmenu-btn(href="#") 
                i.fa.fa-headphones
                |&nbsp;12365管理
                .sel-arrow
            ul.submenu
                li
                    a.submenu-btn.sel(href="#")
                        i.fa.fa-tty
                        |&nbsp;案件受理
                        .sel-arrow
                li
                    a.submenu-btn(href="case-acpt-num.html")
                        i.fa.fa-bar-chart
                        |&nbsp;受理数量
                        .sel-arrow
                li
                    a.submenu-btn(href="case-source.html")
                        i.fa.fa-pie-chart
                        |&nbsp;案件来源
                        .sel-arrow
                li
                    a.submenu-btn(href="case-category.html")
                        i.fa.fa-pie-chart
                        |&nbsp;投诉类别
                        .sel-arrow
                li
                    a.submenu-btn(href="case-products.html")
                        i.fa.fa-pie-chart
                        |&nbsp;产品类别
                        .sel-arrow
                li
                    a.submenu-btn(href="case-search.html")
                        i.fa.fa-search
                        |&nbsp;案件查询
                        .sel-arrow
        li.mainmenu-btn-container
            a.mainmenu-btn(href="#") 
                i.fa.fa-desktop
                |&nbsp;案件管理
                .sel-arrow
            ul.submenu
                li
                    a.submenu-btn(href="case-todo.html")
                        i.fa.fa-pencil-square-o
                        |&nbsp;待办案件
                        .sel-arrow
                li
                    a.submenu-btn(href="case-closed.html")
                        i.fa.fa-check-square-o
                        |&nbsp;结案案件
                        .sel-arrow
                li
                    a.submenu-btn(href="case-analysis.html")
                        i.fa.fa-pie-chart
                        |&nbsp;案件分析
                        .sel-arrow
        li.mainmenu-btn-container
            a.mainmenu-btn(href="#") 
                i.fa.fa-search
                |&nbsp;信息查询
                .sel-arrow
            ul.submenu
                li
                    a.submenu-btn(href="info-laws.html")
                        i.fa.fa-book
                        |&nbsp;法律法规
                        .sel-arrow
                li
                    a.submenu-btn(href="info-company.html")
                        i.fa.fa-institution
                        |&nbsp;企业信息
                        .sel-arrow
                li
                    a.submenu-btn(href="info-knowledge.html")
                        i.fa.fa-suitcase
                        |&nbsp;知识库
                        .sel-arrow
                li
                    a.submenu-btn(href="info-certificate.html")
                        i.fa.fa-certificate
                        |&nbsp;获证信息
                        .sel-arrow
                li
                    a.submenu-btn(href="info-standard.html")
                        i.fa.fa-bookmark-o
                        |&nbsp;标准信息
                        .sel-arrow
                li
                    a.submenu-btn(href="info-institution.html")
                        i.fa.fa-building-o
                        |&nbsp;检测机构
                        .sel-arrow
        li.mainmenu-btn-container
            a.mainmenu-btn(href="#") 
                i.fa.fa-flag
                |&nbsp;执法管理
                .sel-arrow
            ul.submenu
                li
                    a.submenu-btn(href="enforce-law-sp.html")
                        i.fa.fa-hand-o-right
                        |&nbsp;专项执法
                        .sel-arrow
                li
                    a.submenu-btn(href="double-info.html")
                        i.fa.fa-american-sign-language-interpreting
                        |&nbsp;双打信息
                        .sel-arrow
                li
                    a.submenu-btn(href="soldier-sys.html")
                        i.fa.fa-laptop
                        |&nbsp;单兵系统
                        .sel-arrow
                li
                    a.submenu-btn(href="enforce-law-analysis.html")
                        i.fa.fa-certificate
                        |&nbsp;执法分析
                        .sel-arrow
                li
                    a.submenu-btn(href="case-examples.html")
                        i.fa.fa-bookmark-o
                        |&nbsp;典型案例
                        .sel-arrow
