.side-menu
    ul.side-menu-content
        li
            a.side-menu-btn.sel(href="#")
                |全部消息
                .img-icon.icon-gray.icon-angelarrow-right
        li
            a.side-menu-btn(href="#") 
                |重要通知
                .img-icon.icon-gray.icon-angelarrow-right
        li
            a.side-menu-btn(href="#") 
                |上级发文
                .img-icon.icon-gray.icon-angelarrow-right
        li
            a.side-menu-btn(href="#") 
                |系统消息
                .img-icon.icon-gray.icon-angelarrow-right
        li
            a.side-menu-btn(href="#") 
                |新闻资讯
                .img-icon.icon-gray.icon-angelarrow-right
