SIDE_MENU_SEL_COLOR = lighten(THEME_COLOR,80%)
SIDE_MENU_LINE_COLOR = GRAY_D6

.side-menu
    width auto
    display block
    position relative
    .side-menu-title
        width 100%
        display block
        position absolute
        background-color THEME_COLOR
        color WHITE
        text-align center
        box-sizing border-box
        padding 20px
        font-size 24px
        line-height 50px
        top -90px
    .side-menu-content
        background-color GRAY_F5
        width auto
        display block
        li
            display block
            .side-menu-btn
                display block
                width 100%
                color GRAY_66
                line-height 30px
                font-size 15px
                padding 10px 20px
                box-sizing border-box
                border-bottom 1px solid SIDE_MENU_LINE_COLOR
                transition all ease 0.2s
                overflow hidden
                position relative
                .img-icon
                    position absolute
                    top 17px
                    right -17px
                    display block
                    transition all ease 0.2s
                &:hover
                    text-decoration none
                    background-color SIDE_MENU_SEL_COLOR
                    color THEME_COLOR
                    .img-icon
                        right 17px
                &.sel
                    color THEME_COLOR
                    font-weight bold
                    .img-icon
                        right 17px
            &:last-child
                .side-menu-btn
                    border-bottom none
