.work-carousel
    width auto
    display block
    height auto
    .item
        width 100%
        hegiht auto
        .item-img
            width 100%
            height 100px
            display block
            img
                width 100%
                height 100%
        .item-info
            text-indent 2em
            margin-top 5px
            text-align justify
            width 100%
            height 84px
            overflow hidden
            line-height 22px
            font-size 12px
    .owl-nav
        display none
    .owl-dots
        margin-top 0px !important
        text-align right
        .owl-dot
            span
                margin 0 0 0 10px
