.work-carousel.owl-carousel.owl-theme
    .item
        .item-img
            img(src="images/work-carousel-1.png")
        .item-info 对于企业识别，人们最熟悉的就是视觉识别。但对企业来讲，其实纯粹的视觉识别是没有什么实际意义的。视觉识别只有与行为识别结合在一起才有意义和内涵。一个企业只有具备与众不同的、良好的行为识别才能给社会公众留下美好的印象。
    .item
        .item-img
            img(src="images/work-carousel-2.png")
        .item-info 对于企业识别，人们最熟悉的就是视觉识别。但对企业来讲，其实纯粹的视觉识别是没有什么实际意义的。视觉识别只有与行为识别结合在一起才有意义和内涵。一个企业只有具备与众不同的、良好的行为识别才能给社会公众留下美好的印象。
    .item
        .item-img
            img(src="images/work-carousel-3.png")
        .item-info 对于企业识别，人们最熟悉的就是视觉识别。但对企业来讲，其实纯粹的视觉识别是没有什么实际意义的。视觉识别只有与行为识别结合在一起才有意义和内涵。一个企业只有具备与众不同的、良好的行为识别才能给社会公众留下美好的印象。
