.row.top-row.no-bottom
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-05.jpg')
            .rcs-pic-label 第三方公司名称
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-06.jpg')
            .rcs-pic-label 第三方公司名称
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-07.jpg')
            .rcs-pic-label 第三方公司名称
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-08.jpg')
            .rcs-pic-label 第三方公司名称