extends layout

block redirect
    script(src=JS_DIR + 'browserRedirect.js')

block content
    .main-content
        include ../components/topbar/index-chuangye
        .body-mask
        .main-body
            .topbar-space
            include ../components/banner/banner-chuangye-product
            .row-space-10
                .container.tp-container
                    .row.org-ul.no-bottom
                        .col-xs-12.col-sm-12.col-md-6
                            a.org-li(href='chuangye-product-detail.html')
                                .org-li-img
                                    img(src=IMG_DIR + 'rcs-item-01.jpg')
                                .org-li-content
                                    .org-li-title 产品名称
                                    .org-li-info 公司名称：某公司
                                    .org-li-info.max-2line 简介：是以智慧教育生态运营为主的高新技术企业，采用“产品研发+投资承建+系统集成...
                        .col-xs-12.col-sm-12.col-md-6    
                            a.org-li(href='chuangye-product-detail.html')
                                .org-li-img
                                    img(src=IMG_DIR + 'rcs-item-02.jpg')
                                .org-li-content
                                    .org-li-title 产品名称
                                    .org-li-info 公司名称：某公司
                                    .org-li-info.max-2line 简介：是以智慧教育生态运营为主的高新技术企业，采用“产品研发+投资承建+系统集成...
                        .col-xs-12.col-sm-12.col-md-6
                            a.org-li(href='chuangye-product-detail.html')
                                .org-li-img
                                    img(src=IMG_DIR + 'rcs-item-03.jpg')
                                .org-li-content
                                    .org-li-title 产品名称
                                    .org-li-info 公司名称：某公司
                                    .org-li-info.max-2line 简介：是以智慧教育生态运营为主的高新技术企业，采用“产品研发+投资承建+系统集成...
                        .col-xs-12
                            include ../components/pagination/index
            include ../components/footer/index
            include ../components/sidebar/index

        
