extends layout

block redirect
    script(src=JS_DIR + 'browserRedirect.js')

block content
    .main-content
        include ../components/topbar/index-empty
        .body-mask
        .main-body
            .topbar-space
            include ../components/banner/banner-food
            .row-space-10
                .container.tp-container
                    .tp-content
                        .deco-box
                        .tp-content-title
                            |店铺名称特色菜
                            .tp-content-title-deco.tp-content-title-btn
                                .btn.btn-small.btn-theme.btn-round 订餐电话：13812345678
                        .tp-content-inner
                            .row
                                include ../components/resource-piclist/foodlist-detail
                                .col-xs-12
                                    include ../components/pagination/index
            include ../components/footer/index
            include ../components/sidebar/index

        
