extends layout

block css
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/bootstrapValidator.min.css')
    link(rel='stylesheet', href='../css/index.css')

block content
    include ../components/login/index

block js
    script(src='../js/jquery.min.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/bootstrapvalidator/bootstrapValidator.min.js')
    script(src='../js/bootstrapvalidator/zh_CN.js')
    script(src='../js/app.js')
