extends layout

block redirect
    script(src=JS_DIR + 'browserRedirect.js')

block content
    .main-content
        include ../components/topbar/index-party
        .body-mask
        .main-body
            .topbar-space
            include ../components/banner/banner-party-learn
            .row-space-0
                .container.tp-container
                    .row
                        .col-xs-2
                            ul.nav.nav-tabs.tp-tab
                                li
                                    a(href="party-learn-hotspot.html") 时事热点
                                li.active
                                    a(href='party-learn-story.html') 先锋故事
                        .col-xs-10
                            .tp-content
                                .deco-box
                                .tp-content-title
                                    |先锋故事
                                    .tp-content-title-deco.tp-content-title-btn
                                        .btn.btn-small.btn-theme.btn-round 投稿入口
                                .tp-content-inner
                                    .article-title 文章标题
                                    .article-info
                                        .article-info-item 作者：王小二
                                        .article-info-item 发布时间：2017.09.18 13:40
                                    .article-content
                                        p 文章内容
            include ../components/footer/index
            include ../components/sidebar/index

        

