.dashboard-box
    border-radius 2px
    position relative
    height auto
    overflow hidden
    display block
    text-decoration none
    transition all COMMON_ANIM_TIME ease
    .bgicon
        position absolute
        font-size 90px
        line-height 90px
        left -5px
        bottom -5px
        z-index 1
        transition all COMMON_ANIM_TIME ease
    .dashboard-content
        position relative
        z-index 2
        overflow hidden
        padding-right 20px
        padding-bottom 24px
        .dashboard-number
            font-size 40px
            line-height 50px
            color alpha(WHITE,0.85)
            width auto
            padding-top 20px
            font-family 'HelveticalThEx'
            text-align right
            text-decoration none
            transition all COMMON_ANIM_TIME ease
        .dashboard-label
            position relative
            font-size 14px
            line-height 20px
            color alpha(WHITE,0.85)
            width auto
            text-align right
            text-decoration none
            transition all COMMON_ANIM_TIME ease
    &:hover
        text-decoration none
        .bgicon
            left 10px
        .dashboard-number
        .dashboard-label
            color WHITE
    &.blue
        background-color BLUE_OCEAN
        .bgicon
            color lighten(BLUE_OCEAN,5%)
        &:hover
            background-color darken(BLUE_OCEAN,10%)
    &.green
        background-color GREEN_GRASS
        .bgicon
            color lighten(GREEN_GRASS,5%)
        &:hover
            background-color darken(GREEN_GRASS,10%)
    &.yellow
        background-color YELLOW_GOLD
        .bgicon
            color lighten(YELLOW_GOLD,5%)
        &:hover
            background-color darken(YELLOW_GOLD,10%)
    &.red
        background-color RED_ORANGE
        .bgicon
            color lighten(RED_ORANGE,5%)
        &:hover
            background-color darken(RED_ORANGE,10%)
    &.purple
        background-color PURPLE_STUDIO
        .bgicon
            color lighten(PURPLE_STUDIO,5%)
        &:hover
            background-color darken(PURPLE_STUDIO,10%)
