.col-1of4
    .col-content
        a.dashboard-box.blue(href="#")
            .dashboard-content
                .dashboard-number 230715
                .dashboard-label 案件受理数量
            .bgicon
                i.fa.fa-tty
.col-1of4
    .col-content
        a.dashboard-box.yellow(href="#")
            .dashboard-content
                .dashboard-number 127024
                .dashboard-label 未结案数量
            .bgicon
                i.fa.fa-edit
.col-1of4
    .col-content
        a.dashboard-box.green(href="#")
            .dashboard-content
                .dashboard-number 103691
                .dashboard-label 已结案数量
            .bgicon
                i.fa.fa-check-square-o
.col-1of4
    .col-content
        a.dashboard-box.red(href="#")
            .dashboard-content
                .dashboard-number 52179
                .dashboard-label 投诉数量
            .bgicon
                i.fa.fa-headphones


    
    
