/*!覆盖bootstarptable插件部分样式*/
.fixed-table-container
    border-radius 0

.fixed-table-toolbar
    .btn-group
        >.btn-group:last-child
            >.btn
                border-top-right-radius 0.02rem !important
                border-bottom-right-radius 0.02rem !important

.fixed-table-pagination
    line-height 0
    padding 0 0.1rem
    

.toolbar
    font-size 0
    .btn
        margin-right 0.04rem