@require '../../../../libs/bootstrap-stylus/bootstrap/index'
@require 'color'
@require 'variables'
@require 'utils'
@require 'iscroll'
@require 'bs-overwrite'
@require 'section-title'
@require 'block-title'
@require 'breadcrumb'
@require 'box-form'
@require 'cool-form-group'
@require 'btn'
@require 'bs-table-overwrite'

a
    text-decoration none !important
    &:hover
    &:active
        text-decoration none !important

html
    -webkit-text-size-adjust none
    font-size 100px //1rem = 100px...1px=0.01rem

body
    font-size 0.14rem//14px
    line-height COMMON_LINE_HEIGHT
    background-color BODY_BG
    font-family 'Microsoft Yahei','微软雅黑','Droid Sans','HanHei SC', 'PingFang SC', 'STHeitiSC-Light', 'Arial', sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-tap-highlight-color rgba(255,255,255,0) //使移动端点击区域透明

.main-content
    width 100%
    height auto
    display block
    overflow hidden
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color BODY_BG
    z-index 1
.desktop
    .main-content
        min-width 9.7rem
        min-height 4rem
.top-container
    position absolute
    left 0
    top 0
    right 0
    height TOP_HEIGHT
    z-index Z_INDEX_TOP
.left-container
    position absolute
    width LEFT_WIDTH
    top TOP_HEIGHT
    bottom 0px
    left 0px
    z-index Z_INDEX_LEFT
.mobile-menu-mask
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color alpha(black, 0.3)
    z-index Z_INDEX_LEFT_MOBILE - 10
    display none
.right-container
    position absolute
    left LEFT_WIDTH
    top TOP_HEIGHT
    display block
    font-size 0
    bottom 0
    right 0px
    z-index Z_INDEX_RIGHT
    -webkit-overflow-scrolling touch 
    overflow auto
    &.mainpage
        left 0
.footer-container
    position absolute
    left LEFT_WIDTH
    right 0px
    bottom 0px
    height FOOTER_HEIGHT
    z-index Z_INDEX_FOOTER

.mt-space
    margin-top INDEX_SPACE

.mobile
    .top-container
        height TOP_HEIGHT_MOBILE
    .left-container
        transition left ease-in-out COMMON_ANIM_TIME
        top 0
        width LEFT_WIDTH_MOBILE
        left -1*LEFT_WIDTH_MOBILE
        z-index Z_INDEX_LEFT_MOBILE
        &.show
            left 0
    .mobile-menu-mask
        display none
        &.show
            display block
    .right-container
        top TOP_HEIGHT_MOBILE  
        left 0
    .mt-space
        margin-top 1.5*INDEX_SPACE_MOBILE
            
.iscroller {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.main-iframe
    width 100%
    height 100%



//计算row 和col 间距
CacuRowSpace(space_num)
    &.container
    &.container-fluid
        padding-left space_num
        padding-right space_num
    .row
        margin-left -0.5*space_num
        margin-right -0.5*space_num
        for i in (1..12)
            .col-xs-{i}
            .col-sm-{i}
            .col-md-{i}
            .col-lg-{i}
                padding-left 0.5*space_num
                padding-right 0.5*space_num
                margin-bottom space_num
                &.abs-container
                    padding 0
                    margin 0
                    .abs-content
                        left 0.5*space_num
                        right 0.5*space_num
                        bottom space_num
        &.no-bottom
            margin-bottom -1*space_num
        &.top-row
            margin-top space_num


.row-space-common
    CacuRowSpace(INDEX_SPACE)

.row-space-10
    CacuRowSpace(0.1rem)

.mobile
    .row-space-common
        CacuRowSpace(INDEX_SPACE_MOBILE)
    .row-space-10
        CacuRowSpace(0.04rem)
    

cacuHeightPct(pct,total)
    padding-top (pct/total)*100 + '%'

.abs-container
    position relative
    &:before
        display block
        content ""
        width 100%
.abs-content
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    box-sizing border-box
    img
        width 100%
        height 100%
        float left

for i in (1..10)
    for j in range(1,i)
        .abs-hp-{j}of{i}
            &:before
                cacuHeightPct(j,i)
        .abs-hp-{i}of{j}
            &:before
                cacuHeightPct(i,j)


@require '../../components/topbar/index'
@require '../../components/tree-menu/index'
@require '../../components/login/index'
@require '../../components/news-list/index'
@require '../../components/system-list/index'
@require '../../components/todo/index'
@require '../../components/footer/index'




