PHOTO_HEIGHT = 1.5rem
PHOTO_ASP = 420/300
PHOTO_WIDTH = 1.5rem/PHOTO_ASP
PHOTO_SPACE = 0.1rem

.oa-hr-photo-form
    width auto
    display block
    padding-right PHOTO_WIDTH + PHOTO_SPACE
    position relative
    height auto
    .oa-hr-photo
        position absolute
        right 0.05rem
        top 0
        width PHOTO_WIDTH
        height PHOTO_HEIGHT
        img
            width 100%
            height 100%
            float left


ORG_LI_IMG_WIDTH = 1.6rem
ORG_LI_MOBILE_PCT = 0.5rem
ORG_LI_IMG_HEIGHT = 0.8rem
ORG_LI_SPACE = 0.1rem
.org-ul
    list-style none
    margin 0
    -webkit-margin-before 0
    -webkit-margin-after 0
    -webkit-padding-start 0
.org-li
    width auto
    height auto
    min-height ORG_LI_IMG_HEIGHT + 2*ORG_LI_SPACE
    position relative
    padding-left ORG_LI_IMG_WIDTH + 2*ORG_LI_SPACE
    padding-right ORG_LI_SPACE
    padding-top ORG_LI_SPACE
    padding-bottom ORG_LI_SPACE
    margin-top 0.1rem
    background-color GRAY_F5
    display block
    text-decoration none
    cursor pointer
    &:hover
        background-color GRAY_F9
        &:before
            content ""
            position absolute
            left 0
            right 0
            bottom 0
            top 0
            border 1px solid THEME_COLOR
    &.in-table
        background-color transparent
        cursor inherit
        margin-top 0
        &:hover
            &:before
                border none
                display none
    &.static
        background-color GRAY_F9
        cursor inherit
        margin-top 0
        &:hover
            &:before
                border none
                display none
    .org-li-img
        position absolute
        width ORG_LI_IMG_WIDTH
        height ORG_LI_IMG_HEIGHT
        top ORG_LI_SPACE
        left ORG_LI_SPACE
        img
            width 100%
            height 100%
            float left
    .org-li-content
        width auto
        overflow hidden
        .org-li-title
            font-size 0.15rem
            font-weight bold
            color GRAY_33
            width 100%
            text-overflow ellipsis
            white-space nowrap
            line-height 0.2rem
        .org-li-info
            width 100%
            font-size 0.12rem
            color GRAY_66
            margin-top 0.04rem

.mobile
    .org-li
        min-height (ORG_LI_IMG_HEIGHT + 2*ORG_LI_SPACE)*ORG_LI_MOBILE_PCT
        padding-left (ORG_LI_IMG_WIDTH + 2*ORG_LI_SPACE)*ORG_LI_MOBILE_PCT
        padding-right ORG_LI_SPACE*ORG_LI_MOBILE_PCT
        padding-top ORG_LI_SPACE*ORG_LI_MOBILE_PCT
        padding-bottom ORG_LI_SPACE*ORG_LI_MOBILE_PCT
        margin-top 0.1rem*ORG_LI_MOBILE_PCT
        .org-li-img
            position absolute
            width ORG_LI_IMG_WIDTH*ORG_LI_MOBILE_PCT
            height ORG_LI_IMG_HEIGHT*ORG_LI_MOBILE_PCT
            top ORG_LI_SPACE*ORG_LI_MOBILE_PCT
            left ORG_LI_SPACE*ORG_LI_MOBILE_PCT
        .org-li-content
            width auto
            overflow hidden
            .org-li-title
                font-size 0.12rem
                line-height 0.14rem
            .org-li-info
                width 100%
                font-size 0.08rem
                color GRAY_66
                margin-top 0.02rem


PROC_ITEM_SPACE = 0.6rem
PROC_ITEM_WIDTH = 3.6rem
PROC_ITEM_BGC = GRAY_F5
PROC_ITEM_FC = GRAY_33
PROC_ITEM_PADDING = 0.2rem
PROC_ITEM_BORDER_COLOR = GRAY_BB
PROC_ITEM_LINE_WIDTH = 0.02rem

//流程图相关
.proc-content
    display block
    overflow hidden
    text-align center
    padding PROC_ITEM_SPACE 0
.proc-item-container
    display block
    overflow visible
    font-size 0
    line-height 0
    .proc-item
        border-radius 4*COMMON_BORDER_RADIUS
        width PROC_ITEM_WIDTH
        display inline-block
        position relative
        border PROC_ITEM_LINE_WIDTH solid PROC_ITEM_BORDER_COLOR
        background-color PROC_ITEM_BGC
        padding PROC_ITEM_PADDING
        margin-bottom PROC_ITEM_SPACE
        overflow visible
        box-sizing border-box
        color PROC_ITEM_FC
        font-size 0.15rem
        line-height 0.18rem
        text-align center
        word-wrap break-word
        .small-text
            font-size 0.12rem
            color GRAY_66
        &:after
            content ""
            position absolute
            height PROC_ITEM_SPACE
            width PROC_ITEM_LINE_WIDTH
            background-color PROC_ITEM_BORDER_COLOR
            bottom -1*(PROC_ITEM_LINE_WIDTH + PROC_ITEM_SPACE)
            left 50%
            margin-left -0.5*PROC_ITEM_LINE_WIDTH
    &.proc-item-start
    &.proc-item-end
        .proc-item
            width 0.5*PROC_ITEM_WIDTH
            background-color lighten(GREEN_GRASS,80%)
    &.proc-item-start
        .proc-item
            padding-bottom 0.5*PROC_ITEM_PADDING
    &.proc-item-end
        .proc-item
            margin-bottom 0
            &:after
                content none
                display none
    &.proc-item-node
        .proc-item
            .btn-container
                position absolute
                text-align center
                z-index 1
                overflow hidden
                display none
            .btn-top-container
                bottom 100%
                left 0
                right 0
                height auto
                padding-bottom 0.1rem
                .btn
                    position relative
                    display inline-block
                    overflow visible
                    &:before
                        content ""
                        position absolute
                        border-arrow(THEME_COLOR, 0.06rem, down)
                        left 50%
                        margin-left -1*0.06rem
                        top 100%
            .btn-bottom-container
                top 100%
                left 0
                right 0
                height auto
                padding-top 0.1rem
                .btn
                    position relative
                    display inline-block
                    overflow visible
                    &:before
                        content ""
                        position absolute
                        border-arrow(THEME_COLOR, 0.06rem, up)
                        left 50%
                        margin-left -1*0.06rem
                        bottom 100%
            .btn-left-container
                height 0.72rem
                padding 0.2rem 0
                top 50%
                right 100%
                width auto
                margin-top -0.36rem
                padding-right 0.1rem
                .btn
                    position relative
                    display inline-block
                    overflow visible
                    &:before
                        content ""
                        position absolute
                        border-arrow(RED, 0.06rem, right)
                        top 50%
                        margin-top -1*0.06rem
                        left 100%
            .btn-right-container
                height 0.72rem
                padding 0.2rem 0
                top 50%
                left 100%
                width auto
                margin-top -0.36rem
                padding-left 0.1rem
                .btn
                    position relative
                    display inline-block
                    overflow visible
                    &:before
                        content ""
                        position absolute
                        border-arrow(THEME_COLOR, 0.06rem, left)
                        top 50%
                        margin-top -1*0.06rem
                        right 100%
            &:hover
                border-color THEME_COLOR
                .btn-container
                    display block

    &.proc-item-static
        .proc-item
            background-color lighten(THEME_COLOR,80%)
    &.proc-item-btn
        .proc-item
            width 0.5*PROC_ITEM_WIDTH
            background-color GRAY_F5
            border-color THEME_COLOR
            color THEME_COLOR
            padding 0.12rem
            cursor pointer
            &:hover
                background-color darken(THEME_COLOR,10%)
                border-color darken(THEME_COLOR,10%)
                color WHITE

.structure-toolbar
    width auto
    display block
    background-color WHITE
    border-bottom 1px solid WHITE
    padding-top 0.1rem
    transition all COMMON_ANIM_TIME ease
    margin-bottom 0.1rem
    line-height 32px
    &.isFixed
        left 0
        right 0
        background-color GRAY_F5
        border-bottom 1px solid GRAY_D6
.structure-tree
    display inline-block
    text-align left
    max-width 600px
    width 100%
.auth-tree
    display inline-block
    text-align left
    width 340px
.auth-tree-right
    display inline-block
    text-align left
    width 400px


.list-group-item:first-child
.list-group-item:last-child
    border-radius 0 !important


.treeview
    .list-group
        margin-bottom 0

.treeview-select
    display block
    width auto
    .treeview-select-input
        visibility hidden
        margin 0
        padding 0
        position absolute
        border none
        width 0
        height 0
        font-size 0
        line-height 0
    .treeview-select-btn
        display block
        width auto
        border 1px solid GRAY_CC
        height auto
        font-size 0.12rem
        line-height 0.2rem
        box-sizing border-box
        padding 0.04rem 0.06rem
        border-radius 0
        width 100%
        font-size 0.12rem
        text-align left
        outline none
        &:hover
        &:active
        &:focus
            border 1px solid THEME_COLOR
    .treeview-select-tree
        margin 0
        width 100%
        border none
        border-radius 0
        padding 0


OA_MB_BG = alpha(BLACK, 0.7)
OA_MB_BG_ACTIVE = alpha(BLACK, 0.8)
OA_MB_HANDLER_WIDTH = 1rem
OA_MB_HANDLER_HEIGHT = 0.12rem
.oa-message-box
    z-index 50
    position absolute
    right 0
    left LEFT_WIDTH
    height TOP_HEIGHT
    background-color OA_MB_BG
    transition all COMMON_ANIM_TIME ease
    top 0
    .oa-message-box-container
        display block
        width 100%
        height auto
        overflow hidden
        .oa-message-item
            padding 0 0.3rem
            display block
            text-align center
            text-overflow ellipsis
            overflow hidden
            white-space nowrap
            font-size 0.16rem
            color WHITE
            line-height TOP_HEIGHT
    .oa-message-box-handler
        position absolute
        top 100%
        left 50%
        margin-left -0.5*OA_MB_HANDLER_WIDTH
        width OA_MB_HANDLER_WIDTH
        height OA_MB_HANDLER_HEIGHT
        background-color OA_MB_BG
        background-image url(IMG_DIR + 'menu-folder-collapsed.png')
        background-repeat no-repeat
        background-position center center
        cursor pointer
        .oa-message-box-handler-deco
            position absolute
            top 0
            width OA_MB_HANDLER_HEIGHT
            height OA_MB_HANDLER_HEIGHT
            overflow hidden
            background-color transparent
            &.left
                left -1*OA_MB_HANDLER_HEIGHT
                &:before
                    content ""
                    position absolute
                    border-arrow(OA_MB_BG, OA_MB_HANDLER_HEIGHT, down)
                    left 0
                    top 0
            &.right
                right -1*OA_MB_HANDLER_HEIGHT
                &:before
                    content ""
                    position absolute
                    border-arrow(OA_MB_BG, OA_MB_HANDLER_HEIGHT, down)
                    right 0
                    top 0
        &:hover
            background-color OA_MB_BG_ACTIVE
            .oa-message-box-handler-deco
                &.left:before
                &.right:before
                    border-arrow(OA_MB_BG_ACTIVE, OA_MB_HANDLER_HEIGHT, down)
    &.opened
        top TOP_HEIGHT
        .oa-message-box-handler
            background-image url(IMG_DIR + 'menu-folder-opened.png')

MESSAGE_CAP_TOP = TOP_HEIGHT + 0.17rem
MESSAGE_ITEM_HEIGHT = 0.4rem
MESSAGE_ITEM_HEAD_HEIGHT = 0.32rem
MESSAGE_ITEM_HEAD_PH = 0.15rem
MESSAGE_ITEM_FSIZE = 0.14rem
.message-container
    display block
    position absolute
    z-index 9990
    height 0
    overflow visible
    left 0
    right 0
    top MESSAGE_CAP_TOP
.message-train
    display block
    width auto
    z-index 9990
    position absolute
    top MESSAGE_CAP_TOP
    white-space nowrap
    text-align left
    .message-item
        width auto
        margin-right 0.2rem
        display inline-block
        white-space nowrap
        background-color alpha(BLACK,0.8)
        border-radius MESSAGE_ITEM_HEIGHT
        height MESSAGE_ITEM_HEIGHT
        line-height MESSAGE_ITEM_HEIGHT
        &:hover
            background-color BLACK
        .message-item-head
            margin 0.5*(MESSAGE_ITEM_HEIGHT - MESSAGE_ITEM_HEAD_HEIGHT)
            display inline-block
            height MESSAGE_ITEM_HEAD_HEIGHT
            border-radius MESSAGE_ITEM_HEAD_HEIGHT
            font-size MESSAGE_ITEM_FSIZE
            line-height MESSAGE_ITEM_HEAD_HEIGHT
            padding 0 MESSAGE_ITEM_HEAD_PH
            background-color GREEN_GRASS
            color WHITE
        .message-item-body
            display inline-block
            white-space nowrap
            height MESSAGE_ITEM_HEIGHT
            font-size MESSAGE_ITEM_FSIZE
            line-height MESSAGE_ITEM_HEIGHT
            color WHITE
            padding-left 0.05rem
            padding-right 0.2rem
        a.message-item-body
            display inline-block
            color WHITE
            cursor pointer
            &:hover
                color YELLOW_BRONZE


.redirect-box
    width 4.6rem
    min-height 1rem
    border-radius 0.04rem
    height auto
    background-color WHITE
    margin 0.8rem auto
    padding 0.4rem
    box-shadow 0 0.02rem 0.4rem 0 alpha(BLACK,0.05)
    .redirect-box-icon
        margin 0 auto
        margin-bottom 0.2rem
        width 1.2rem
        height 1.2rem
        border-radius 1.2rem
        background-color THEME_COLOR
        color WHITE
        font-size 0.5rem
        text-align center
        i
            line-height 1.2rem
    .redirect-box-label
        width 100%
        line-height 0.2rem
        font-size 0.14rem
        text-align center
        color GRAY_33
    @media MOBILE
        width auto
        margin 0.2rem 0.1rem




.notice-fix-height
    min-height 180px

.im-body
    overflow hidden
    position absolute
    top 0
    bottom 0
    left 0
    right 0
.im-bg
    position absolute
    z-index 0
    top 0
    bottom 0
    left 0
    right 0
    background-image url(IMG_DIR + 'im-bg.jpg')
    background-size cover
    background-position center center
    background-repeat no-repeat
