PHOTO_HEIGHT = 1.5rem
PHOTO_ASP = 420/300
PHOTO_WIDTH = 1.5rem/PHOTO_ASP
PHOTO_SPACE = 0.1rem

.oa-hr-photo-form
    width auto
    display block
    padding-right PHOTO_WIDTH + PHOTO_SPACE
    position relative
    height auto
    .oa-hr-photo
        position absolute
        right 0.05rem
        top 0
        width PHOTO_WIDTH
        height PHOTO_HEIGHT
        img
            width 100%
            height 100%
            float left
    