/*! utils */

//hidden & visible
.hidden
    display none !important
.mobile-hidden
    display block !important
    @media MOBILE
        display none !important
.mobile-visible
    display none !important
    @media MOBILE
        display block !important
.tablet-hidden
    display block !important
    @media TABLET
        display none !important
.tablet-visible
    display none !important
    @media TABLET
        display block !important
.normal-visible
    display block !important
    @media TABLET
        display none !important
    @media MOBILE
        display none !important

//text-align
.text-left
    text-align left !important
    td
        text-align left !important
.text-center
    text-align center !important
    td
    th
        text-align center !important
.text-right
    text-align right !important
    td
        text-align right !important
.text-justify
    text-align justify !important
    td
        text-align justify !important
.text-overline
    text-decoration overline !important
.text-line-through
    text-decoration line-through !important

//float left/right
.pull-left
    float left !important
.pull-right
    float right !important

//full-width img container
.full-img
    display block
    img
        width 100%
        height auto
        display block
        float left
    &:before
        content ""
        display table
    &:after
        content ""
        display table
        clear both

.full-abs-img
    img
        width 100%
        height 100%
        display block
    &:before
        content ""
        display table
    &:after
        content ""
        display table
        clear both

//no border
.no-bt
	border-top none !important
.no-bl
	border-left none !important
.no-br
	border-right none !important
.no-bb
    border-bottom none !important
.no-btb
    border-top none !important
    border-bottom none !important
.no-blr
    border-left none !important
    border-right none !important
.no-border
    border none !important

//clearfix
.with-clearfix:before
    content ""
    display table
.with-clearfix:after
    content ""
    display table
    clear both

//cursor pointer
.cursor-pointer
    cursor pointer !important

// transition
transition()
    -webkit-transition arguments
    -moz-transition arguments
    -ms-transition arguments
    -o-transition arguments
    transition arguments

// animation
animation()
    -webkit-animation arguments
    -moz-animation arguments
    -ms-animation arguments
    -o-transition arguments
    animation arguments

transform()
    -webkit-transform arguments
    -moz-transform arguments
    -ms-transform arguments
    -o-transform arguments
    transform arguments

// border-arrow
border-arrow(arrow_color,arrow_width,arrow_direction)
    width 0px
    height 0px
    border-top arrow_width solid transparent
    border-bottom arrow_width solid transparent
    border-left arrow_width solid transparent
    border-right arrow_width solid transparent
    if arrow_direction == left
        border-left none
        border-right arrow_width solid arrow_color
    if arrow_direction == right
        border-right none
        border-left arrow_width solid arrow_color
    if arrow_direction == up
        border-top none
        border-bottom arrow_width solid arrow_color
    if arrow_direction == down
        border-bottom none
        border-top arrow_width solid arrow_color

//background-gradient
background-gradient(start_pos,start_color,end_color)
    background -webkit-linear-gradient(start_pos, start_color, end_color)
    background -moz-linear-gradient(start_pos, start_color, end_color)
    background linear-gradient(start_pos, start_color, end_color)
