/* variables */

// basic vars
BODY_FONT_SIZE = 20px
COMMON_ANIM_TIME = 0.2s // common transition time
COMMON_BORDER_RADIUS = 2px // common border redius

IMG_DIR = '../images/'
FONT_DIR = '../fonts/'

BODY_BG = WHITE
DEFAULT_SPACE = $default-space//0.08rem
COMMON_BORDER_COLOR = GRAY_F9
COMMON_BORDER_WIDTH = 1px
COMMON_BORDER_RADIUS = 0.02rem
COMMON_LINE_HEIGHT = (20 / 14)

//colors
THEME_COLOR = BLUE_OCEAN
THEME_COLOR_2 = GREEN_GRASS

//layout
INDEX_SPACE = 0.2rem
INDEX_SPACE_MOBILE =0.08rem
TOP_HEIGHT = 0.6rem
TOP_HEIGHT_MOBILE = 0.48rem
LEFT_WIDTH = 2rem
LEFT_WIDTH_MOBILE = 2.2rem
FOOTER_HEIGHT = 0.3rem
Z_INDEX_TOP = 300
Z_INDEX_LEFT = 200
Z_INDEX_LEFT_MOBILE = 400
Z_INDEX_FOOTER = 100
Z_INDEX_RIGHT = 1

// media query vars
//-----------------------------------------------------------------------------------------
SCREEN_XS = '(max-width $screen-xs-max)'
SCREEN_SM = '(min-width $screen-sm-min) and (max-width $screen-sm-max)'
SCREEN_MD = '(min-width $screen-md-min) and (max-width $screen-md-max)'
SCREEN_LG = '(min-width $screen-lg-min)'

MOBILE = '(max-width: 599px)'
MOBILE_320 = '(max-width: 320px)'
MOBILE_360 = '(max-width: 360px)'
MOBILE_375 = '(max-width: 375px)'
MOBILE_414 = '(max-width: 414px)'
MOBILE_480 = '(max-width: 480px)'
TABLET = '(min-width: 600px) and (max-width: 1000px)'
WIDER = '(min-width: 1260px)'
RETINA = '(-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi)'


