.imagecontent
    cursor pointer
    .imagebox
        display block
        overflow hidden
        background-color GRAY_F5
        .imageborder
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            box-sizing border-box
            background-color transparent
            border 0.02rem solid transparent
            z-index 100
        img
            transform(translate3d(0,0,0))
            width 100.5%
            height 100.5%
            float left
    .imagelabel
        width 100%
        height 0.4rem
        line-height 0.4rem
        padding 0 0.12rem
        font-size 0.14rem
        color GRAY_33
        background-color GRAY_F0
        text-align center
        text-overflow ellipsis
        overflow hidden
        white-space nowrap
.desktop
    .imagecontent
        .imagebox
            .imageborder
                transition(0.2s ease-in-out)
            img
                transition(0.2s ease-in-out)
        .imagelabel
            transition(0.2s ease-in-out)
        &:hover
            .imagebox
                .imageborder
                    border 0.02rem solid THEME_COLOR
                img
                    transform(scale(1.1))
            .imagelabel
                background-color THEME_COLOR
                color WHITE
            

.mobile
.tablet
    .imagecontent.active
        .imagebox
            .imageborder
                border-color THEME_COLOR
        .imagelabel
            background-color THEME_COLOR
            color WHITE
            