.topbar
    .logo
        img(src=IMG_DIR + 'logo-white.png')
        |双创智慧园区后台管理系统
    .menubtn.touch-active#menu_btn
        i.fa.fa-navicon
    .right-shoulder
        .dropdown.pull-left
            .btn.btn-large.btn-topbar#topbar_menu_btn(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                i.fa.fa-user-circle-o
                |&nbsp;Admin&nbsp;
                i.fa.fa-angle-down
            ul.popmenu-box.popbox-content.dropdown-menu(aria-labelledby="dm_dropdown")
                li
                    a.btn.btn-popmenu(href="login.html") 
                        i.fa.fa-sign-out
                        |&nbsp;退出登录
