.menu-btn 党团
.submenu
    .submenu-container
        a.submenu-btn(href="party-build-world.html") 党建园地
        .subsubmenu
            a.subsubmenu-btn(href="party-build-world.html") 党员天地
            a.subsubmenu-btn(href="party-build-news.html") 党建要闻
    .submenu-container
        a.submenu-btn(href="party-union-news.html") 工会动态
        .subsubmenu
            a.subsubmenu-btn(href="party-union-news.html") 工会快讯
            a.subsubmenu-btn(href="party-union-hotspot.html") 热点聚焦
    .submenu-container
        a.submenu-btn(href="party-member-world.html") 团员聚焦
        .subsubmenu
            a.subsubmenu-btn(href="party-member-world.html") 团员天地
            a.subsubmenu-btn(href="party-member-news.html") 基层团讯
            a.subsubmenu-btn(href="party-member-style.html") 青春风采
    .submenu-container
        a.submenu-btn(href="party-learn-hotspot.html") 学习交流
        .subsubmenu
            a.subsubmenu-btn(href="party-learn-hotspot.html") 时事热点
            a.subsubmenu-btn(href="party-learn-story.html") 先锋故事