a.menu-btn.sel(href="resource-invest.html") 资源
.submenu
    a.submenu-btn(href="resource-invest.html") 融资服务
    a.submenu-btn(href="resource-finance.html") 财税服务
    a.submenu-btn(href="resource-hr.html") 人力资源
    a.submenu-btn(href="resource-management.html") 管理咨询
    a.submenu-btn(href="resource-law.html") 法律服务
    a.submenu-btn(href="resource-patent.html") 专利服务
    a.submenu-btn(href="resource-coach.html") 培训服务
