.user-avatar
    img(src=IMG_DIR + 'avatar-default.jpg')
.user-name
    |上善若水&nbsp;
    i.fa.fa-angle-down
.user-menu-arrow
.user-menu-container
    .user-menu
        a.user-menu-btn(href="personal-message.html") 个人中心
        a.user-menu-btn(href="#") 退出登录