.row-space-0
    .container.tp-container
        .row
            .col-xs-2
                ul.nav.nav-tabs.tp-tab
                    li.active
                        a(href="#tab_1" role="tab" data-toggle="tab") 园区简介
                    li
                        a(href='#tab_2' role="tab" data-toggle="tab") 组织架构
                    li
                        a(href='#tab_3' role="tab" data-toggle="tab") 大事记
                    li
                        a(href='#tab_4' role="tab" data-toggle="tab") 园区规划
                    li
                        a(href='#tab_5' role="tab" data-toggle="tab") 园区文化
            .col-xs-10
                .tab-content
                    .tp-content.tab-pane.active#tab_1( role="tabpanel")
                        .deco-box
                        .tp-content-title
                            |园区简介
                            .tp-content-title-deco
                                |中艺1688
                                br
                                |SHANDONG ARTEX
                        .tp-content-inner#tab_content_1
                    .tp-content.tab-pane#tab_2( role="tabpanel")
                        .deco-box
                        .tp-content-title
                            |组织架构
                            .tp-content-title-deco
                                |中艺1688
                                br
                                |SHANDONG ARTEX
                        .tp-content-inner#tab_content_2
                    .tp-content.tab-pane#tab_3( role="tabpanel")
                        .deco-box
                        .tp-content-title
                            |大事记
                            .tp-content-title-deco
                                |中艺1688
                                br
                                |SHANDONG ARTEX
                        .tp-content-inner#tab_content_3
                    .tp-content.tab-pane#tab_4( role="tabpanel")
                        .deco-box
                        .tp-content-title
                            |园区规划
                            .tp-content-title-deco
                                |中艺1688
                                br
                                |SHANDONG ARTEX
                        .tp-content-inner#tab_content_4
                    .tp-content.tab-pane#tab_5( role="tabpanel")
                        .deco-box
                        .tp-content-title
                            |园区文化
                            .tp-content-title-deco
                                |中艺1688
                                br
                                |SHANDONG ARTEX
                        .tp-content-inner#tab_content_5