/* variables */

// basic vars
BODY_FONT_SIZE = 100px
COMMON_ANIM_TIME = 0.2s // common transition time
COMMON_BORDER_RADIUS = 2px // common border redius

IMG_DIR = '../images/'
FONT_DIR = '../fonts/'

BODY_BG = #33333b
DEFAULT_SPACE = 0.08rem
COMMON_BORDER_COLOR = GRAY_F9
COMMON_BORDER_WIDTH = 1px
COMMON_BORDER_RADIUS = 0.02rem
COMMON_LINE_HEIGHT = (20 / 14)

//colors
THEME_COLOR = BLUE_OCEAN
