.col-xs-12.scroll-anim.anim-fly-up.trans-delay-200ms
    .block-title 
        .block-title-text
            |合作伙伴
            .block-title-deco.block-title-deco-left
            .block-title-deco.block-title-deco-right
.col-md-2.col-xs-4.scroll-anim.anim-fly-up.trans-delay-600ms
    .partner-img
        img(src = IMG_DIR + 'partners_01.jpg')
.col-md-2.col-xs-4.scroll-anim.anim-fly-up.trans-delay-400ms
    .partner-img
        img(src = IMG_DIR + 'partners_02.jpg')
.col-md-2.col-xs-4.scroll-anim.anim-fly-up.trans-delay-200ms
    .partner-img
        img(src = IMG_DIR + 'partners_03.jpg')
.col-md-2.col-xs-4.scroll-anim.anim-fly-up.trans-delay-200ms
    .partner-img
        img(src = IMG_DIR + 'partners_04.jpg')
.col-md-2.col-xs-4.scroll-anim.anim-fly-up.trans-delay-400ms
    .partner-img
        img(src = IMG_DIR + 'partners_05.jpg')
.col-md-2.col-xs-4.scroll-anim.anim-fly-up.trans-delay-600ms
    .partner-img
        img(src = IMG_DIR + 'partners_06.jpg')