.index-carousel.owl-carousel.owl-theme
    a.item.bg-yellow-gold.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-bell
        .item-title 重要通知
    a.item.bg-blue.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-file-word-o
        .item-title 上级发文
    a.item.bg-purple-studio.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-calendar
        .item-title 值班安排
    a.item.bg-green.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-file-text-o
        .item-title 内部文件
    a.item.bg-blue.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-book
        .item-title 规章制度
    a.item.bg-green-grass.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-car
        .item-title 用车申报/查询
    a.item.bg-red-intense.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-archive
        .item-title 档案管理
    a.item.bg-blue-madison.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-file-o
        .item-title 其他资料
    a.item.bg-yellow-gold.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-tty
        .item-title 案件受理
    a.item.bg-blue.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-bar-chart
        .item-title 受理数量
    a.item.bg-purple-studio.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-pie-chart
        .item-title 案件来源
    a.item.bg-green.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-pie-chart
        .item-title 投诉类别
    a.item.bg-red-intense.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-pie-chart
        .item-title 产品类别
    a.item.bg-blue-madison.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-search
        .item-title 案件查询
    a.item.bg-yellow-gold.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-edit
        .item-title 待办案件
    a.item.bg-blue-hoki.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-check-square-o
        .item-title 结案案件
    a.item.bg-green-grass.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-line-chart
        .item-title 案件分析
    a.item.bg-red-intense.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-book
        .item-title 法律法规
    a.item.bg-blue-madison.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-institution
        .item-title 企业信息
    a.item.bg-yellow-gold.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-suitcase
        .item-title 知识库
    a.item.bg-blue.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-certificate
        .item-title 获证信息
    a.item.bg-purple-studio.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-bookmark-o
        .item-title 标准信息
    a.item.bg-green.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-building-o
        .item-title 检测机构
    a.item.bg-red-intense.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-hand-o-right
        .item-title 专项执法
    a.item.bg-blue-madison.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-american-sign-language-interpreting
        .item-title 双打信息
    a.item.bg-yellow-gold.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-laptop
        .item-title 单兵系统
    a.item.bg-blue-hoki.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-certificate
        .item-title 执法分析
    a.item.bg-green-grass.bg-hover-lighten(href="#")
        .item-icon
            i.fa.fa-bookmark-o
        .item-title 典型案例
