CAROUSEL_ITME_SIZE = 130px
CAROUSEL_CTRL_WIDTH = 30px
CAROUSEL_CTRL_HEIGHT = 60px
CAROUSEL_ICON_SIZE = 44px
.index-carousel
    display block
    .item
        display block
        width CAROUSEL_ITME_SIZE
        height CAROUSEL_ITME_SIZE
        background-color GRAY_E3
        border-radius 4px
        text-decoration none
        transition all COMMON_ANIM_TIME ease
        position relative
        .item-icon
            display block
            width 100%
            height auto
            font-size CAROUSEL_ICON_SIZE
            line-height CAROUSEL_ICON_SIZE
            padding 30px 0px 14px 0px
            text-align center
            color WHITE
            text-shadow 0px 0px 2px alpha(BLACK,0.5)
        .item-title
            position absolute
            width 100%
            bottom 14px
            line-height 30px
            font-size 16px
            color WHITE
            text-align center
        &:hover
            .item-icon
                font-size CAROUSEL_ICON_SIZE + 10px
                ine-height CAROUSEL_ICON_SIZE + 10px
                padding 25px 0px 9px 0px
    .owl-controls
        height 0
    .owl-nav
        position absolute
        top 50%
        width 100%
        margin 0
        .owl-prev
        .owl-next
            position absolute
            width CAROUSEL_CTRL_WIDTH
            height CAROUSEL_CTRL_HEIGHT
            background-color BODY_BG
            border-raidus 2px
            margin 0
            margin-top -0.5*CAROUSEL_CTRL_HEIGHT
            padding 0
            display block
            background-image url(IMG_DIR + 'slider-arrow.png') !important
            transition background-color COMMON_ANIM_TIME ease
        .owl-prev
            left -1*(CAROUSEL_CTRL_WIDTH + 10px)
            background-position left top
            &:hover
                background-color darken(BODY_BG,5%)
                background-position right top
        .owl-next
            right -1*(CAROUSEL_CTRL_WIDTH + 10px)
            background-position left bottom
            &:hover
                background-color darken(BODY_BG,5%)
                background-position right bottom
    .owl-dots
        width 100%
        position absolute
        bottom -30px
