MOBILE_WIDTH = 4.14rem
MOBILE_HEIGHT = 7.36rem
TOP_SPACE = 0.2rem


.mobile-frame
    position absolute
    left 50%
    margin-left -0.5*MOBILE_WIDTH
    background-color WHITE
    width MOBILE_WIDTH
    height MOBILE_HEIGHT
    border-radius 3*COMMON_BORDER_RADIUS
    box-shadow 0 0.05rem 0.4rem 0 alpha(BLACK, 0.1)
    margin-top TOP_SPACE
    margin-bottom TOP_SPACE
    transform-origin top center
    overflow hidden
    //transform(scale(0.6))
    