.footer
    width 100%
    padding 0.2rem
    font-size 0.13rem
    text-align center
    background-color GRAY_F5
    color GRAY_99

.mobile
    .footer
        padding 0.1rem
        font-size 0.1rem