LOGIN_WIDTH = 4rem
LOGIN_TITLE_FSIZE = 0.22rem
LOGIN_TITLE_SPACE = 0.1rem

.login-content
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background-image url(IMG_DIR + 'login-bg.jpg')
    background-repeat no-repeat
    background-size cover
    background-position center center
    overflow hidden
.login-box
    background-color GRAY_F9
    border-radius 2*COMMON_BORDER_RADIUS
    width LOGIN_WIDTH
    margin 0 auto
    padding 0.2rem 0.3rem
    box-sizing border-box
    .login-title
        font-size LOGIN_TITLE_FSIZE
        line-height LOGIN_TITLE_FSIZE
        color GRAY_33
        margin-bottom LOGIN_TITLE_SPACE
    .form-group
        >label
            color GRAY_33
            font-size 0.12rem
            font-weight normal
            color GRAY_99
        .checkbox
            .label
                //padding-left 0.2rem
        .login-input-group
            width 100%
            .input-group-addon
                display table-cell
                width 36px
                text-align center
                //background-color BLUE
                color THEME_COLOR
                //border-color GRAY_CC
                &.vcode
                    padding 0
                    img
                        height 32px
                        padding 0 4px
                        background-color WHITE
                    a.vcode-btn
                        display inline-block
                        width 40px
                        background-color BLUE
                        color WHITE
            .form-control
                //border-color BLUE !important
                box-shadow none
        .btn-primary
            border-color BLUE
            background-color BLUE
            border-radius 2px
            transition all 0.2s ease
            &:hover
                background-color darken(BLUE,20%)
                border-color darken(BLUE,20%)
.login-topbar
    height 70px
    width 100%
    padding 20px
    .login-logo
        width auto
        height 60px
        position relative
        float left
        img
            display inline-block
            height 100%
            width auto

