.slider
    width 100%
    display block
    .item
        width 100%
        height auto
        display block
        .item-bg
            width 100%
            height auto
            img
                width 100%
                height auto
                display block
                flaot left
    .owl-dots
        position absolute
        width 100%
        left 0
        font-size 0
        bottom 0
        .owl-dot
            span
                width 10px !important
                height 6px !important
                padding 0 !important
                margin 8px 4px !important
                border-radius 0
                opacity 0.4
                background-color GRAY_66
            &.active
            &:hover
                span
                    opacity 1
                    background-color THEME_COLOR !important