.slider.owl-carousel.owl-theme#m_slider
    .item
        .item-bg
            img(src = "images/slider_1.jpg")
    .item
        .item-bg
            img(src = "images/slider_2.jpg")
    .item
        .item-bg
            img(src = "images/slider_3.jpg")