ul.todo
    li.todo-new
        .todo-icon
            i.fa.fa-newspaper-o
        .todo-title
            |消息通知标题
            .todo-time 09.07
        .todo-text 消息通知标题详细信息，这种被科学家命名为dumbo的小动物竟然拥有十分神奇的八尺脚和类似于大象的外表。
    li.todo-current
        .todo-icon
            i.fa.fa-arrow-right
        .todo-title
            |代办事项标题 进行中事项
            .todo-time 09.07
        .todo-text 代办事项详细信息，这种被科学家命名为dumbo的小动物竟然拥有十分神奇的八尺脚和类似于大象的外表。
        .pull-right
            a.btn.btn-sm.btn-capsule.todo-btn(href='#')
                |继续处理&nbsp;
                i.fa.fa-angle-right
    li.todo-finished
        .todo-icon
            i.fa.fa-check
        .todo-title
            |代办事项标题 已完成事项
            .todo-time 09.07
        .todo-text 代办事项详细信息，这种被科学家命名为dumbo的小动物竟然拥有十分神奇的八尺脚和类似于大象的外表。
        .pull-right
            a.btn.btn-sm.btn-capsule.todo-btn(href='#')
                |确认完成&nbsp;
                i.fa.fa-angle-right
    li.todo-alert
        .todo-icon
            i.fa.fa-exclamation
        .todo-title
            |代办事项标题 重要事项
            .todo-time 09.07
        .todo-text 代办事项详细信息，这种被科学家命名为dumbo的小动物竟然拥有十分神奇的八尺脚和类似于大象的外表。
        .pull-right
            a.btn.btn-sm.btn-capsule.todo-btn(href='#')
                |立即执行&nbsp;
                i.fa.fa-angle-right
