.footer
    width 100%
    height auto
    margin-top 20px
    line-height 24px
    padding 24px 0px
    font-size 13px
    color GRAY_66
    background-color GRAY_F5
    border-top 1px solid GRAY_E3
    text-align center
    min-width PAGE_WIDTH
