.article-title
    display block
    font-size 0.24rem
    color GRAY_33
    text-align center
.article-info
    width 100%
    display block
    text-align center
    .article-info-item
        display inline-block
        padding 0 0.06rem
        font-size 0.12rem
        color GRAY_99
.article-appendix-title
    width auto
    font-size 0.12rem
    line-height 0.22rem
    color GRAY_66
    border-bottom 1px solid GRAY_F5
    margin-bottom 0.08rem
.article-appendix
    display block
    color GRAY_66
    font-size 0.14rem
    line-height 0.24rem
    text-align left

.mobile
    .article-title
        display block
        font-size 0.16rem
        color GRAY_33
        text-align center
    .article-info
        width 100%
        display block
        text-align center
        .article-info-item
            display inline-block
            padding 0 0.02rem
            font-size 0.08rem
            color GRAY_99
    .article-appendix-title
        width auto
        font-size 0.12rem
        line-height 0.22rem
        color GRAY_66
        border-bottom 1px solid GRAY_F5
        margin-bottom 0.08rem
    .article-appendix
        display block
        color GRAY_66
        font-size 0.12rem
        line-height 0.24rem
        text-align left
