.btn
    border-radius 0.02rem
    transition all COMMON_ANIM_TIME ease
    position relative
    box-sizing border-box !important
.btn-large
    padding 0.09rem 0.16rem
.btn-small
    padding 0.04rem 0.12rem
.btn-tiny
    font-size 0.12rem
    padding 0.02rem 0.06rem
.btn-round
    border-radius 0.5rem
.btn-line
    border-color GRAY_CC
    border-width 0.01rem
    border-style solid
    background-color GRAY_F5
    color THEME_COLOR
    &:hover
    &:active
    &:focus
        background-color THEME_COLOR
        border-color THEME_COLOR
        color WHITE
    &.disabled
    &[disabled]
        border-color GRAY_CC
        background-color GRAY_F5
        color THEME_COLOR
    &.btn-line-red
        color RED
        &:hover
        &:active
        &:focus
            background-color RED
            border-color RED
            color WHITE
        &.disabled
        &[disabled]
            background-color GRAY_F5
            border-color GRAY_CC
            color RED


//页面级别按钮
.btn-theme
    background-color THEME_COLOR
    color WHITE
    &:hover
    &:active
    &:focus
        background-color darken(THEME_COLOR,20%)
        color WHITE
    &.disabled
    &[disabled]
        background-color THEME_COLOR
        color WHITE

.btn-group
    .btn
        border 1px solid GRAY_E3 !important

.btn-hour
.btn-day
    background-color GRAY_F0
    color GRAY_66
    &:hover
    &:active
    &:focus
        background-color darken(GRAY_F0,10%)
        color GRAY_33
    &.disabled
    &[disabled]
        background-color RED_INTENSE
        color WHITE
        opacity 1
    &.sel
        background-color GREEN_GRASS
        color WHITE
        &.current
            background-color darken(GREEN_GRASS,20%)

DAY_RANGE_SPACE = 0.04rem
DAY_INNER_SPACE = 0.01rem
.day-range-select
    width 100%
    float left
    overflow hidden
    .day-range-select-content
        display block
        overflow hidden
        margin-left -0.5*DAY_RANGE_SPACE
        margin-right -0.5*DAY_RANGE_SPACE
    .day-range-box
        width 14.2857%
        float left
        box-sizing border-box
        padding 0 0.5*DAY_RANGE_SPACE
        .day-range-title
            width 100%
            float left 
            text-align center
            padding 0.02rem
            font-size 0.12rem
            color GRAY_99
        .day-range-box-left
            float left
            width 50%
            box-sizing border-box
            padding-right DAY_INNER_SPACE
            .btn-day
                border-radius 0.04rem
                border-top-right-radius 0
                border-bottom-right-radius 0
        .day-range-box-right
            float left
            width 50%
            box-sizing border-box
            padding-left DAY_INNER_SPACE
            .btn-day
                border-radius 0.04rem
                border-top-left-radius 0
                border-bottom-left-radius 0
        
