.btn
    border-radius 0.02rem
    transition all COMMON_ANIM_TIME ease
    position relative
    box-sizing border-box !important
.btn-large
    padding 0.09rem 0.16rem
.btn-small
    padding 0.04rem 0.12rem
.btn-tiny
    font-size 0.12rem
    padding 0.02rem 0.06rem
.btn-round
    border-radius 0.5rem
.btn-line
    border-color GRAY_CC
    border-width 0.01rem
    border-style solid
    background-color GRAY_F5
    color THEME_COLOR
    &:hover
    &:active
    &:focus
        background-color THEME_COLOR
        border-color THEME_COLOR
        color WHITE
    &.disabled
    &[disabled]
        border-color GRAY_CC
        background-color GRAY_F5
        color THEME_COLOR
    &.btn-line-red
        color RED
        &:hover
        &:active
        &:focus
            background-color RED
            border-color RED
            color WHITE
        &.disabled
        &[disabled]
            background-color GRAY_F5
            border-color GRAY_CC
            color RED


//页面级别按钮
.btn-theme
    background-color THEME_COLOR
    color WHITE
    &:hover
    &:active
    &:focus
        background-color darken(THEME_COLOR,20%)
        color WHITE
    &.disabled
    &[disabled]
        background-color THEME_COLOR
        color WHITE

.btn-group
    .btn
        border 1px solid GRAY_E3 !important
