/*! colors vairables */

// black and white
BLACK = #000000
WHITE = #ffffff

// gray
GRAY = #e5e5e5
GRAY_CASCADE = #95a5a6
GRAY_SILVER = #bfbfbf
GRAY_STEEL = #e9edef
GRAY_CARARRA =#fafafa
GRAY_GALLERY = #555555
GRAY_F9 = #F9F9F9
GRAY_F5 = #F5F5F5
GRAY_F0 = #F0F0F0
GRAY_EE = #EEEEEE
GRAY_EB = #EBEBEB
GRAY_E3 = #E3E3E3
GRAY_D6 = #D6D6D6
GRAY_CC = #CCCCCC
GRAY_BB = #BBBBBB
GRAY_AA = #AAAAAA
GRAY_9B = #9B9B9B
GRAY_99 = #999999
GRAY_88 = #888888
GRAY_77 = #777777
GRAY_66 = #666666
GRAY_5A = #5A5A5A
GRAY_33 = #333333

// blue
BLUE = #3598dc
BLUE_HOKI = #67809f
BLUE_STEEL = #4b77be
BLUE_OCEAN = #0c80e8
BLUE_MADISON = #578ebe
BLUE_CHAMBRAY = #2c3e50
BLUE_EBONYCLAY = #22313f

// green
GREEN = #26a69a
GREEN_MEADOW = #1bbc9b
GREEN_SEAGREEN = #1ba39c
GREEN_TURQUOISE = #36d7b7
GREEN_HAZE = #44b6ae
GREEN_JUNGLE = #26c281
GREEN_GRASS = #09be00

// red
RED = #cb5a5e
RED_LIGHT = #fe6a6c
RED_PINK = #e08283
RED_SUNGLO = #e26a6a
RED_INTENSE = #e35b5a
RED_THUNDERBIRD = #d91e18
RED_FLAMINGO = #ef4836
RED_ORANGE = #e4420a

// yellow
YELLOW = #c49f47
YELLOW_GOLD = #e87e04
YELLOW_CASABLANCA = #f2784b
YELLOW_CRUSTA = #f3c200
YELLOW_LEMON = #f7ca18
YELLOW_SAFFRON = #f4d03f
YELLOW_SUNSET = #e89d0c
YELLOW_BRONZE = #ff9000

// purple
PURPLE = #8e5fa2
PURPLE_PLUM = #8775a7
PURPLE_MEDIUM = #bf55ec
PURPLE_STUDIO = #8e44ad
PURPLE_WISTERIA = #9b59b6
PURPLE_SEANCE = #9a12b3
PURPLE_SUNSET = #6902b9

