@require '../../../../libs/bootstrap-stylus/bootstrap/index'
@require '../../../../libs/scroll-anim/scrollAnim'
@require 'color'
@require 'variables'
@require 'utils'
@require 'bs-overwrite'
@require 'iconfont'
@require 'iscroll'
@require 'cool-form-group'
@require 'btn'
@require 'article'
@require 'file-input-overwrite'


a
    text-decoration none !important
    &:hover
    &:active
        text-decoration none !important
ul
    -webkit-padding-start 0

html
    -webkit-text-size-adjust none
    font-size BODY_FONT_SIZE //1rem = 100px...1px=0.01rem
    height 100%

body
    font-size 0.14rem//14px
    line-height COMMON_LINE_HEIGHT
    background-color BODY_BG
    font-family 'Microsoft Yahei','微软雅黑','Droid Sans','HanHei SC', 'PingFang SC', 'STHeitiSC-Light', 'Arial', sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-tap-highlight-color rgba(255,255,255,0) //使移动端点击区域透明
    height 100%

.btn
.touch-acitve
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    -o-user-select none
    user-select none

.mt-space
    margin-top 0.08rem

.main-content
    width 100%
    height auto
    min-height 100%
    display block
    overflow hidden
    position relative
    background-color BODY_BG
    z-index 1
.main-body
    width 100%
    height auto
    min-height 100%
    position static
    transition all COMMON_ANIM_TIME ease-in-out
.body-mask
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background-color alpha(BLACK, 0.5)
    z-index Z_INDEX_MASK
    display none
.block-features
    width 100%
    height auto
    background-color WHITE
    margin-top INDEX_SPACE
    padding-bottom INDEX_SPACE
.block-gallery
    width 100%
    height auto
    background-color WHITE
    padding-bottom INDEX_SPACE


.desktop
    .main-content
        min-width DESKTOP_MIN_WIDTH
        min-height DESKTOP_MIN_HEIGHT

.tablet
    .showmenu
        .main-body
        .footbar
        .topbar
            transform translate3D(MENU_WIDTH_TABLET, 0, 0)
        .body-mask
            display block


.mobile
    .showmenu
        .main-body
        .footbar
        .topbar
            transform translate3D(MENU_WIDTH_MOBILE, 0, 0)
        .body-mask
            display block
    .block-features
        margin-top INDEX_SPACE_MOBILE
        padding-bottom INDEX_SPACE_MOBILE
    .block-gallery
        padding-bottom INDEX_SPACE_MOBILE



.iscroller
    -webkit-tap-highlight-color rgba(0,0,0,0)
    -webkit-text-size-adjust none
    -moz-text-size-adjust none
    -ms-text-size-adjust none
    -o-text-size-adjust none
    text-size-adjust none




//计算row 和col 间距
CacuRowSpace(space_num)
    &.container
    &.container-fluid
        padding-left space_num
        padding-right space_num
    .row
        margin-left -0.5*space_num
        margin-right -0.5*space_num
        for i in (1..12)
            .col-xs-{i}
            .col-sm-{i}
            .col-md-{i}
            .col-lg-{i}
                padding-left 0.5*space_num
                padding-right 0.5*space_num
                margin-bottom space_num
                &.abs-container
                    padding 0
                    margin 0
                    .abs-content
                        left 0.5*space_num
                        right 0.5*space_num
                        bottom space_num
        &.top-row
            margin-top space_num

.row-space-0
    CacuRowSpace(0)

.row-space-10
    CacuRowSpace(0.1rem)

.row-space-20
    CacuRowSpace(0.2rem)

.mobile
    .row-space-10
        CacuRowSpace(0.04rem)
    .mt-10
        margin-top 0.04rem

cacuHeightPct(pct,total)
    padding-top (pct/total)*100 + '%'

.abs-container
    position relative
    &:before
        display block
        content ""
        width 100%
.abs-content
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    box-sizing border-box
    img
        width 100%
        height 100%
        float left

for i in (1..10)
    for j in range(1,i)
        .abs-hp-{j}of{i}
            &:before
                cacuHeightPct(j,i)
        .abs-hp-{i}of{j}
            &:before
                cacuHeightPct(i,j)

.mobile
    for i in (1..10)
        for j in range(1,i)
            .abs-hp-mobile-{j}of{i}
                &:before
                    cacuHeightPct(j,i)
            .abs-hp-mobile-{i}of{j}
                &:before
                    cacuHeightPct(i,j)
.tingche-title
    margin-top 0.2rem
.tingche-num
    width auto
    display block
    background-color WHITE
    margin 0.04rem 0.16rem
    background-color THEME_COLOR
    color WHITE
    border-radius 2rem
    padding 0.08rem
    padding-left 0.08rem + 0.4rem
    font-size 0.32rem
    text-align center
    letter-spacing 0.4rem
    &.last
        background-color GREEN_GRASS

@require 'section-title'
@require 'box-form'
@require '../../components/utils/index'
@require '../../components/chuangye/index'
@require '../../components/company-list/index'
@require '../../components/resource-piclist/index'
@require '../../components/user-info/index'
@require '../../components/topbar/index'
@require '../../components/login/index'
@require '../../components/banner/index'
@require '../../components/tabpage/index'
@require '../../components/m-slider/index'
@require '../../components/m-staff/index'
@require '../../components/m-titlebar/index'
@require '../../components/news-list/index'
@require '../../components/m-news-list/index'
@require '../../components/m-app-list/index'
@require '../../components/m-banner/index'
@require '../../components/m-footnav/index'
@require '../../components/footstep/index'
