TPC_PADDING = 0.5rem

.tp-container
    margin-top 0.4rem
.tp-tab
    display block
    border-bottom none
    li
        float none
        margin 0
        a
            border none !important
            display block
            margin-right 0
            border-radius 0
            border-bottom 1px solid GRAY_E3  !important
            font-size 0.15rem
            font-weight bold
            color GRAY_66
            position relative
            padding 0.12rem 0.2rem
            .num
                background-color RED_INTENSE
                color WHITE
                height 0.18rem
                line-height 0.18rem
                font-size 0.12rem
                padding 0 0.03rem
                border-radius 0.02rem

        &.active
            a
                color THEME_COLOR !important
                &:before
                    content ""
                    position absolute
                    border-arrow(THEME_COLOR, 0.05rem, right)
                    top 50%
                    margin-top -0.05rem
                    right 0.1rem



TP_DECO_SIZE = 0.24rem

.tp-content
    background-color WHITE
    height auto
    width auto
    padding TPC_PADDING
    padding-bottom 1.5*TPC_PADDING
    position relative
    .deco-box
        width TP_DECO_SIZE
        height TP_DECO_SIZE
        position absolute
        bottom 0
        right 0
        background-color BODY_BG
        overflow hidden
        &:before
            content ""
            position absolute
            border-arrow(GRAY_F9, TP_DECO_SIZE, down)
            left -1*TP_DECO_SIZE
            top 0
    .tp-content-title
        font-size 0.26rem
        color GRAY_33
        border-bottom 1px solid GRAY_E3
        padding-bottom 0.05rem
        margin-bottom 0.2rem
        .tp-content-title-deco
            font-size 0.12rem
            line-height 0.14rem
            margin-top 0.08rem
            color GRAY_D6
            text-align right
            float right
            &.tp-content-title-btn
                margin-top 0.04rem
                .btn
                    padding-left 0.25rem
                    padding-right 0.25rem
    .tp-content-inner
        display block
        //overflow hidden
        min-height 4rem

.mobile
.tablet
    .tp-container
        margin-top 0.08rem
        margin-bottom 0.08rem
    .tp-content
        padding 0.08rem
        padding-bottom 0.18rem
        .deco-box
            width TP_DECO_SIZE*0.5
            height TP_DECO_SIZE*0.5
            &:before
                border-arrow(GRAY_F9, 0.5*TP_DECO_SIZE, down)
                left -0.5*TP_DECO_SIZE
        .tp-content-title
            font-size 0.18rem
            padding-bottom 0.05rem
            margin-bottom 0.08rem
            .tp-content-title-deco
                font-size 0.10rem
                line-height 0.12rem
                margin-top 0.04rem
                &.tp-content-title-btn
                    margin-top 0.04rem
                    .btn
                        padding-left 0.25rem
                        padding-right 0.25rem
        .tp-content-inner
            min-height 1rem
