.editlayout-title 
    span#editlayout_title 编辑布局
    .editlayout-shoulder.editlayout-left
        .editlayout-shoulder-btn#btn_return_setup
            i.fa.fa-angle-left
            |&nbsp;返回设置
    .editlayout-shoulder.editlayout-right
        .editlayout-shoulder-btn#btn_reset_layout
            i.fa.fa-history
            |&nbsp;清空操作
        .editlayout-shoulder-btn#btn_save_layout
            i.fa.fa-save
            |&nbsp;保存布局
.editlayout-container
    //选择大小
    .editlayout-size
        .editlayout-size-item
            .sel-arrow
            .sel-box
            .editlayout-size-item-block.elsib-1x1.elsib-col1-row1.sel
            .editlayout-size-item-block.elsib-1x1.elsib-col1-row2
            .editlayout-size-item-block.elsib-1x1.elsib-col2-row1
            .editlayout-size-item-block.elsib-1x1.elsib-col2-row2
        .editlayout-size-item
            .sel-arrow
            .sel-box
            .editlayout-size-item-block.elsib-1x2.elsib-col1-row1.sel
            .editlayout-size-item-block.elsib-1x1.elsib-col2-row1
            .editlayout-size-item-block.elsib-1x1.elsib-col2-row2
        .editlayout-size-item
            .sel-arrow
            .sel-box
            .editlayout-size-item-block.elsib-2x1.elsib-col1-row1.sel
            .editlayout-size-item-block.elsib-1x1.elsib-col1-row2
            .editlayout-size-item-block.elsib-1x1.elsib-col2-row2
        .editlayout-size-item
            .sel-arrow
            .sel-box
            .editlayout-size-item-block.elsib-2x2.elsib-col1-row1.sel
    //选择颜色
    .editlayout-color
        .editlayout-color-item.color-blue.current
            .sel-arrow
            .sel-box
        .editlayout-color-item.color-purple
            .sel-arrow
            .sel-box
        .editlayout-color-item.color-pink
            .sel-arrow
            .sel-box
        .editlayout-color-item.color-red
            .sel-arrow
            .sel-box
        .editlayout-color-item.color-orange
            .sel-arrow
            .sel-box
        .editlayout-color-item.color-yellow
            .sel-arrow
            .sel-box
        .editlayout-color-item.color-green
            .sel-arrow
            .sel-box
        .editlayout-color-item.color-cyan
            .sel-arrow
            .sel-box
        .editlayout-color-item.color-gray
            .sel-arrow
            .sel-box
    //选择块的类型
    .editlayout-type
        .editlayout-type-btn.type-1.current
            .sel-arrow
            .sel-box
            .elb-type-btn-icon
            .elb-type-btn-title
        .editlayout-type-btn.type-2
            .sel-arrow
            .sel-box
            .elb-type-btn-icon
            .elb-type-btn-title-bg
            .elb-type-btn-title
        .editlayout-type-btn.type-3
            .sel-arrow
            .sel-box
            .elb-type-btn-icon
            .elb-type-btn-title
        .editlayout-type-btn.type-4
            .sel-arrow
            .sel-box
            .elb-type-btn-icon
            .elb-type-btn-title
        .editlayout-type-btn.type-5
            .sel-arrow
            .sel-box
            .elb-type-btn-icon
            .elb-type-btn-title
            .elb-type-btn-text
                .elb-type-btn-text-line
                .elb-type-btn-text-line
        .editlayout-type-btn.type-6
            .sel-arrow
            .sel-box
            .elb-type-btn-icon
            .elb-type-btn-title
        .editlayout-type-btn.type-7
            .sel-arrow
            .sel-box
            .elb-type-btn-icon
            .elb-type-btn-title
            .elb-type-btn-text
                .elb-type-btn-text-line
                .elb-type-btn-text-line
    .editlayout-container-bg
    .editlayout-block-container
    .editlayout-block-ghost-container
        .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-1.bn-block-ghost#pos_1_1
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-2.bn-pos-row-1.bn-block-ghost#pos_1_2
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-3.bn-pos-row-1.bn-block-ghost#pos_1_3
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-1.bn-block-ghost#pos_1_4
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-5.bn-pos-row-1.bn-block-ghost#pos_1_5
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-2.bn-block-ghost#pos_2_1
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-2.bn-pos-row-2.bn-block-ghost#pos_2_2
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-3.bn-pos-row-2.bn-block-ghost#pos_2_3
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-2.bn-block-ghost#pos_2_4
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-5.bn-pos-row-2.bn-block-ghost#pos_2_5
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-3.bn-block-ghost#pos_3_1
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-2.bn-pos-row-3.bn-block-ghost#pos_3_2
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-3.bn-pos-row-3.bn-block-ghost#pos_3_3
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-3.bn-block-ghost#pos_3_4
            i.bn-icon.fa.fa-plus
        .bn-block.bn-size-1x1.bn-pos-col-5.bn-pos-row-3.bn-block-ghost#pos_3_5
            i.bn-icon.fa.fa-plus
            
    
    
    
