.apps-container
    .applist-title
        i.iconfont.icon-shezhi
        |&nbsp;设置
    .setup_toggle
        .setup_toggle_btn
            i.iconfont.icon-ggzt
            |&nbsp;主题
            .deco-line
            .deco-sel
        .setup_toggle_btn
            i.iconfont.icon-qbyy
            |&nbsp;布局
            .deco-line
            .deco-sel
    .setup-content#theme_content
        .theme-box
            .sel-box
            img(src="images/bg01.jpg")
            .theme-title 主题1
        .theme-box
            .sel-box
            img(src="images/bg02.jpg")
            .theme-title 主题2
        .theme-box
            .sel-box
            img(src="images/bg03.jpg")
            .theme-title 主题3
        .theme-box
            .sel-box
            img(src="images/bg02.jpg")
            .theme-title 主题4
        .theme-box
            .sel-box
            img(src="images/bg03.jpg")
            .theme-title 主题5
        .theme-box
            .sel-box
            img(src="images/bg01.jpg")
            .theme-title 主题6
    .setup-content.layout-content#layout_content
        .layout-box.has-inner-btn.sel
            .sel-box
            .inner-btn-group
                .inner-btn
                    i.fa.fa-th
                    |&nbsp;编辑
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-1.bn-color-cyan
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-2.bn-color-pink
            .bn-block.bn-size-2x2.bn-pos-col-2.bn-pos-row-1.bn-color-blue
            .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-1.bn-color-purple.
            .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-2.bn-color-red    
            .bn-block.bn-size-1x1.bn-pos-col-5.bn-pos-row-1.bn-color-green
            .bn-block.bn-size-1x2.bn-pos-col-5.bn-pos-row-2.bn-color-cyan
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-3.bn-color-yellow
            .bn-block.bn-size-1x1.bn-pos-col-2.bn-pos-row-3.bn-color-green    
            .bn-block.bn-size-2x1.bn-pos-col-3.bn-pos-row-3.bn-color-gray
        .layout-box.has-inner-btn
            .sel-box
            .inner-btn-group
                .inner-btn
                    i.fa.fa-th
                    |&nbsp;编辑
                .inner-btn
                    i.fa.fa-trash-o
                    |&nbsp;删除
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-1.bn-color-cyan
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-2.bn-color-pink
            .bn-block.bn-size-2x2.bn-pos-col-2.bn-pos-row-1.bn-color-blue
            .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-1.bn-color-purple.
            .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-2.bn-color-red    
            .bn-block.bn-size-1x1.bn-pos-col-5.bn-pos-row-1.bn-color-green
            .bn-block.bn-size-1x2.bn-pos-col-5.bn-pos-row-2.bn-color-cyan
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-3.bn-color-yellow
            .bn-block.bn-size-1x1.bn-pos-col-2.bn-pos-row-3.bn-color-green    
            .bn-block.bn-size-2x1.bn-pos-col-3.bn-pos-row-3.bn-color-gray
        .layout-box.has-inner-btn
            .sel-box
            .inner-btn-group
                .inner-btn
                    i.fa.fa-th
                    |&nbsp;编辑
                .inner-btn
                    i.fa.fa-trash-o
                    |&nbsp;删除
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-1.bn-color-cyan
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-2.bn-color-pink
            .bn-block.bn-size-2x2.bn-pos-col-2.bn-pos-row-1.bn-color-blue
            .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-1.bn-color-purple.
            .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-2.bn-color-red    
            .bn-block.bn-size-1x1.bn-pos-col-5.bn-pos-row-1.bn-color-green
            .bn-block.bn-size-1x2.bn-pos-col-5.bn-pos-row-2.bn-color-cyan
            .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-3.bn-color-yellow
            .bn-block.bn-size-1x1.bn-pos-col-2.bn-pos-row-3.bn-color-green    
            .bn-block.bn-size-2x1.bn-pos-col-3.bn-pos-row-3.bn-color-gray
        .layout-box.btn-add#btn_addlayout
            .sel-box
            i.fa.fa-plus
