.apps-container
    .applist-title
        i.iconfont.icon-shezhi
        |&nbsp;设置
    .setup_toggle
        .setup_toggle_btn
            i.iconfont.icon-ggzt
            |&nbsp;主题
            .deco-line
            .deco-sel
        .setup_toggle_btn
            i.iconfont.icon-qbyy
            |&nbsp;布局
            .deco-line
            .deco-sel
    .setup-content#theme_content
        .theme-box
            .sel-box
            img(src="images/bg01.jpg")
            .theme-title 主题1
        .theme-box
            .sel-box
            img(src="images/bg02.jpg")
            .theme-title 主题2
        .theme-box
            .sel-box
            img(src="images/bg03.jpg")
            .theme-title 主题3
        .theme-box
            .sel-box
            img(src="images/bg04.jpg")
            .theme-title 主题4
        .theme-box
            .sel-box
            img(src="images/bg05.jpg")
            .theme-title 主题5
        .theme-box
            .sel-box
            img(src="images/bg06.jpg")
            .theme-title 主题6
    .setup-content.layout-content#layout_content
        
