extends layout

block css
    link(rel='stylesheet', href= CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'index.css')

block content
    .main-content
        .redirect-box
            

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'redirect.js')
    

        
