extends layout

block css
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='../css/bootstrap-table.min.css')
    link(rel='stylesheet', href='../css/bootstrapValidator.min.css')
    link(rel='stylesheet', href='../css/bootstrap-editable.css')
    link(rel='stylesheet', href='../css/bootstrap-treeview.min.css')
    link(rel='stylesheet', href='../css/index.css')

block content
    .container-fluid
        h1 系统设置
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
        h1 hello
        br
block js
    script(src='../js/jquery.min.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/moment/moment.min.js')
    script(src='../js/moment/zh-cn.js')
    script(src='../js/bootstrap-datetimepicker.min.js')
    script(src='../js/bootstrap-table/bootstrap-table.min.js')
    script(src='../js/bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src='../js/bootstrap-table/bootstrap-table-editable.min.js')
    script(src='../js/bootstrap-editable.min.js')
    script(src='../js/bootstrapvalidator/bootstrapValidator.min.js')
    script(src='../js/bootstrapvalidator/zh_CN.js')
    script(src='../js/bootstrap-treeview.min.js')
    script(src='../js/app.js')
    script(type='text/javascript').
        $(document).ready(function(){

        });


