.row.top-row.no-bottom
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-05.jpg')
            .rcs-pic-title 专家A
            .rcs-pic-content 领域A 领域B
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-06.jpg')
            .rcs-pic-title 专家B
            .rcs-pic-content 领域A 领域B
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-07.jpg')
            .rcs-pic-title 专家C
            .rcs-pic-content 领域A 领域B
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-08.jpg')
            .rcs-pic-title 专家D
            .rcs-pic-content 领域A 领域B