.row.top-row.no-bottom
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-01.jpg')
            .rcs-pic-title A产品
            .rcs-pic-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-02.jpg')
            .rcs-pic-title B产品
            .rcs-pic-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-03.jpg')
            .rcs-pic-title C产品
            .rcs-pic-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='#')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-04.jpg')
            .rcs-pic-title D产品
            .rcs-pic-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit