.bn-container#bn_container
    .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-1.bn-color-cyan.bn-layout-1
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-tzgg
            .bn-title 通知公告
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-2.bn-color-pink.bn-layout-1
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-txl
            .bn-title 同校聊
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-2x2.bn-pos-col-2.bn-pos-row-1.bn-color-blue.bn-layout-5
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-xysh
            .bn-title 校园生活
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-1.bn-color-purple.bn-layout-1
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-zy
            .bn-title 作业
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-1x1.bn-pos-col-4.bn-pos-row-2.bn-color-red.bn-layout-1.is-new
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-xyzx
            .bn-title 校园资讯
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-1x1.bn-pos-col-5.bn-pos-row-1.bn-color-green.bn-layout-1
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-xsqj
            .bn-title 学生请假
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-1x2.bn-pos-col-5.bn-pos-row-2.bn-color-cyan.bn-layout-5
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-xc
            .bn-title 秀场
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-1x1.bn-pos-col-1.bn-pos-row-3.bn-color-yellow.bn-layout-1
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-jzkt
            .bn-title 家长课堂
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-1x1.bn-pos-col-2.bn-pos-row-3.bn-color-green.bn-layout-1
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-qz
            .bn-title 圈子
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力
    
    .bn-block.bn-size-2x1.bn-pos-col-3.bn-pos-row-3.bn-color-gray.bn-layout-7
        .sel-box
        .bn-new-mark
            i.iconfont.icon-new
        .bn-block-content
            i.bn-icon.iconfont.icon-zhbjp
            .bn-title 智慧班级牌
            .bn-text 有时生活既艰难，又难懂，但无论你面对着怎样的障碍，都要记住你有跨越它们的能力,又难懂，但无论你面对着怎样的障碍
    
    
