.block-title.no-bottom.type2
    .block-title-head 
        |公司新闻
        .block-title-head-deco
    a.block-title-shoulder(href="javascript:;") 更多
ul.text-list.underline-list.pic-list
    li
        .list-pic
            a(href='javascript:void(0)')
                img(src='images/news-pic-1.jpg')
        .list-content
            .list-content-title
                a(href='javascript:void(0)') 中国方舟中小企业走出去资讯平台正式上线
            .list-content-info 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议，官方称翻越澳门大学新校区围墙属偷渡行为
    li
        .list-pic
            a(href='javascript:void(0)')
                img(src='images/news-pic-2.jpg')
        .list-content
            .list-content-title
                a(href='javascript:void(0)') 韩副外长将出席印尼世界经济论坛
            .list-content-info 官方称翻越澳门大学新校区围墙属偷渡行为，哪家公司提供的网站建设服务比较好
ul.text-list.dot-list.underline-list.with-date
    li
        a(href='#' target='_blank') 印尼将出动军队打击毒品犯罪印尼将出动军队打击毒品犯罪
        .date 06.23
    li
        a(href='#' target='_blank') 官方称翻越澳门大学新校区围墙属偷渡行为
        .date 06.21
    li
        a(href='#' target='_blank') 哪家公司提供的网站建设服务比较好？
        .date 06.20
    li
        a(href='#' target='_blank') 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议
        .date 06.18
    li
        a(href='#' target='_blank') 韩副外长将出席印尼世界经济论坛 介绍韩方立场
        .date 06.14
