.block-title.no-bottom.type2
    .block-title-head 
        |行业动态
        .block-title-head-deco
    a.block-title-shoulder(href="javascript:;") 更多
ul.text-list.underline-list.pic-list
    li
        .list-pic
            a(href='javascript:void(0)')
                img(src='images/news-pic-1.jpg')
        .list-content
            .list-content-title
                a(href='javascript:void(0)') 中国方舟中小企业走出去资讯平台正式上线
            .list-content-info 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议，官方称翻越澳门大学新校区围墙属偷渡行为
    li
        .list-pic
            a(href='javascript:void(0)')
                img(src='images/news-pic-2.jpg')
        .list-content
            .list-content-title
                a(href='javascript:void(0)') 韩副外长将出席印尼世界经济论坛
            .list-content-info 官方称翻越澳门大学新校区围墙属偷渡行为，哪家公司提供的网站建设服务比较好
    li
        .list-pic
            a(href='javascript:void(0)')
                img(src='images/news-pic-3.jpg')
        .list-content
            .list-content-title
                a(href='javascript:void(0)') 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议
            .list-content-info 华为与印尼方合作部署方案保障亚非会议安全，三星印尼工厂投产：生产向低成本市场转移
    li
        .list-pic
            a(href='javascript:void(0)')
                img(src='images/news-pic-4.jpg')
        .list-content
            .list-content-title
                a(href='javascript:void(0)') 印尼华人张克顺:中华文化核心就是郑和精神
            .list-content-info 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议，官方称翻越澳门大学新校区围墙属偷渡行为
    li
        .list-pic
            a(href='javascript:void(0)')
                img(src='images/news-pic-2.jpg')
        .list-content
            .list-content-title
                a(href='javascript:void(0)') 韩副外长将出席印尼世界经济论坛
            .list-content-info 官方称翻越澳门大学新校区围墙属偷渡行为，哪家公司提供的网站建设服务比较好
    li
        .list-pic
            a(href='javascript:void(0)')
                img(src='images/news-pic-1.jpg')
        .list-content
            .list-content-title
                a(href='javascript:void(0)') 中国方舟中小企业走出去资讯平台正式上线
            .list-content-info 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议，三星印尼工厂投产：生产向低成本市场转移