extends layout

block content
    include ../components/topbar/index-logined
    .dp-container
        .inner-content.mtop
            .col-2of3
                .col-content
                    include ../components/slider/index
                .col-content.space-10px
                    .block-title
                        .block-title-head 
                            |常用流程
                            .block-title-head-deco
                    .inner-content.no-bottom
                        include ../components/freq-used/index
                .col-content
                    .block-title
                        .block-title-head 
                            |待办事项
                            .block-title-head-deco
                        a.block-title-shoulder(href="javascript:;") 更多
                    include ../components/todo/index
                .col-1of2
                    .col-content
                        .block-title.no-bottom
                            .block-title-head 
                                |学习园地
                                .block-title-head-deco
                            a.block-title-shoulder(href="javascript:;") 更多
                        include ../components/text-list/text-list
                .col-1of2
                    .col-content
                        .block-title.no-bottom
                            .block-title-head 
                                |规章制度
                                .block-title-head-deco
                            a.block-title-shoulder(href="javascript:;") 更多
                        include ../components/text-list/text-no-date
            .col-1of3
                .col-content
                    .block-title.no-bottom.type2
                        .block-title-head 
                            |公司新闻
                            .block-title-head-deco
                        a.block-title-shoulder(href="javascript:;") 更多
                    include ../components/text-list/pic-text-list
                .col-content
                    .block-title.no-bottom.type2
                        .block-title-head 
                            |备忘录
                            .block-title-head-deco
                    include ../components/calendar/index
                .col-content
                    .block-title.type2
                        .block-title-head 
                            |公司宗旨
                            .block-title-head-deco
                        a.block-title-shoulder(href="javascript:;") 更多
                    include ../components/work-carousel/index
                .col-content
                    .block-title.no-bottom.type2
                        .block-title-head 
                            |行业资讯
                            .block-title-head-deco
                        a.block-title-shoulder(href="javascript:;") 更多
                    include ../components/text-list/text-list
    include ../components/footer/index


block js
    script(src='js/jquery.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/laydate/laydate.js')
    script(src='js/app.js')
    script(type='text/javascript').
        $(document).ready(function(){
            $('#m_slider').owlCarousel({
                items : 1,
                autoplay : true,
                nav : false,
                loop : true
            });
            $('.work-carousel').owlCarousel({
                nav:false,
                loop:true,
                autoplay:true,
                items:1,
            });
            
            
            //模拟备忘数据
            var memoData_1 = [
                {
                    memo : '备忘内容，2017年中团队执行力培训活动待审批,办公协同-人力资源-培训-总经理审批'
                },
                {
                    memo : '关于2017中秋节晚会筹办组委会成员名单及任务分配的通知,办公协同-人力资源-培训-总经理审批'
                }
            ];
            var memoData_2 = [];
            
            var memo = laydate.render({
                elem: '#calendar',
                position: 'static',
                btns: ['clear','now'],
                theme: 'grid',
                ready: function(){
                    $('#calendar').find('.layui-laydate-footer')[0].prepend('点击日期查看备忘');
                    checkHasMemo();
                },
                change: function(value, date, endDate) {
                    checkHasMemo();
                },
                done: function(value, date){
                    checkHasMemo();
                    if(value != '') {
                        //memo.hint('你选择的日期是：' + value);
                        //memoPop(value, date);
                        
                        var type = parseInt(value.split('-')[2])%2
                        //单数日期显示模拟的两条备忘，双数日期显示空备忘数据，仅用于前端演示
                        if(type) {
                            memoPop(value, memoData_1);
                        } else {
                            memoPop(value, memoData_2);
                        }
                    }
                }
            });
            
            //检测日历各天是否有备忘，有则显示角标
            function checkHasMemo(){
                var days = $('#calendar').find("td[lay-ymd]");
                
                days.each(function(){
                    //TODO ajax判断某个日期是否有备忘
                    //此处仅前端演示，单数日有备忘，双数日无备忘
                    var hasMemo = parseInt($(this).attr('lay-ymd').split('-')[2])%2;
                    //alert(hasMemo);
                    if(hasMemo) {
                        $(this).append('<span class="laydate-day-mark"></span>');
                    }
                });
            }
            
            function memoPop(date, memoData) {
                $('#calendar_pop').addClass('show');
                $('#memo_title').html(date);
                $('#memo_close').click(function(){
                    $('#calendar_pop').removeClass('show');
                });
                var memoContentHtml = "";
                
                
                if(memoData.length == 0) {
                    //空数据，显示暂无备忘
                    memoContentHtml = "<div class='memo-empty'>暂无备忘</div>";
                } else {
                    for(i in memoData) {
                        memoContentHtml += "<div class='memo-item'>" + memoData[i].memo + "</div>";
                    }
                }
                
                $('#memo_content').html(memoContentHtml);
            }
            
        });
        
