doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='renderer' content='webkit')
        meta(name='description', content='hisense')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title 汇业仓储
        block css
            link(rel='stylesheet', href='css/font-awesome.min.css')
            link(rel='stylesheet', href='css/owl.carousel.min.css')
            link(rel='stylesheet', href='css/owl.theme.default.min.css')
            link(rel='stylesheet', href='css/index.css')
    body
        block content
        block js
            script(src='js/jquery.min.js')
            script(src='js/owl.carousel.min.js')
            script(src='js/app.js')
