.block-title
    .block-title-head 
        |常用流程
        .block-title-head-deco
.inner-content.no-bottom
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-file-text
                .freq-used-title 上级发文
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-archive
                .freq-used-title 档案管理
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-tty
                .freq-used-title 损耗处理
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-search
                .freq-used-title 库存查询
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-book
                .freq-used-title 数据字典
    
            
