.col-1of5
    .col-content
        a.freq-used-box(href="#")
            .freq-used-icon
                i.fa.fa-file-text
            .freq-used-title 加班申请流程
.col-1of5
    .col-content
        a.freq-used-box(href="#")
            .freq-used-icon
                i.fa.fa-beer
            .freq-used-title 请假流程
.col-1of5
    .col-content
        a.freq-used-box(href="#")
            .freq-used-icon
                i.fa.fa-sticky-note
            .freq-used-title 销假流程
.col-1of5
    .col-content
        a.freq-used-box(href="#")
            .freq-used-icon
                i.fa.fa-sign-out
            .freq-used-title 外出条流程
.col-1of5
    .col-content
        a.freq-used-box(href="#")
            .freq-used-icon
                i.fa.fa-wrench
            .freq-used-title 设备保修流程
    
            
