.features-title.scroll-anim.anim-fly-up
    .ft-head
        .ft-head-box 创业服务
    .ft-body 
        |园区提供全方位创业服务，通过众创空间孵化众多创业项目，配备经验丰富的资深创业导师，提供创业辅导、创业扶持、创业路演等各项服务
        .ft-deco.ft-deco-left
        .ft-deco.ft-deco-right
.row.fitem-container
    .col-xs-3.scroll-anim.anim-fly-up
        a.fitem.touch-active(href="javascript:;")
            i.iconfont.icon-jiangbei.font-blue
            .fitem-title 创业成果
    .col-xs-3.scroll-anim.anim-fly-up.trans-delay-200ms
        a.fitem.touch-active(href="javascript:;")
            i.iconfont.icon-kongjian.font-blue
            .fitem-title 众创空间
    .col-xs-3.scroll-anim.anim-fly-up.trans-delay-400ms
        a.fitem.touch-active(href="javascript:;")
            i.iconfont.icon-fudao.font-blue
            .fitem-title 创业辅导
    .col-xs-3.scroll-anim.anim-fly-up.trans-delay-600ms
        a.fitem.touch-active(href="javascript:;")
            i.iconfont.icon-daoshi.font-blue
            .fitem-title 创业导师
    .col-xs-3.scroll-anim.anim-fly-up
        a.fitem.touch-active(href="javascript:;")
            i.iconfont.icon-peixun2.font-blue
            .fitem-title 创业培训
    .col-xs-3.scroll-anim.anim-fly-up.trans-delay-200ms
        a.fitem.touch-active(href="javascript:;")
            i.iconfont.icon-luyan.font-blue
            .fitem-title 创业路演
    .col-xs-3.scroll-anim.anim-fly-up.trans-delay-400ms
        a.fitem.touch-active(href="javascript:;")
            i.iconfont.icon-fuchi.font-blue
            .fitem-title 创业扶持
    .col-xs-3.scroll-anim.anim-fly-up.trans-delay-600ms
        a.fitem.touch-active(href="javascript:;")
            i.iconfont.icon-gengduo.font-blue
            .fitem-title 期待更多