.case-deal-box
    ul.case-deal-tab
        li.case-deal-btn.finished
            .case-deal-vline
            .case-deal-number 1
            .case-deal-number-current
            .case-deal-title 立案
            .case-deal-info 立案信息
            .case-sel-topline
            .case-sel-bottomline
            .case-sel-arrow.img-icon.icon-gray.icon-angelarrow-right
        li.case-deal-btn.current.sel
            .case-deal-vline
            .case-deal-number 2
            .case-deal-number-current
            .case-deal-title 流程2
            .case-deal-info 流程2相关说明介绍
            .case-sel-topline
            .case-sel-bottomline
            .case-sel-arrow.img-icon.icon-gray.icon-angelarrow-right
        li.case-deal-btn.unfinished
            .case-deal-vline
            .case-deal-number 3
            .case-deal-number-current
            .case-deal-title 流程3
            .case-deal-info 流程3相关说明介绍
            .case-sel-topline
            .case-sel-bottomline
            .case-sel-arrow.img-icon.icon-gray.icon-angelarrow-right
        li.case-deal-btn.unfinished
            .case-deal-vline
            .case-deal-number 4
            .case-deal-number-current
            .case-deal-title 流程4
            .case-deal-info 流程4相关说明介绍
            .case-sel-topline
            .case-sel-bottomline
            .case-sel-arrow.img-icon.icon-gray.icon-angelarrow-right
        li.case-deal-btn.unfinished
            .case-deal-vline
            .case-deal-number 5
            .case-deal-number-current
            .case-deal-title 结案
            .case-deal-info 结案相关说明介绍
            .case-sel-topline
            .case-sel-bottomline
            .case-sel-arrow.img-icon.icon-gray.icon-angelarrow-right
    .case-deal-content.space-20px
        .inner-content
            .col-1of2
                .case-deal-block.finished
                    .case-deal-block-head
                        .case-deal-block-icon
                            i.fa.fa-check-circle-o
                        .case-deal-block-text 已经完成
                    .case-deal-block-content
                        .case-deal-block-title 事项节点1
                        .case-deal-block-info 申请事项: 请求贵局依法对赵金钢涉嫌诈骗一案进行刑事立案,依法追究赵金钢的刑事责任
            .col-1of2
                .case-deal-block.unfinished
                    .case-deal-block-head
                        .case-deal-block-icon
                            i.fa.fa-arrow-circle-o-down
                        .case-deal-block-text 立即开始
                    .case-deal-block-content
                        .case-deal-block-title 事项节点2
                        .case-deal-block-info 申请事项: 请求贵局依法对赵金钢涉嫌诈骗一案进行刑事立案,依法追究赵金钢的刑事责任
            .col-1of2
                .case-deal-link.ball.ctl.crl.rbl
                    .center-ball.bg-finished
                        i.fa.fa-check
                    .center-top-line.bg-finished
                    .center-right-line
                    .center-bottom-line
                    .center-left-line
                    .left-top-line
                    .left-bottom-line
                    .right-top-line
                    .right-bottom-line
            .col-1of2
                .case-deal-link.ball.ctl.cll.lbl
                    .center-ball.bg-unfinished
                        i.fa.fa-arrow-left
                    .center-top-line.bg-unfinished
                    .center-right-line
                    .center-bottom-line
                    .center-left-line
                    .left-top-line
                    .left-bottom-line
                    .right-top-line
                    .right-bottom-line
            .col-1of2.col-offsetleft-1of4.col-offsetright-1of4
                .case-deal-block.disabled
                    .case-deal-block-head
                        .case-deal-block-icon
                            i.fa.fa-pause
                        .case-deal-block-text 暂未开始
                    .case-deal-block-content
                        .case-deal-block-title 事项节点3
                        .case-deal-block-info 申请事项: 请求贵局依法对赵金钢涉嫌诈骗一案进行刑事立案,依法追究赵金钢的刑事责任
            .col-1of2.col-offsetleft-1of4.col-offsetright-1of4
                .case-deal-link.ball.ctl.cbl
                    .center-ball
                        i.fa.fa-arrow-down
                    .center-top-line
                    .center-right-line
                    .center-bottom-line
                    .center-left-line
                    .left-top-line
                    .left-bottom-line
                    .right-top-line
                    .right-bottom-line  
            .col-1of2.col-offsetleft-1of4.col-offsetright-1of4
                .case-deal-block.disabled
                    .case-deal-block-head
                        .case-deal-block-icon
                            i.fa.fa-pause
                        .case-deal-block-text 暂未开始
                    .case-deal-block-content
                        .case-deal-block-title 事项节点4
                        .case-deal-block-info 申请事项: 请求贵局依法对赵金钢涉嫌诈骗一案进行刑事立案,依法追究赵金钢的刑事责任      
                        
