.content-switch
    a.btn-content-switch(href="m-estate-clean.html") 保洁申请
    a.btn-content-switch(href="m-estate-repair.html") 一键报修
    .btn-content-switch.sel 配送申请
    a.btn-content-switch(href="m-estate-deco.html") 装修申请
