.section-title.mb10
    span.section-title-icon
    span.section-title-text 消息通知
    a.section-title-shoulder(href="personal-notice.html") 更多
ul.text-list.dot-list.underline-list.with-date
    li
        a(href='#' target='_blank') 印尼将出动军队打击毒品犯罪印尼将出动军队打击毒品犯罪
        .date 06.23
    li
        a(href='#' target='_blank') 官方称翻越澳门大学新校区围墙属偷渡行为
        .date 06.21
    li
        a(href='#' target='_blank') 哪家公司提供的网站建设服务比较好？
        .date 06.20
    li
        a(href='#' target='_blank') 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议
        .date 06.18
    li
        a(href='#' target='_blank') 韩副外长将出席印尼世界经济论坛 介绍韩方立场
        .date 06.14
    li
        a(href='#' target='_blank') 印尼将出动军队打击毒品犯罪印尼将出动军队打击毒品犯罪
        .date 06.23
    li
        a(href='#' target='_blank') 官方称翻越澳门大学新校区围墙属偷渡行为
        .date 06.21
    li
        a(href='#' target='_blank') 哪家公司提供的网站建设服务比较好？
        .date 06.20
    li
        a(href='#' target='_blank') 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议
        .date 06.18
    li
        a(href='#' target='_blank') 韩副外长将出席印尼世界经济论坛 介绍韩方立场
        .date 06.14
