/*! colors vairables */

// black and white
BLACK = #000000
WHITE = #ffffff

// gray
GRAY = #e5e5e5
GRAY_CASCADE = #95a5a6
GRAY_SILVER = #bfbfbf
GRAY_STEEL = #e9edef
GRAY_CARARRA =#fafafa
GRAY_GALLERY = #555555
GRAY_F9 = #F9F9F9
GRAY_F5 = #F5F5F5
GRAY_F0 = #F0F0F0
GRAY_EE = #EEEEEE
GRAY_EB = #EBEBEB
GRAY_E3 = #E3E3E3
GRAY_D6 = #D6D6D6
GRAY_CC = #CCCCCC
GRAY_BB = #BBBBBB
GRAY_AA = #AAAAAA
GRAY_99 = #999999
GRAY_9B = #9B9B9B
GRAY_66 = #666666
GRAY_5A = #5A5A5A
GRAY_33 = #333333

// blue
BLUE = #3598dc
BLUE_HOKI = #67809f
BLUE_STEEL = #4b77be
BLUE_OCEAN = #0c80e8
BLUE_MADISON = #578ebe
BLUE_CHAMBRAY = #2c3e50
BLUE_EBONYCLAY = #22313f

// green
GREEN = #26a69a
GREEN_MEADOW = #1bbc9b
GREEN_SEAGREEN = #1ba39c
GREEN_TURQUOISE = #36d7b7
GREEN_HAZE = #44b6ae
GREEN_JUNGLE = #26c281
GREEN_GRASS = #09be00

// red
RED = #cb5a5e
RED_PINK = #e08283
RED_SUNGLO = #e26a6a
RED_INTENSE = #e35b5a
RED_THUNDERBIRD = #d91e18
RED_FLAMINGO = #ef4836
RED_ORANGE = #e4420a

// yellow
YELLOW = #c49f47
YELLOW_GOLD = #e87e04
YELLOW_CASABLANCA = #f2784b
YELLOW_CRUSTA = #f3c200
YELLOW_LEMON = #f7ca18
YELLOW_SAFFRON = #f4d03f
YELLOW_SUNSET = #e89d0c
YELLOW_BRONZE = #ff9000

// purple
PURPLE = #8e5fa2
PURPLE_PLUM = #8775a7
PURPLE_MEDIUM = #bf55ec
PURPLE_STUDIO = #8e44ad
PURPLE_WISTERIA = #9b59b6
PURPLE_SEANCE = #9a12b3
PURPLE_SUNSET = #6902b9

// bg colors
// ------------------------------------------------------------------
LIGHTEN_PCT = 10%
DARKEN_PCT = 10%

.bg-white
    background-color WHITE !important
    &.bg-hover-lighten:hover
        background-color WHITE !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(WHITE, DARKEN_PCT) !important
.bg-black
    background-color BLACK !important
    &.bg-hover-lighten:hover
    &.active
        background-color lighten(BLACK, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
        background-color BLACK !important

.bg-gray
    background-color GRAY !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY, DARKEN_PCT) !important
.bg-gray-cascade
    background-color GRAY_CASCADE !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_CASCADE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_CASCADE, DARKEN_PCT) !important
.bg-gray-silver
    background-color GRAY_SILVER !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_SILVER, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_SILVER, DARKEN_PCT) !important
.bg-gray-steel
    background-color GRAY_STEEL !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_STEEL, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_STEEL, DARKEN_PCT) !important
.bg-gray-cararra
    background-color GRAY_CARARRA !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_CARARRA, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_CARARRA, DARKEN_PCT) !important
.bg-gray-gallery
    background-color GRAY_GALLERY !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_GALLERY, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_GALLERY, DARKEN_PCT) !important
.bg-gray-f9
    background-color GRAY_F9 !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_F9, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_F9, DARKEN_PCT) !important
.bg-gray-f5
    background-color GRAY_F5 !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_F5, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_F5, DARKEN_PCT) !important
.bg-gray-f0
    background-color GRAY_F0 !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_F0, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_F0, DARKEN_PCT) !important
.bg-gray-e3
    background-color GRAY_E3 !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_E3, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_E3, DARKEN_PCT) !important
.bg-gray-eb
    background-color GRAY_EB !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_EB, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_EB, DARKEN_PCT) !important
.bg-gray-ee
    background-color GRAY_EE !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_EE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_EE, DARKEN_PCT) !important
.bg-gray-d6
    background-color GRAY_D6 !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_D6, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_D6, DARKEN_PCT) !important
.bg-gray-cc
    background-color GRAY_CC !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_CC, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_CC, DARKEN_PCT) !important
.bg-gray-bb
    background-color GRAY_BB !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_BB, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_BB, DARKEN_PCT) !important
.bg-gray-99
    background-color GRAY_99 !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_99, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_99, DARKEN_PCT) !important
.bg-gray-66
    background-color GRAY_66 !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_66, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_66, DARKEN_PCT) !important
.bg-gray-33
    background-color GRAY_33 !important
    &.bg-hover-lighten:hover
        background-color lighten(GRAY_33, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GRAY_33, DARKEN_PCT) !important

.bg-blue
    background-color BLUE !important
    &.bg-hover-lighten:hover
        background-color lighten(BLUE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(BLUE, DARKEN_PCT) !important
.bg-blue-hoki
    background-color BLUE_HOKI !important
    &.bg-hover-lighten:hover
        background-color lighten(BLUE_HOKI, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(BLUE_HOKI, DARKEN_PCT) !important
.bg-blue-steel
    background-color BLUE_STEEL !important
    &.bg-hover-lighten:hover
        background-color lighten(BLUE_STEEL, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(BLUE_STEEL, DARKEN_PCT) !important
.bg-blue-ocean
    background-color BLUE_OCEAN !important
    &.bg-hover-lighten:hover
        background-color lighten(BLUE_OCEAN, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(BLUE_OCEAN, DARKEN_PCT) !important
.bg-blue-madison
    background-color BLUE_MADISON !important
    &.bg-hover-lighten:hover
        background-color lighten(BLUE_MADISON, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(BLUE_MADISON, DARKEN_PCT) !important
.bg-blue-chambray
    background-color BLUE_CHAMBRAY !important
    &.bg-hover-lighten:hover
        background-color lighten(BLUE_CHAMBRAY, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(BLUE_CHAMBRAY, DARKEN_PCT) !important
.bg-blue-ebonyclay
    background-color BLUE_EBONYCLAY !important
    &.bg-hover-lighten:hover
        background-color lighten(BLUE_EBONYCLAY, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(BLUE_EBONYCLAY, DARKEN_PCT) !important

.bg-green
    background-color GREEN !important
    &.bg-hover-lighten:hover
        background-color lighten(GREEN, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GREEN, DARKEN_PCT) !important
.bg-green-meadow
    background-color GREEN_MEADOW !important
    &.bg-hover-lighten:hover
        background-color lighten(GREEN_MEADOW, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GREEN_MEADOW, DARKEN_PCT) !important
.bg-green-seagreen
    background-color GREEN_SEAGREEN !important
    &.bg-hover-lighten:hover
        background-color lighten(GREEN_SEAGREEN, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GREEN_SEAGREEN, DARKEN_PCT) !important
.bg-green-turquoise
    background-color GREEN_TURQUOISE !important
    &.bg-hover-lighten:hover
        background-color lighten(GREEN_TURQUOISE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GREEN_TURQUOISE, DARKEN_PCT) !important
.bg-green-haze
    background-color GREEN_HAZE !important
    &.bg-hover-lighten:hover
        background-color lighten(GREEN_HAZE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GREEN_HAZE, DARKEN_PCT) !important
.bg-green-jungle
    background-color GREEN_JUNGLE !important
    &.bg-hover-lighten:hover
        background-color lighten(GREEN_JUNGLE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GREEN_JUNGLE, DARKEN_PCT) !important
.bg-green-grass
    background-color GREEN_GRASS !important
    &.bg-hover-lighten:hover
        background-color lighten(GREEN_GRASS, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(GREEN_GRASS, DARKEN_PCT) !important

.bg-red
    background-color RED !important
    &.bg-hover-lighten:hover
        background-color lighten(RED, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(RED, DARKEN_PCT) !important
.bg-red-pink
    background-color RED_PINK !important
    &.bg-hover-lighten:hover
        background-color lighten(RED_PINK, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(RED_PINK, DARKEN_PCT) !important
.bg-red-sunglo
    background-color RED_SUNGLO !important
    &.bg-hover-lighten:hover
        background-color lighten(RED_SUNGLO, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(RED_SUNGLO, DARKEN_PCT) !important
.bg-red-intense
    background-color RED_INTENSE !important
    &.bg-hover-lighten:hover
        background-color lighten(RED_INTENSE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(RED_INTENSE, DARKEN_PCT) !important
.bg-red-thunderbird
    background-color RED_THUNDERBIRD !important
    &.bg-hover-lighten:hover
        background-color lighten(RED_THUNDERBIRD, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(RED_THUNDERBIRD, DARKEN_PCT) !important
.bg-red-flamingo
    background-color RED_FLAMINGO !important
    &.bg-hover-lighten:hover
        background-color lighten(RED_FLAMINGO, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(RED_FLAMINGO, DARKEN_PCT) !important
.bg-red-orange
    background-color RED_ORANGE !important
    &.bg-hover-lighten:hover
        background-color lighten(RED_ORANGE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(RED_ORANGE, DARKEN_PCT) !important

.bg-yellow
    background-color YELLOW !important
    &.bg-hover-lighten:hover
        background-color lighten(YELLOW, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(YELLOW, DARKEN_PCT) !important
.bg-yellow-gold
    background-color YELLOW_GOLD !important
    &.bg-hover-lighten:hover
        background-color lighten(YELLOW_GOLD, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(YELLOW_GOLD, DARKEN_PCT) !important
.bg-yellow-casablanca
    background-color YELLOW_CASABLANCA !important
    &.bg-hover-lighten:hover
        background-color lighten(YELLOW_CASABLANCA, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(YELLOW_CASABLANCA, DARKEN_PCT) !important
.bg-yellow-crusta
    background-color YELLOW_CRUSTA !important
    &.bg-hover-lighten:hover
        background-color lighten(YELLOW_CRUSTA, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(YELLOW_CRUSTA, DARKEN_PCT) !important
.bg-yellow-lemon
    background-color YELLOW_LEMON !important
    &.bg-hover-lighten:hover
        background-color lighten(YELLOW_LEMON, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(YELLOW_LEMON, DARKEN_PCT) !important
.bg-yellow-saffron
    background-color YELLOW_SAFFRON !important
    &.bg-hover-lighten:hover
        background-color lighten(YELLOW_SAFFRON, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(YELLOW_SAFFRON, DARKEN_PCT) !important
.bg-yellow-sunset
    background-color YELLOW_SUNSET !important
    &.bg-hover-lighten:hover
        background-color lighten(YELLOW_SUNSET, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(YELLOW_SUNSET, DARKEN_PCT) !important
.bg-yellow-bronze
    background-color YELLOW_BRONZE !important
    &.bg-hover-lighten:hover
        background-color lighten(YELLOW_BRONZE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(YELLOW_BRONZE, DARKEN_PCT) !important

.bg-purple
    background-color PURPLE !important
    &.bg-hover-lighten:hover
        background-color lighten(PURPLE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(PURPLE, DARKEN_PCT) !important
.bg-purple-plum
    background-color PURPLE_PLUM !important
    &.bg-hover-lighten:hover
        background-color lighten(PURPLE_PLUM, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(PURPLE_PLUM, DARKEN_PCT) !important
.bg-purple-medium
    background-color PURPLE_MEDIUM !important
    &.bg-hover-lighten:hover
        background-color lighten(PURPLE_MEDIUM, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(PURPLE_MEDIUM, DARKEN_PCT) !important
.bg-purple-studio
    background-color PURPLE_STUDIO !important
    &.bg-hover-lighten:hover
        background-color lighten(PURPLE_STUDIO, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(PURPLE_STUDIO, DARKEN_PCT) !important
.bg-purple-wisteria
    background-color PURPLE_WISTERIA !important
    &.bg-hover-lighten:hover
        background-color lighten(PURPLE_WISTERIA, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(PURPLE_WISTERIA, DARKEN_PCT) !important
.bg-purple-seance
    background-color PURPLE_SEANCE !important
    &.bg-hover-lighten:hover
        background-color lighten(PURPLE_SEANCE, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(PURPLE_SEANCE, DARKEN_PCT) !important
.bg-purple-sunset
    background-color PURPLE_SUNSET !important
    &.bg-hover-lighten:hover
        background-color lighten(PURPLE_SUNSET, LIGHTEN_PCT) !important
    &.bg-hover-darken:hover
    &.active
        background-color darken(PURPLE_SUNSET, DARKEN_PCT) !important

// font colors
// ------------------------------------------------------------------

.font-white
    color WHITE !important
    &.font-hover-lighten:hover
        color WHITE !important
    &.font-hover-darken:hover
        color darken(WHITE, DARKEN_PCT) !important
.font-black
    color BLACK !important
    &.font-hover-lighten:hover
        color lighten(BLACK, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color BLACK !important

.font-gray
    color GRAY !important
    &.font-hover-lighten:hover
        color lighten(GRAY, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY, DARKEN_PCT) !important
.font-gray-cascade
    color GRAY_CASCADE !important
    &.font-hover-lighten:hover
        color lighten(GRAY_CASCADE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_CASCADE, DARKEN_PCT) !important
.font-gray-silver
    color GRAY_SILVER !important
    &.font-hover-lighten:hover
        color lighten(GRAY_SILVER, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_SILVER, DARKEN_PCT) !important
.font-gray-steel
    color GRAY_STEEL !important
    &.font-hover-lighten:hover
        color lighten(GRAY_STEEL, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_STEEL, DARKEN_PCT) !important
.font-gray-cararra
    color GRAY_CARARRA !important
    &.font-hover-lighten:hover
        color lighten(GRAY_CARARRA, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_CARARRA, DARKEN_PCT) !important
.font-gray-gallery
    color GRAY_GALLERY !important
    &.font-hover-lighten:hover
        color lighten(GRAY_GALLERY, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_GALLERY, DARKEN_PCT) !important
.font-gray-f9
    color GRAY_F9 !important
    &.font-hover-lighten:hover
        color lighten(GRAY_F9, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_F9, DARKEN_PCT) !important
.font-gray-f5
    color GRAY_F5 !important
    &.font-hover-lighten:hover
        color lighten(GRAY_F5, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_F5, DARKEN_PCT) !important
.font-gray-f0
    color GRAY_F0 !important
    &.font-hover-lighten:hover
        color lighten(GRAY_F0, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_F0, DARKEN_PCT) !important
.font-gray-ee
    color GRAY_EE !important
    &.font-hover-lighten:hover
        color lighten(GRAY_EE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_EE, DARKEN_PCT) !important
.font-gray-eb
    color GRAY_EB !important
    &.font-hover-lighten:hover
        color lighten(GRAY_EB, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_EB, DARKEN_PCT) !important
.font-gray-e3
    color GRAY_E3 !important
    &.font-hover-lighten:hover
        color lighten(GRAY_E3, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_E3, DARKEN_PCT) !important
.font-gray-d6
    color GRAY_D6 !important
    &.font-hover-lighten:hover
        color lighten(GRAY_D6, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_D6, DARKEN_PCT) !important
.font-gray-cc
    color GRAY_CC !important
    &.font-hover-lighten:hover
        color lighten(GRAY_CC, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_CC, DARKEN_PCT) !important
.font-gray-bb
    color GRAY_BB !important
    &.font-hover-lighten:hover
        color lighten(GRAY_BB, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_BB, DARKEN_PCT) !important
.font-gray-99
    color GRAY_99 !important
    &.font-hover-lighten:hover
        color lighten(GRAY_99, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_99, DARKEN_PCT) !important
.font-gray-66
    color GRAY_66 !important
    &.font-hover-lighten:hover
        color lighten(GRAY_66, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_66, DARKEN_PCT) !important
.font-gray-33
    color GRAY_33 !important
    &.font-hover-lighten:hover
        color lighten(GRAY_33, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GRAY_33, DARKEN_PCT) !important


.font-blue
    color BLUE !important
    &.font-hover-lighten:hover
        color lighten(BLUE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(BLUE, DARKEN_PCT) !important
.font-blue-hoki
    color BLUE_HOKI !important
    &.font-hover-lighten:hover
        color lighten(BLUE_HOKI, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(BLUE_HOKI, DARKEN_PCT) !important
.font-blue-steel
    color BLUE_STEEL !important
    &.font-hover-lighten:hover
        color lighten(BLUE_STEEL, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(BLUE_STEEL, DARKEN_PCT) !important
.font-blue-ocean
    color BLUE_OCEAN !important
    &.font-hover-lighten:hover
        color lighten(BLUE_OCEAN, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(BLUE_OCEAN, DARKEN_PCT) !important
.font-blue-madison
    color BLUE_MADISON !important
    &.font-hover-lighten:hover
        color lighten(BLUE_MADISON, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(BLUE_MADISON, DARKEN_PCT) !important
.font-blue-chambray
    color BLUE_CHAMBRAY !important
    &.font-hover-lighten:hover
        color lighten(BLUE_CHAMBRAY, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(BLUE_CHAMBRAY, DARKEN_PCT) !important
.font-blue-ebonyclay
    color BLUE_EBONYCLAY !important
    &.font-hover-lighten:hover
        color lighten(BLUE_EBONYCLAY, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(BLUE_EBONYCLAY, DARKEN_PCT) !important

.font-green
    color GREEN !important
    &.font-hover-lighten:hover
        color lighten(GREEN, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GREEN, DARKEN_PCT) !important
.font-green-meadow
    color GREEN_MEADOW !important
    &.font-hover-lighten:hover
        color lighten(GREEN_MEADOW, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GREEN_MEADOW, DARKEN_PCT) !important
.font-green-seagreen
    color GREEN_SEAGREEN !important
    &.font-hover-lighten:hover
        color lighten(GREEN_SEAGREEN, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GREEN_SEAGREEN, DARKEN_PCT) !important
.font-green-turquoise
    color GREEN_TURQUOISE !important
    &.font-hover-lighten:hover
        color lighten(GREEN_TURQUOISE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GREEN_TURQUOISE, DARKEN_PCT) !important
.font-green-haze
    color GREEN_HAZE !important
    &.font-hover-lighten:hover
        color lighten(GREEN_HAZE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GREEN_HAZE, DARKEN_PCT) !important
.font-green-jungle
    color GREEN_JUNGLE !important
    &.font-hover-lighten:hover
        color lighten(GREEN_JUNGLE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GREEN_JUNGLE, DARKEN_PCT) !important
.font-green-grass
    color GREEN_GRASS !important
    &.font-hover-lighten:hover
        color lighten(GREEN_GRASS, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(GREEN_GRASS, DARKEN_PCT) !important

.font-red
    color RED !important
    &.font-hover-lighten:hover
        color lighten(RED, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(RED, DARKEN_PCT) !important
.font-red-pink
    color RED_PINK !important
    &.font-hover-lighten:hover
        color lighten(RED_PINK, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(RED_PINK, DARKEN_PCT) !important
.font-red-sunglo
    color RED_SUNGLO !important
    &.font-hover-lighten:hover
        color lighten(RED_SUNGLO, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(RED_SUNGLO, DARKEN_PCT) !important
.font-red-intense
    color RED_INTENSE !important
    &.font-hover-lighten:hover
        color lighten(RED_INTENSE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(RED_INTENSE, DARKEN_PCT) !important
.font-red-thunderbird
    color RED_THUNDERBIRD !important
    &.font-hover-lighten:hover
        color lighten(RED_THUNDERBIRD, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(RED_THUNDERBIRD, DARKEN_PCT) !important
.font-red-flamingo
    color RED_FLAMINGO !important
    &.font-hover-lighten:hover
        color lighten(RED_FLAMINGO, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(RED_FLAMINGO, DARKEN_PCT) !important
.font-red-orange
    color RED_ORANGE !important
    &.font-hover-lighten:hover
        color lighten(RED_ORANGE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(RED_ORANGE, DARKEN_PCT) !important

.font-yellow
    color YELLOW !important
    &.font-hover-lighten:hover
        color lighten(YELLOW, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(YELLOW, DARKEN_PCT) !important
.font-yellow-gold
    color YELLOW_GOLD !important
    &.font-hover-lighten:hover
        color lighten(YELLOW_GOLD, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(YELLOW_GOLD, DARKEN_PCT) !important
.font-yellow-casablanca
    color YELLOW_CASABLANCA !important
    &.font-hover-lighten:hover
        color lighten(YELLOW_CASABLANCA, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(YELLOW_CASABLANCA, DARKEN_PCT) !important
.font-yellow-crusta
    color YELLOW_CRUSTA !important
    &.font-hover-lighten:hover
        color lighten(YELLOW_CRUSTA, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(YELLOW_CRUSTA, DARKEN_PCT) !important
.font-yellow-lemon
    color YELLOW_LEMON !important
    &.font-hover-lighten:hover
        color lighten(YELLOW_LEMON, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(YELLOW_LEMON, DARKEN_PCT) !important
.font-yellow-saffron
    color YELLOW_SAFFRON !important
    &.font-hover-lighten:hover
        color lighten(YELLOW_SAFFRON, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(YELLOW_SAFFRON, DARKEN_PCT) !important
.font-yellow-sunset
    color YELLOW_SUNSET !important
    &.font-hover-lighten:hover
        color lighten(YELLOW_SUNSET, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(YELLOW_SUNSET, DARKEN_PCT) !important
.font-yellow-bronze
    color YELLOW_BRONZE !important
    &.font-hover-lighten:hover
        color lighten(YELLOW_BRONZE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(YELLOW_BRONZE, DARKEN_PCT) !important

.font-purple
    color PURPLE !important
    &.font-hover-lighten:hover
        color lighten(PURPLE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(PURPLE, DARKEN_PCT) !important
.font-purple-plum
    color PURPLE_PLUM !important
    &.font-hover-lighten:hover
        color lighten(PURPLE_PLUM, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(PURPLE_PLUM, DARKEN_PCT) !important
.font-purple-medium
    color PURPLE_MEDIUM !important
    &.font-hover-lighten:hover
        color lighten(PURPLE_MEDIUM, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(PURPLE_MEDIUM, DARKEN_PCT) !important
.font-purple-studio
    color PURPLE_STUDIO !important
    &.font-hover-lighten:hover
        color lighten(PURPLE_STUDIO, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(PURPLE_STUDIO, DARKEN_PCT) !important
.font-purple-wisteria
    color PURPLE_WISTERIA !important
    &.font-hover-lighten:hover
        color lighten(PURPLE_WISTERIA, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(PURPLE_WISTERIA, DARKEN_PCT) !important
.font-purple-seance
    color PURPLE_SEANCE !important
    &.font-hover-lighten:hover
        color lighten(PURPLE_SEANCE, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(PURPLE_SEANCE, DARKEN_PCT) !important
.font-purple-sunset
    color PURPLE_SUNSET !important
    &.font-hover-lighten:hover
        color lighten(PURPLE_SUNSET, LIGHTEN_PCT) !important
    &.font-hover-darken:hover
        color darken(PURPLE_SUNSET, DARKEN_PCT) !important



// font colors
// ------------------------------------------------------------------

.border-white
    border-color WHITE !important
.border-black
    border-color BLACK !important

.border-gray
    border-color GRAY !important
.border-gray-cascade
    border-color GRAY_CASCADE !important
.border-gray-silver
    border-color GRAY_SILVER !important
.border-gray-steel
    border-color GRAY_STEEL !important
.border-gray-cararra
    border-color GRAY_CARARRA !important
.border-gray-gallery
    border-color GRAY_GALLERY !important
.border-gray-f9
    border-color GRAY_F9 !important
.border-gray-f5
    border-color GRAY_F5 !important
.border-gray-f0
    border-color GRAY_F0 !important
.border-gray-ee
    border-color GRAY_EE !important
.border-gray-eb
    border-color GRAY_EB !important
.border-gray-e3
    border-color GRAY_E3 !important
.border-gray-d6
    border-color GRAY_D6 !important
.border-gray-cc
    border-color GRAY_CC !important
.border-gray-bb
    border-color GRAY_BB !important
.border-gray-99
    border-color GRAY_99 !important
.border-gray-66
    border-color GRAY_66 !important
.border-gray-33
    border-color GRAY_33 !important

.border-blue
    border-color BLUE !important
.border-blue-hoki
    border-color BLUE_HOKI !important
.border-blue-steel
    border-color BLUE_STEEL !important
.border-blue-ocean
    border-color BLUE_OCEAN !important
.border-blue-madison
    border-color BLUE_MADISON !important
.border-blue-chambray
    border-color BLUE_CHAMBRAY !important
.border-blue-ebonyclay
    border-color BLUE_EBONYCLAY !important

.border-green
    border-color GREEN !important
.border-green-meadow
    border-color GREEN_MEADOW !important
.border-green-seagreen
    border-color GREEN_SEAGREEN !important
.border-green-turquoise
    border-color GREEN_TURQUOISE !important
.border-green-haze
    border-color GREEN_HAZE !important
.border-green-jungle
    border-color GREEN_JUNGLE !important
.border-green-grass
    border-color GREEN_GRASS !important

.border-red
    border-color RED !important
.border-red-pink
    border-color RED_PINK !important
.border-red-sunglo
    border-color RED_SUNGLO !important
.border-red-intense
    border-color RED_INTENSE !important
.border-red-thunderbird
    border-color RED_THUNDERBIRD !important
.border-red-flamingo
    border-color RED_FLAMINGO !important
.border-red-orange
    border-color RED_ORANGE !important

.border-yellow
    border-color YELLOW !important
.border-yellow-gold
    border-color YELLOW_GOLD !important
.border-yellow-casablanca
    border-color YELLOW_CASABLANCA !important
.border-yellow-crusta
    border-color YELLOW_CRUSTA !important
.border-yellow-lemon
    border-color YELLOW_LEMON !important
.border-yellow-saffron
    border-color YELLOW_SAFFRON !important
.border-yellow-sunset
    border-color YELLOW_SUNSET !important
.border-yellow-bronze
    border-color YELLOW_BRONZE !important

.border-purple
    border-color PURPLE !important
.border-purple-plum
    border-color PURPLE_PLUM !important
.border-purple-medium
    border-color PURPLE_MEDIUM !important
.border-purple-studio
    border-color PURPLE_STUDIO !important
.border-purple-wisteria
    border-color PURPLE_WISTERIA !important
.border-purple-seance
    border-color PURPLE_SEANCE !important
.border-purple-sunset
    border-color PURPLE_SUNSET !important
