.first-margin
    .m-slider.owl-carousel.owl-theme#m_slider
        a.item(href="m-article.html")
            .abs-container.abs-hp-2of5
                .abs-content
                    .item-bg
                        img(src = IMG_DIR + "slider_1.jpg")
        a.item(href="m-article.html")
            .abs-container.abs-hp-2of5
                .abs-content
                    .item-bg
                        img(src = IMG_DIR + "slider_2.jpg")
        a.item(href="m-article.html")
            .abs-container.abs-hp-2of5
                .abs-content
                    .item-bg
                        img(src = IMG_DIR + "slider_3.jpg")
        a.item(href="m-article.html")
            .abs-container.abs-hp-2of5
                .abs-content
                    .item-bg
                        img(src = IMG_DIR + "slider_4.jpg")
        a.item(href="m-article.html")
            .abs-container.abs-hp-2of5
                .abs-content
                    .item-bg
                        img(src = IMG_DIR + "slider_5.jpg")
