.footer
    .container
        .row
            .col-xs-12.mobile-hidden
                .pull-left
                    .phone
                        i.fa.fa-phone-square
                        |&nbsp;0532-81931688
                    .address 地址:中国青岛李沧区黑龙江中路398号
                    .address 传真:+86-532-87665578
                .pull-left.contact-icons
                    .link-icon
                        i.fa.fa-weibo
                    .link-icon
                        i.fa.fa-weixin
                        .link-icon-qrcode-pop
                            .imgbox
                                img(src = IMG_DIR + 'qrcode.png')
                    .link-icon
                        i.fa.fa-qq
                        .link-icon-qrcode-pop
                            .imgbox
                                img(src = IMG_DIR + 'qrcode.png')
                .pull-right
                    .logos
                        .logo
                            img(src = IMG_DIR + 'logo-white.png')
                        .logo
                            img(src = IMG_DIR + 'logo-wuye.png')
                    .btn-join
                        span 友情链接
                        .flinks
                            a(href="javascript:;") 中艺官方网站
                            a(href="javascript:;") 中国软件行业协会官方网站
                            a(href="javascript:;") 山东人力资源官网
                            a(href="javascript:;") 青岛政务网
                            a(href="javascript:;") 青岛崂山创新园官方网站
                            a(href="javascript:;") 青岛海尔云谷官方网站
                            a(href="javascript:;") 青岛市南软件园官方网站
                            a(href="javascript:;") 青岛湛山创意工厂官方网站
                            a(href="javascript:;") 中艺官方网站
                            a(href="javascript:;") 中国软件行业协会官方网站
                            a(href="javascript:;") 山东人力资源官网
                            a(href="javascript:;") 青岛政务网
                            a(href="javascript:;") 青岛崂山创新园官方网站
                            a(href="javascript:;") 青岛海尔云谷官方网站
                            a(href="javascript:;") 青岛市南软件园官方网站
                            a(href="javascript:;") 青岛湛山创意工厂官方网站
                        .flink-arrow
            .col-xs-12
                .links.mobile-hidden
                .coypright 
                    |&nbsp;版权所有：中艺1688创意产业园&nbsp;
                    br.mobile-visible
                    |Copyright ©2012-2017 All Rights Reserved Zhongyi Design Co.,ltd&nbsp;&nbsp;站点统计：
                    a(href="https://web.umeng.com/demo.php" target="_blank")
                        img(src=IMG_DIR + 'cnzz.png' style="margin-top:-2px;")
