FOOTER_BGC = BLUE_EBONYCLAY

.footer
    width 100%
    margin-top INDEX_SPACE
    background-color FOOTER_BGC
    min-height 2rem

.mobile
    .footer
        margin-top INDEX_SPACE_MOBILE
        min-height 1rem