.footer
    .container
        .row
            .col-xs-12.mobile-hidden
                .pull-left
                    .phone
                        i.fa.fa-phone-square
                        |&nbsp;0532-81931688
                    .address 地址:中国青岛李沧区黑龙江中路398号
                    .address 传真:+86-532-87665578
                .pull-left.contact-icons
                    .link-icon
                        i.fa.fa-weibo
                    .link-icon
                        i.fa.fa-weixin
                        .link-icon-qrcode-pop
                            .imgbox
                                img(src = IMG_DIR + 'qrcode.png')
                    .link-icon
                        i.fa.fa-qq
                        .link-icon-qrcode-pop
                            .imgbox
                                img(src = IMG_DIR + 'qrcode.png')
                .pull-right
                    .logos
                        .logo
                            img(src = IMG_DIR + 'logo-white.png')
                        .logo
                            img(src = IMG_DIR + 'logo-wuye.png')
                    a.btn-join(href="javascript:;") 申请入驻
            .col-xs-12
                ul.links.mobile-hidden
                    li
                        a(href="javascript:;") 关于我们
                    li
                        a(href="javascript:;") 新闻资讯
                    li
                        a(href="javascript:;") 创业服务
                    li
                        a(href="javascript:;") 招商资源
                .coypright 
                    |&nbsp;版权所有：中艺1688创意产业园&nbsp;
                    br.mobile-visible
                    |Copyright ©2012-2017 All Rights Reserved Zhongyi Design Co.,ltd