.scroll-anim
    visibility hidden
    -webkit-animation none
    -moz-animation none
    -ms-animation none
    -o-animation none
    animation none
.anim-fly-up
    &.anim-in
        -webkit-animation flyup 1s forwards
        -moz-animation flyup 1s forwards
        -ms-animation flyup 1s forwards
        -o-animation flyup 1s forwards
        animation flyup 1s forwards
.anim-fly-left
    &.anim-in
        -webkit-animation flyleft 1s forwards
        -moz-animation flyleft 1s forwards
        -ms-animation flyleft 1s forwards
        -o-animation flyleft 1s forwards
        animation flyleft 1s forwards
.anim-fly-right
    &.anim-in
        -webkit-animation flyright 1s forwards
        -moz-animation flyright 1s forwards
        -ms-animation flyright 1s forwards
        -o-animation flyright 1s forwards
        animation flyright 1s forwards
.anim-alpha-show
    &.anim-in
        -webkit-animation alphashow 1s forwards
        -moz-animation alphashow 1s forwards
        -ms-animation alphashow 1s forwards
        -o-animation alphashow 1s forwards
        animation alphashow 1s forwards
.trans-delay-100ms
    -webkit-animation-delay 100ms !important
    -moz-animation-delay 100ms !important
    -ms-animation-delay 100ms !important
    -o-animation-delay 100ms !important
    animation-delay 100ms !important
.trans-delay-200ms
    -webkit-animation-delay 200ms !important
    -moz-animation-delay 200ms !important
    -ms-animation-delay 200ms !important
    -o-animation-delay 200ms !important
    animation-delay 200ms !important
.trans-delay-300ms
    -webkit-animation-delay 300ms !important
    -moz-animation-delay 300ms !important
    -ms-animation-delay 300ms !important
    -o-animation-delay 300ms !important
    animation-delay 300ms !important
.trans-delay-400ms
    -webkit-animation-delay 400ms !important
    -moz-animation-delay 400ms !important
    -ms-animation-delay 400ms !important
    -o-animation-delay 400ms !important
    animation-delay 400ms !important
.trans-delay-500ms
    -webkit-animation-delay 500ms !important
    -moz-animation-delay 500ms !important
    -ms-animation-delay 500ms !important
    -o-animation-delay 500ms !important
    animation-delay 500ms !important
.trans-delay-600ms
    -webkit-animation-delay 600ms !important
    -moz-animation-delay 600ms !important
    -ms-animation-delay 600ms !important
    -o-animation-delay 600ms !important
    animation-delay 600ms !important
.trans-delay-700ms
    -webkit-animation-delay 700ms !important
    -moz-animation-delay 700ms !important
    -ms-animation-delay 700ms !important
    -o-animation-delay 700ms !important
    animation-delay 700ms !important
.trans-delay-800ms
    -webkit-animation-delay 800ms !important
    -moz-animation-delay 800ms !important
    -ms-animation-delay 800ms !important
    -o-animation-delay 800ms !important
    animation-delay 800ms !important

@keyframes alphashow
    0%
        visibility hidden
        opacity 0
        filter unquote('alpha(opacity=0)')
    100%
        visibility visible
        opacity 1
        filter unquote('alpha(opacity=100)')

@keyframes flyup
    0%
        visibility hidden
        opacity 0
        filter unquote('alpha(opacity=0)')
        transform translate3d(0,100%,0)
    100%
        visibility visible
        opacity 1
        filter unquote('alpha(opacity=100)')
        transform translate3d(0,0,0)

@keyframes flydown
    0%
        visibility hidden
        opacity 0
        filter unquote('alpha(opacity=0)')
        transform translate3d(0,-100%,0)
    100%
        visibility visible
        opacity 1
        filter unquote('alpha(opacity=100)')
        transform translate3d(0,0,0)

@keyframes flyleft
    0%
        visibility hidden
        opacity 0
        filter unquote('alpha(opacity=0)')
        transform translate3d(100%,0,0)
    100%
        visibility visible
        opacity 1
        filter unquote('alpha(opacity=100)')
        transform translate3d(0,0,0)
@keyframes flyright
    0%
        visibility hidden
        opacity 0
        filter unquote('alpha(opacity=0)')
        transform translate3d(-100%,0,0)
    100%
        visibility visible
        opacity 1
        filter unquote('alpha(opacity=100)')
        transform translate3d(0,0,0)
