ul.news-list.pic-list.vertical-match
    li
        a.pic-list-item.touch-active(href="javascript:;")
            .list-pic
                img(src = IMG_DIR + 'nl_pic_1.jpg')
            .list-content
                .list-content-title 嘉瑞德物业公司召开2016年度总结暨表彰大会
                .list-content-info 2017年1月20日上午,嘉瑞德物业公司“2016年度年终总结暨表彰大会”在中艺1688园区会议中心举行。会议由嘉瑞德物业经理姜晓磊主持，园区总经理刘永涛，副总经理刘荣家出席会议，嘉瑞德物业公司全体职工和山东中艺文化创意产业园发展有限公司中层领导共60余人参会。
    li
        a.pic-list-item.touch-active(href="javascript:;")
            .list-pic
                img(src = IMG_DIR + 'nl_pic_2.jpg')
            .list-content
                .list-content-title 园区组织职工进行安全生产考试
                .list-content-info 1月6日，园区安委会组织职工进行安全知识考试。以考促学，提高职工对安全生产工作的理解，为园区做好今后的安全生产工作奠定良好的基础。
    li
        a.pic-list-item.touch-active(href="javascript:;")
            .list-pic
                img(src = IMG_DIR + 'nl_pic_3.jpg')
            .list-content
                .list-content-title 中艺艺术品交易中心（青岛）有限公司即将落户园区
                .list-content-info 线上以“互联网+文化+金融”的形式，建立艺术品电子化交易模式。依托中国艺交所交易平台，大力开发青岛艺术品金融市场，通过竞价、挂牌及定向撮合等三种交易模式供买卖双方选择
    