.rightcontent.space-20px
    .inner-content
        .col-1of1
            .col-content
                .breadcrumb
                    a.onecrumb(href="index-logined.html")
                        i.fa.fa-home
                        |&nbsp;门户首页
                    span
                        i.fa.fa-angle-right
                    .onecrumb 12365管理
                    span
                        i.fa.fa-angle-right
                    .onecrumb 案件受理
    form.form-control.box-form.no-border
        .inner-content
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 来电号码：
                        input(type="text" placeholder="举报人的来电号码").input-text
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 来电日期：
                        input(type="text" placeholder="举报来电日期").input-text
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 举报案件类型：
                        select.input-select
                            option(value="0") 类型1
                            option(value="1") 类型2
                            option(value="2") 类型3
                            option(value="3") 类型4
                            option(value="4") 类型5
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 举报人姓名：
                        input(type="text" placeholder="举报人姓名").input-text
            .col-2of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 被举报人/企业：
                        input(type="text" placeholder="被举报人姓名或企业名称").input-text
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 举报人电话：
                        input(type="text" placeholder="举报人联系电话").input-text
            .col-2of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 举报人地址：
                        input(type="text" placeholder="举报人地址").input-text
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 被举报人电话：
                        input(type="text" placeholder="被举报人联系电话").input-text
            .col-2of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 被举报人地址：
                        input(type="text" placeholder="被举报人地址").input-text
            .col-1of1
                .col-content
                    .box-form-block
                        .box-form-label.control-label 案情描述：
                        textarea.textarea(rows = 10)
            .col-1of8
                .col-content
                    .btn.btn-circle2px.btn-large.bg-blue-ocean.bg-hover-darken.btn-block
                        i.fa.fa-save
                        |&nbsp;保存
