.rightcontent
    padding 30px
    box-sizing border-box
    position absolute
    top TOPBAR_HEIGHT
    right 0
    left LEFTMENU_WIDTH
    bottom 0

.layout2
    .rightcontent
        width PAGE_WIDTH
        padding 0
        position relative
        padding-top TOPBAR_HEIGHT + MENU_BTN_HEIGHT_2 + 2px + 30px
        margin 0 auto
        top auto
        right auto
        left auto
        bottom auto
        z-index 1
