.rightcontent.space-20px
    .inner-content
        .col-1of1
            .col-content.mb40
                include ../index-carousel/index
        .col-5of12
            .col-content
                .box-title.theme-bottom
                    i.fa.fa-bell
                    |&nbsp;重要通知
                    .pull-right.mr4
                        a.btn.btn-gray.btn-circle2px(href="#")
                            |查看更多&nbsp;
                            i.fa.fa-angle-right
                .box-content.plr12.pb5
                    ul.text-list.dot-list.with-date
                        li
                            a(href='#' target='_blank') 印尼将出动军队打击毒品犯罪印尼将出动军队打击毒品犯罪
                            .date 06.23
                        li
                            a(href='#' target='_blank') 官方称翻越澳门大学新校区围墙属偷渡行为
                            .date 06.21
                        li
                            a(href='#' target='_blank') 哪家公司提供的网站建设服务比较好？
                            .date 06.20
                        li
                            a(href='#' target='_blank') 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议
                            .date 06.18
                        li
                            a(href='#' target='_blank') 韩副外长将出席印尼世界经济论坛 介绍韩方立场
                            .date 06.14
                        li
                            a(href='#' target='_blank') 印尼将出动军队打击毒品犯罪印尼将出动军队打击毒品犯罪
                            .date 06.23
                        li
                            a(href='#' target='_blank') 官方称翻越澳门大学新校区围墙属偷渡行为
                            .date 06.21
                        li
                            a(href='#' target='_blank') 哪家公司提供的网站建设服务比较好？
                            .date 06.20
                        li
                            a(href='#' target='_blank') 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议
                            .date 06.18
                        li
                            a(href='#' target='_blank') 韩副外长将出席印尼世界经济论坛 介绍韩方立场
                            .date 06.14
                        li
                            a(href='#' target='_blank') 印尼将出动军队打击毒品犯罪印尼将出动军队打击毒品犯罪
                            .date 06.23
                        li
                            a(href='#' target='_blank') 官方称翻越澳门大学新校区围墙属偷渡行为
                            .date 06.21
                        li
                            a(href='#' target='_blank') 哪家公司提供的网站建设服务比较好？
                            .date 06.20
        .col-7of12
            .col-4of7
                .col-content
                    .box-title.theme-bottom
                        .fa.fa-newspaper-o
                        |&nbsp;工作动态
                        .pull-right.mr4
                            a.btn.btn-gray.btn-circle2px(href="#")
                                |查看更多&nbsp;
                                i.fa.fa-angle-right
                    .box-content.plr20.pt20.pb9
                        include ../work-carousel/index
            .col-3of7
                .col-content
                    .box-title.theme-bottom
                        i.fa.fa-edit
                        |&nbsp;待办事项
                        .pull-right.mr4
                            a.btn.btn-gray.btn-circle2px(href="#")
                                |查看更多&nbsp;
                                i.fa.fa-angle-right
                    .box-content.plr12.pb18
                        ul.text-list.dot-list
                            li
                                a(href='#' target='_blank') 印尼将出动军队打击毒品犯罪印尼将出动军队打击毒品犯罪
                            li
                                a(href='#' target='_blank') 官方称翻越澳门大学新校区围墙属偷渡行为
                            li
                                a(href='#' target='_blank') 哪家公司提供的网站建设服务比较好？
                            li
                                a(href='#' target='_blank') 中国进出口银行广东省分行牵头银团与印尼广青镍业签订贷款协议
                            li
                                a(href='#' target='_blank') 韩副外长将出席印尼世界经济论坛 介绍韩方立场
                            li
                                a(href='#' target='_blank') 印尼将出动军队打击毒品犯罪印尼将出动军队打击毒品犯罪
                            li
                                a(href='#' target='_blank') 官方称翻越澳门大学新校区围墙属偷渡行为
                            li
                                a(href='#' target='_blank') 哪家公司提供的网站建设服务比较好？
            .col-1of1
                .col-content
                    .box-title.theme-bottom
                        i.fa.fa-calendar
                        |&nbsp;值班安排
                        .pull-right.mr4
                            a.btn.btn-gray.btn-circle2px(href="#")
                                |查看更多&nbsp;
                                i.fa.fa-angle-right
                    table.dp-table.no-top
                        tr.th.text-center
                            td 周一
                            td 周二
                            td 周三
                            td 周四
                            td 周五
                            td 周六
                            td 周日
                        tr.text-center
                            td 张飞翔
                            td 刘光森
                            td 卢芳
                            td 孔祥明
                            td 王文光
                            td 丁鹏
                            td 孙思邈
