.rightcontent.space-20px
    .inner-content
        //.col-1of1
        //    .col-content
        //        include ../breadcrumb/index
        include ../dashboard/index
        .col-3of5
            .col-content
                include ../text-list/notice
        .col-2of5
            .col-content
                include ../text-list/article
        .col-1of1
            .col-content.mb0
                .section-title
                    span.section-title-icon
                    span.section-title-text 数据图表
        .col-1of2
            .col-content
                include ../box/chartbox-colum
        .col-1of2
            .col-content
                include ../box/chartbox-pie
        .col-1of1
            .col-content
                include ../box/chartbox-area
