.rightcontent.space-20px
    .inner-content
        .col-1of1
            .col-content
                .breadcrumb
                    a.onecrumb(href="index-logined.html")
                        i.fa.fa-home
                        |&nbsp;门户首页
                    span
                        i.fa.fa-angle-right
                    .onecrumb 信息查询
                    span
                        i.fa.fa-angle-right
                    .onecrumb 企业信息
    form.form-control.box-form.has-title
        .box-form-title 过滤查询
        .inner-content
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 企业类型：
                        select.input-select
                            option(value="0") 全部
                            option(value="1") 类型1
                            option(value="2") 类型2
                            option(value="3") 类型3
                            option(value="4") 类型4
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 企业规模：
                        select.input-select
                            option(value="0") 全部
                            option(value="1") 小型
                            option(value="2") 中型
                            option(value="3") 大型
                            option(value="4") 集团
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 注册资金：
                        select.input-select
                            option(value="0") 全部
                            option(value="1") 100万以下
                            option(value="2") 100万-1000万
                            option(value="3") 1000万-5000万
                            option(value="4") 5000万-1亿
                            option(value="5") 1亿以上
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 企业法人姓名：
                        input(type="text" placeholder="企业法人姓名").input-text
            .col-5of9
                .col-content
                    .box-form-block
                        .box-form-label.control-label 企业名称：
                        input(type="text" placeholder="企业名称").input-text
            .col-1of9
                .col-content
                    .btn.btn-circle2px.bg-blue-ocean.bg-hover-darken.btn-block
                        i.fa.fa-search
                        |&nbsp;查询
    .box-title
        i.fa.fa-institution
        |&nbsp;企业信息
        .pull-right.mr4
            a.btn.btn-circle2px.bg-blue-ocean.bg-hover-darken(href="#")
                i.fa.fa-plus
                |&nbsp;添加
            .btn.btn-circle2px.bg-blue-ocean.bg-hover-darken
                i.fa.fa-remove
                |&nbsp;批量删除
    include ../table/table-notice
    .box-content
        include ../pagination/index
