.rightcontent.space-20px
    .inner-content
        .col-2of3
            .col-content
                include ../freq-used/index
                include ../table/table-todo
        .col-1of3
            .col-content
                include ../text-list/personal-notice
