.rightcontent.space-20px
    //.section-title
    //    span.section-title-icon
    //    span.section-title-text 消息通知
    .inner-content
        .col-1of1
            .col-content
                .breadcrumb
                    a.onecrumb(href="personal-center.html")
                        i.fa.fa-user 
                        |&nbsp;个人中心
                    span
                        i.fa.fa-angle-right
                    .onecrumb 消息通知
        .col-1of5
            .col-content
                include ../personal-menu/index
        .col-4of5
            .col-content
                include ../text-list/personal-notice-all
            .col-content
                include ../pagination/index
