.rightcontent.space-20px
    .inner-content
        .col-1of1
            .col-content
                .breadcrumb
                    a.onecrumb(href="index-logined.html")
                        i.fa.fa-home
                        |&nbsp;门户首页
                    span
                        i.fa.fa-angle-right
                    .onecrumb 执法管理
                    span
                        i.fa.fa-angle-right
                    .onecrumb 单兵系统
        .col-1of2
            .col-content
                .box-title.with-clearfix
                    |视频窗口1
                    .pull-right.mr4
                        .btn.btn-gray
                            i.fa.fa-remove
                    .pull-right.mr4.form-control(style="width:200px;")
                            .col-1of2
                                .control-label 选择执勤人员：
                            .col-1of2
                                select.input-select
                                    option(value="0") 张抗抗
                                    option(value="1") 柳飞
                                    option(value="2" selected) 吴承恩
                                    option(value="3") 卢俊义
                .box-content.bg-gray-f5(style="height:300px;") 
                    .mt20.ml20 视频画面
        .col-1of2
            .col-content
                .box-title.with-clearfix
                    |视频窗口2
                    .pull-right.mr4
                        .btn.btn-gray
                            i.fa.fa-remove
                    .pull-right.mr4.form-control(style="width:200px;")
                            .col-1of2
                                .control-label 选择执勤人员：
                            .col-1of2
                                select.input-select
                                    option(value="0" selected) 张抗抗
                                    option(value="1") 柳飞
                                    option(value="2") 吴承恩
                                    option(value="3") 卢俊义
                .box-content.bg-gray-f5(style="height:300px;") 
                    .mt20.ml20 视频画面
        .col-1of2
            .col-content
                .btn.btn-large.btn-block.bg-gray-f5.bg-hover-darken.font-blue-ocean
                    i.fa.fa-plus
                    |&nbsp;新建视频窗口
