.rightcontent.space-20px
    .inner-content
        .col-1of1
            .col-content
                .breadcrumb
                    a.onecrumb(href="index-logined.html")
                        i.fa.fa-home
                        |&nbsp;门户首页
                    span
                        i.fa.fa-angle-right
                    .onecrumb 内部管理
                    span
                        i.fa.fa-angle-right
                    .onecrumb 用车申报/查询
    form.form-control.box-form.has-title
        .box-form-title 用车申报
        .inner-content
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 车辆：
                        select.input-select
                            option(value="0") 全部
                            option(value="1") 鲁B SHE024
                            option(value="2") 鲁B SHE025
                            option(value="3") 鲁B SHE026
                            option(value="4") 鲁B SHE027
                            option(value="5") 鲁B SHE028
                            option(value="6") 鲁B SHE029
                            option(value="7") 鲁B SHE030
                            option(value="8") 鲁B SHE031
            .col-5of9
                .col-content
                    .box-form-block
                        .box-form-label.control-label 起止时间：
                        .col-6of13
                            input(type="text" placeholder="开始时间").input-text
                        .col-1of13
                            .control-label.text-center.no-left.font-gray-99
                                i.fa.fa-arrows-h
                        .col-6of13
                            input(type="text" placeholder="结束时间").input-text
            .col-1of9
                .col-content
                    .btn.btn-circle2px.bg-blue-ocean.bg-hover-darken.btn-block
                        i.fa.fa-car
                        |&nbsp;申报
    form.form-control.box-form.has-title
        .box-form-title 用车查询
        .inner-content
            .col-1of3
                .col-content
                    .box-form-block
                        .box-form-label.control-label 车辆：
                        select.input-select
                            option(value="0") 全部
                            option(value="1") 鲁B SHE024
                            option(value="2") 鲁B SHE025
                            option(value="3") 鲁B SHE026
                            option(value="4") 鲁B SHE027
                            option(value="5") 鲁B SHE028
                            option(value="6") 鲁B SHE029
                            option(value="7") 鲁B SHE030
                            option(value="8") 鲁B SHE031
            .col-5of9
                .col-content
                    .box-form-block
                        .box-form-label.control-label 起止时间：
                        .col-6of13
                            input(type="text" placeholder="开始时间").input-text
                        .col-1of13
                            .control-label.text-center.no-left.font-gray-99
                                i.fa.fa-arrows-h
                        .col-6of13
                            input(type="text" placeholder="结束时间").input-text
            .col-1of9
                .col-content
                    .btn.btn-circle2px.bg-blue-ocean.bg-hover-darken.btn-block
                        i.fa.fa-search
                        |&nbsp;查询
    .box-title
        i.fa.fa-car
        |&nbsp;用车查询结果
    include ../table/table-vehicle
    .box-content
        include ../pagination/index
