.m-app-list.row-space-20
    .row
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-blue
                    i.iconfont.icon-jiangbei
            .app-title 创业成果
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-green-jungle
                    i.iconfont.icon-kongjian
            .app-title 众创空间
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-orange
                    i.iconfont.icon-fudao
            .app-title 创业辅导
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-purple-studio
                    i.iconfont.icon-daoshi
            .app-title 创业导师
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-yellow-crusta
                    i.iconfont.icon-peixun2
            .app-title 创业培训
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-sunglo
                    i.iconfont.icon-luyan
            .app-title 创业路演
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-blue-ocean
                    i.iconfont.icon-fuchi
            .app-title 创业扶持
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-pink
                    i.iconfont.icon-gengduo
            .app-title 期待更多