.sidebar
    .sidebar-logo
    .sidebar-title 
        |快捷导航
        .sidebar-title-deco
    a.sidebar-btn.sbbtn-1(href="join-submit.html")
        i.fa.fa-sign-in
        |&nbsp;申请入驻
    a.sidebar-btn.sbbtn-2(href="javascript:;") 
        i.fa.fa-cutlery
        |&nbsp;美食广场
    a.sidebar-btn.sbbtn-3(href="javascript:;") 
        i.fa.fa-building
        |&nbsp;物业申请
    a.sidebar-btn.sbbtn-4(href="javascript:;") 
        i.fa.fa-bank
        |&nbsp;展厅申请
    a.sidebar-btn.sbbtn-5(href="javascript:;") 
        i.fa.fa-car
        |&nbsp;智慧停车
    a.sidebar-btn.sbbtn-6(href="javascript:;") 
        i.fa.fa-commenting
        |&nbsp;企业诉求
    .sidebar-btn.sbbtn-7#btn_totop
        i.fa.fa-arrow-up
        |&nbsp;返回顶端
