extends layout

block content
    div#main
    .touch-active.bg-blue-ocean(style="font-size:0.15rem; position:absolute; top:0.08rem; left:0.08rem; padding:0.05rem 0.22rem; color:#ffffff; border-radius:1rem;") H5演示：360度场景
