table.table.table-bordered.merchant-overview
    tbody
        tr
            td(width='50%')
                .merchant-num.font-yellow-bronze 12
                .merchant-text 本月意向
            td(width='50%')
                .merchant-num.font-red-intense 316
                .merchant-text 本年意向
        tr
            td(width='50%')
                .merchant-num.font-blue-madison 6
                .merchant-text 本月签约
            td(width='50%')
                .merchant-num.font-purple 105
                .merchant-text 本年签约
        tr
            td(width='50%')
                .merchant-num.font-green-haze 52
                .merchant-text 正在跟进
            td(width='50%')
                .merchant-num.font-red-pink 1
                .merchant-text 关闭项目