.merchant-overview
    margin-bottom 0 !important
    tr
        text-align center
        td    
            .merchant-num
                display block
                font-size 0.24rem
                font-weight bold
                color THEME_COLOR
                padding-top 0.1rem
            .merchant-text
                display block
                font-size 0.15rem
                color GRAY_99
                padding-bottom 0.12rem
        
            