.rcs-slider.owl-carousel.owl-theme
    a.rcs-slider-item(href="javascript:;")
        .abs-container.abs-hp-1of4
            .abs-content
                img.rcs-slider-img(src = IMG_DIR + "resource_1.jpg")
    .rcs-slider-item
        .abs-container.abs-hp-1of4
            .abs-content
                img.rcs-slider-img(src = IMG_DIR + "resource_2.jpg")
    .rcs-slider-item
        .abs-container.abs-hp-1of4
            .abs-content
                img.rcs-slider-img(src = IMG_DIR + "resource_3.jpg")
    