.block-title
    .block-title-head 
        |常用流程
        .block-title-head-deco
.inner-content.no-bottom
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-file-word-o
                .freq-used-title 上级发文
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-archive
                .freq-used-title 档案管理
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-tty
                .freq-used-title 案件受理
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-search
                .freq-used-title 案件查询
    .col-1of5
        .col-content
            a.freq-used-box(href="#")
                .freq-used-icon
                    i.fa.fa-book
                .freq-used-title 法律法规
    
            
