/****************/
/* Pagination */
/****************/
/*------------------------------------------------------------------------------------------------------------------*/
.quotes
    margin 3px
    padding 3px
    text-align center
    margin 8px
    font-size 12px
    a
        border 1px solid #d3d3d3
        color #aaaaaa
        margin 0 2px
        padding 4px 8px
        text-decoration none
        &:hover, &:active
            background-color THEME_COLOR
            border 1px solid THEME_COLOR
            color #ffffff
    span
        color #666666
    span.current
        background-color THEME_COLOR
        border 1px solid THEME_COLOR
        color #ffffff
        font-weight bold
        margin 0 2px
        padding 4px 8px
    span.disabled
        border 1px solid rgb(243, 243, 243)
        color rgb(204, 204, 204)
        margin 0 2px
        padding 4px 8px
