.quotes
    span.disabled
        i.fa.fa-angle-left
    span.current 1
    a(href='#') 2
    a(href='#') 3
    a(href='#') 4
    a(href='#') 5
    span ...
    a(href='#') 19
    a(href='#') 20
    a(href='#')
        i.fa.fa-angle-right
