LOGIN_SPACE = 0.24rem

.modal-login
    .modal-dialog
        margin-top 0.4rem
        .modal-content
            .modal-header
                border-bottom none
                padding-bottom 0
                .modal-title
                    text-align center
                    font-size 0.24rem
                    color THEME_COLOR
                .close
                    display none
            .modal-body
                padding 0.15rem LOGIN_SPACE
            .modal-footer
                padding 0 LOGIN_SPACE LOGIN_SPACE LOGIN_SPACE
                border-top none
            
    .form-group
        >label
            color GRAY_33
            font-size 0.12rem
            font-weight normal
            color GRAY_99
        .login-input-group
            width 100%
            .input-group-addon
                display table-cell
                width 0.4rem
                text-align center
                color THEME_COLOR
                &.vcode
                    padding 0
                    width 0.1rem
                    font-size 0
                    border-top-right-radius 0.04rem
                    border-bottom-right-radius 0.04rem
                    overflow hidden
                    img
                        height 0.32rem
                        background-color WHITE
                    .vcode-btn
                        display block
                        width auto
                        background-color WHITE
                        color WHITE
                        img
                            height 0.32rem
                            background-color WHITE
            .form-control
                box-shadow none
                -webkit-appearance none



    
