extends layout

block content
    .main-content
        include ../components/topbar/index-logined
        include ../components/leftmenu/case-search
        include ../components/rightcontent/case-search
        include ../components/footer/index
