extends layout

block content
    .main-content
        include ../components/topbar/index-logined
        include ../components/leftmenu/case-category
        include ../components/rightcontent/case-category
        include ../components/footer/index
