extends layout

block content
    .main-content
        include ../components/topbar/index-logined
        include ../components/leftmenu/double-info
        include ../components/rightcontent/double-info
        include ../components/footer/index
