extends layout

block content
    .main-content
        include ../components/topbar/index-logined
        include ../components/leftmenu/enforce-law-sp
        include ../components/rightcontent/enforce-law-sp
        include ../components/footer/index
