extends layout

block content
    .main-content
        include ../components/topbar/index-logined
        include ../components/leftmenu/important-notice
        include ../components/rightcontent/important-notice
        include ../components/footer/index
