extends layout

block content
    include ../components/topbar/index-logined
    .dp-container
        .inner-content.mtop
            .col-2of3
                .col-content.space-10px
                    include ../components/freq-used/index
                .col-content
                    include ../components/todo/index
                .col-7of12
                    .col-content
                        include ../components/text-list/pic-list
                .col-5of12
                    .col-content
                        include ../components/text-list/pic-list
            .col-1of3
                .col-content
                    include ../components/text-list/notice
                .col-content
                    include ../components/text-list/pic-list
    include ../components/footer/index
