extends layout

block content
    .main-content
        include ../components/topbar/index
        include ../components/leftmenu/info-company
        include ../components/rightcontent/info-company
        include ../components/footer/index
