extends layout

block content
    .main-content
        include ../components/topbar/index-logined
        include ../components/leftmenu/personal-center
        include ../components/rightcontent/personal-center
        include ../components/footer/index
