extends layout

block content
    .main-content
        include ../components/topbar/index-logined
        include ../components/leftmenu/regulations
        include ../components/rightcontent/regulations
        include ../components/footer/index
