extends layout

block content
    .main-content
        include ../components/topbar/index-logined
        include ../components/leftmenu/superior-article
        include ../components/rightcontent/superior-article
        include ../components/footer/index
