.work-carousel.owl-carousel.owl-theme
    .item
        .item-img
            img(src="images/work-carousel-1.png")
        .item-info 一季度12365质监热线受理各类信息1261件，其中有效业务为1232件，同比下降9.4%。具体构成为：打假举报510件，质量申诉26件，业务咨询1048件，其他业务8件。从信息来源看，热线电话仍是投诉及咨询的主要渠道，数量达到1195件，占有效业务总量的97%。
    .item
        .item-img
            img(src="images/work-carousel-2.png")
        .item-info 一季度12365质监热线受理各类信息1261件，其中有效业务为1232件，同比下降9.4%。具体构成为：打假举报510件，质量申诉26件，业务咨询1048件，其他业务8件。从信息来源看，热线电话仍是投诉及咨询的主要渠道，数量达到1195件，占有效业务总量的97%。
    .item
        .item-img
            img(src="images/work-carousel-3.png")
        .item-info 一季度12365质监热线受理各类信息1261件，其中有效业务为1232件，同比下降9.4%。具体构成为：打假举报510件，质量申诉26件，业务咨询1048件，其他业务8件。从信息来源看，热线电话仍是投诉及咨询的主要渠道，数量达到1195件，占有效业务总量的97%。
