.table
    tr:hover
        background-color lighten(THEME_COLOR,90%)
        &.th
            background-color GRAY_F9
    &.no-tr-hover
        tr:hover
            background-color transparent
