.section-title
    span.section-title-icon
    span.section-title-text 代办事项
    a.section-title-shoulder(href="#") 更多
table.table
    tr.th.text-center
        td(width='30') 序号
        td 事项名称
        td 截止日期
        td 当前状态
        td 上环节处理人
    tr
        td 1
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 结案申请
        td 于至深
    tr
        td 2
        td 关于青岛爱尼佳商贸有限公司的案件
        td 2016-7-10
        td 处罚告知
        td 刘丽
    tr
        td 3
        td 关于青岛泽盛木制品有限公司的案件
        td 2016-9-3
        td 处罚告知
        td 张曦付
    tr
        td 4
        td 关于青岛科迪博电子科技有限公司的案件
        td 2016-9-3
        td 制作处罚决定并报批
        td 慕容博
    tr
        td 5
        td 关于青岛启航信息科技有限公司的案件
        td 2016-9-3
        td 下达并执行处罚决定
        td 浏阳河
    
