table.table.no-top
    tr.th.text-center
        td(width='30') 日期
        td 值班人员
        td(width='100') 操作
    tr
        td 2016.05.01
        td 于浩鹏、赵志刚、刘飞亮、高启民、杜云涛
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.02
        td 刘飞亮、高启民、杜云涛、于浩鹏、赵志刚
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.03
        td 于浩鹏、高启民、杜云涛、赵志刚、刘飞亮
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.04
        td 高启民、杜云涛、于浩鹏、赵志刚、刘飞亮
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.05
        td 于浩鹏、赵志刚、杜云涛、刘飞亮、高启民
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.06
        td 于浩鹏、赵志刚、刘飞亮、高启民、杜云涛
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.07
        td 于浩鹏、赵志刚、刘飞亮、高启民、杜云涛
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.08
        td 于浩鹏、赵志刚、刘飞亮、高启民、杜云涛
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.09
        td 于浩鹏、赵志刚、刘飞亮、高启民、杜云涛
        td.text-center
            a(href="#") 编辑
    tr
        td 2016.05.10
        td 杜云涛、于浩鹏、赵志刚、刘飞亮、高启民
        td.text-center
            a(href="#") 编辑
    
    
