table.table.no-top
    tr.th.text-center
        td(width="20")
            input(type="checkbox")
        td(width='30') 序号
        td 标题
        td 发布日期
        td 分组
        td 发布者
        td 操作
    tr
        td.text-center
            input(type="checkbox")
        td 1
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 2
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 3
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 4
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 5
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 6
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 7
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 8
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 9
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    tr
        td.text-center
            input(type="checkbox")
        td 10
        td 关于青岛敦正生物工程有限公司的案件
        td 2016-12-23
        td 组1
        td 于至深
        td.text-center
            a(href="#") 编辑
            |&nbsp;&nbsp;
            a(href="#") 删除
    
