table.table.no-top
    tr.th.text-center
        td(width='30') 日期
        td 车牌号
        td 车型
        td(width='100') 状态
        td(width='100') 操作
    tr
        td 2016.05.01
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-yellow-casablanca.font-white 已占用
        td.text-center
    tr
        td 2016.05.02
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-yellow-casablanca.font-white 已占用
        td.text-center
    tr
        td 2016.05.03
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-green-jungle.font-white 可申报
        td.text-center
            a(href="#") 申报
    tr
        td 2016.05.04
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-yellow-casablanca.font-white 已占用
        td.text-center
    tr
        td 2016.05.05
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-green-jungle.font-white 可申报
        td.text-center
            a(href="#") 申报
    tr
        td 2016.05.06
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-yellow-casablanca.font-white 已占用
        td.text-center
    tr
        td 2016.05.07
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-green-jungle.font-white 可申报
        td.text-center
            a(href="#") 申报
    tr
        td 2016.05.08
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-green-jungle.font-white 可申报
        td.text-center
            a(href="#") 申报
    tr
        td 2016.05.09
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-yellow-casablanca.font-white 已占用
        td.text-center
    tr
        td 2016.05.10
        td 鲁B U102C8
        td 奥迪A6
        td.text-center.bg-green-jungle.font-white 可申报
        td.text-center
            a(href="#") 申报
