.topbar
    a.logo(href="index.html")
    .right-shoulder
        .pull-left(style="margin-right:6px;")
            a.bttn.bttn-circle2px.appendleft.bg-blue-ocean.bg-hover-lighten.font-white.new(href="javascript:;")
                i.fa.fa-bell
                .new-dot
        .popbox.pull-left
            .bttn.bttn-circle2px.appendleft.bg-blue-ocean.bg-hover-lighten.font-white(data-toggle="popbox")
                |Admin&nbsp;
                i.fa.fa-angle-down
            ul.popmenu-box.popbox-content(data-align='h-right')
                li
                    a.bttn.bttn-popmenu(href="javascript:;") 账号信息
                li
                    a.bttn.bttn-popmenu(href="login.html") 退出登录
            .popmenu-arrow.popbox-content(data-align='h-center')

.topbar-space
