.topbar
    a.logo(href="index.html")
    .right-shoulder
        a.bttn.bttn-circle2px.appendleft.bg-blue-ocean.bg-hover-lighten.font-white.mr1(href="") 注册
        a.bttn.bttn-circle2px.appendright.bg-blue-ocean.bg-hover-lighten.font-blue-white(href="login.html") 登录
