TOPBAR_BGC = alpha(BLUE_EBONYCLAY, 0.9)
BTN_LOGIN_BGC = lighten(BLUE_EBONYCLAY,16%)
BTN_LOGIN_BGC_ACTIVE = lighten(BTN_LOGIN_BGC,20%)
BTN_REGIST_BGC = THEME_COLOR
BTN_REGIST_BGC_ACTIVE = lighten(BTN_REGIST_BGC,20%)

MBTN_FCOLOR = alpha(WHITE, 0.6)
MBTN_FCOLOR_ACTIVE = WHITE
MBTN_FCOLOR_MOBILE = GRAY_33
MBTN_FCOLOR_ACTIVE_MOBILE = WHITE
MBTN_BGC_MOBILE = GRAY_F5
MBTN_BGC_ACTIVE_MOBILE = THEME_COLOR

LOGO_WIDTH = 1.07rem
LOGO_HEIGHT = 0.5rem
MENU_LEFT_SPACE = 0.4rem
MENU_BTN_SPACE = 0.3rem
USER_HEIGHT = 0.34rem

LOGO_WIDTH_MOBILE = 0.54rem
LOGO_HEIGHT_MOBILE = 0.25rem
USER_HEIGHT_MOBILE = 0.28rem

MENU_PADDING = 0.2rem
MENU_ROOT_SPACE = 0.15rem
SUBMENU_SPACE = 0.04rem
SUBMENU_MIN_WIDTH = 1.2rem




.topbar
    width 100%
    height auto
    display block
    background-color TOPBAR_BGC
    position fixed
    top 0
    left 0
    right 0
    z-index Z_INDEX_TOP
    transition all COMMON_ANIM_TIME ease-in-out
    .topbar-content
        position relative
        width auto
        height TOP_HEIGHT
    .logo
        width LOGO_WIDTH
        height LOGO_HEIGHT
        margin-top 0.5*(TOP_HEIGHT - LOGO_HEIGHT)
        margin-left 0.5*(TOP_HEIGHT - LOGO_HEIGHT)
        float left
        cursor pointer
        img
            float left
            width 100%
            height 100%
    .mbtn
        display none
    .menu
        .rootmenu
            float left
            position relative
            .menu-btn
                display block
            .submenu
                overflow hidden
                .submenu-btn
                    display block
    .user-area
        float right
        height USER_HEIGHT
        margin-top 0.5*(TOP_HEIGHT - USER_HEIGHT)
        margin-right 0.5*(TOP_HEIGHT - USER_HEIGHT)
        .user-area-btn
            float left
            border-radius 0
            line-height USER_HEIGHT
            font-size 0.14rem
            padding 0 0.12rem
            color WHITE
            &.login
                background-color BTN_LOGIN_BGC
            &.regist
                background-color BTN_REGIST_BGC
        .user-info-container
            display block
            height USER_HEIGHT
            overflow visible
            position relative
            background-color alpha(WHITE, 0.2)
            border-radius USER_HEIGHT
            padding-right 0.15rem
            cursor pointer
            .user-avatar
                width USER_HEIGHT
                height USER_HEIGHT
                border-radius USER_HEIGHT
                overflow hidden
                float left
                img
                    width 100%
                    height 100%
                    float left
            .user-name
                float left
                margin-left 0.08rem
                font-size 0.14rem
                color WHITE
                height USER_HEIGHT
                line-height USER_HEIGHT
            .user-menu
                display none
            .user-menu-arrow
            &:hover
                background-color alpha(WHITE, 0.4)
                .user-menu-container
                    display block
                    position absolute
                    width auto
                    min-width 100%
                    right 0
                    height auto
                    top 100%
                    .user-menu
                        display block
                        margin-top 0.1rem
                        min-height 0.6rem
                        box-shadow 0 0 0.2rem 0 alpha(BLACK, 0.1)
                        background-color WHITE
                        padding 0.01rem
                        .user-menu-btn
                            padding 0.05rem 0.08rem
                            font-size 0.14rem
                            text-align center
                            width auto
                            display block
                            margin 0.1rem
                            background-color GRAY_F5
                            color GRAY_33
                            &:hover
                                background-color THEME_COLOR
                                color WHITE
                .user-menu-arrow
                    background-color transparent
                    position absolute
                    border-arrow(WHITE, 0.08rem, up)
                    left 50%
                    margin-left -0.08rem
                    top 100%
                    margin-top 0.04rem
                    z-index 1

.topbar-space
    width 100%
    height TOP_HEIGHT
    background-color TOPBAR_BGC



.desktop
    .topbar
        min-width DESKTOP_MIN_WIDTH
        .menu
            float left
            background-color transparent
            margin-left MENU_LEFT_SPACE
            .rootmenu
                height TOP_HEIGHT
                .menu-btn
                    height TOP_HEIGHT
                    line-height TOP_HEIGHT
                    font-size 0.16rem
                    letter-spacing 0.02rem
                    padding 0 0.5*MENU_BTN_SPACE
                    color MBTN_FCOLOR
                    font-weight bold
                    cursor pointer
                    @media SCREEN_MD
                        letter-spacing 0
                    @media SCREEN_SM
                        letter-spacing 0
                        padding 0 0.4*MENU_BTN_SPACE
                    @media SCREEN_XS
                        letter-spacing 0
                        padding 0 0.3*MENU_BTN_SPACE
                    @media SCREEN_LG
                        padding 0 0.6*MENU_BTN_SPACE
                    &.active
                    &.sel
                        color MBTN_FCOLOR_ACTIVE
                    &:hover
                        color WHITE
                        background-color THEME_COLOR
                .submenu
                    position absolute
                    top TOP_HEIGHT - 0.1
                    left 0
                    //min-width SUBMENU_MIN_WIDTH
                    height 0
                    background-color WHITE
                    transition top 0.1s ease-in-out
                    padding 0
                    overflow hidden
                    border none
                    .submenu-title
                        color alpha(WHITE, 0.8)
                        font-size 0.12rem
                        padding 0.08rem 0.1rem
                        color WHITE
                    .submenu-btn
                        font-size 0.14rem
                        line-height COMMON_LINE_HEIGHT
                        color GRAY_66
                        text-align left
                        padding 0.08rem 0.12rem
                        white-space nowrap
                        font-weight normal
                        background-color transparent
                        cursor pointer
                        position relative
                        &:hover
                        &.active
                        &.sel
                            background-color GRAY_F5
                            color THEME_COLOR
                        &.sel
                            cursor default
                    .subsubmenu
                        display none
                        width auto
                        position absolute
                        background-color GRAY_F5
                        left 100%
                        top 0
                        height auto
                        padding 0.1rem
                        .subsubmenu-btn
                            display block
                            font-size 0.14rem
                            line-height COMMON_LINE_HEIGHT
                            color GRAY_66
                            text-align left
                            padding 0.08rem 0.1rem
                            white-space nowrap
                            font-weight normal
                            background-color transparent
                            cursor pointer
                            &:hover
                            &.active
                            &.sel
                                background-color WHITE
                                color THEME_COLOR
                            &.sel
                                cursor default
                    .submenu-container
                        display block
                        position relative
                        &:hover
                            .subsubmenu
                                display block
                            .submenu-btn
                                background-color GRAY_F5
                                color THEME_COLOR
                    &:hover
                        overflow visible

                &:hover
                    .menu-btn
                        color WHITE
                        background-color THEME_COLOR
                    .submenu
                        display block
                        height auto
                        padding 0.1rem
                        top TOP_HEIGHT
                        border 1px solid GRAY_F0
                        border-top none
        .user-area
            .user-area-btn
                &.login:hover
                    background-color BTN_LOGIN_BGC_ACTIVE
                &.regist:hover
                    background-color BTN_REGIST_BGC_ACTIVE

.mobile
.tablet
    .topbar
        .container
            width 100%
            padding 0
        .logo
            left 50%
            position absolute
        .mbtn
            display block
            float left
            color WHITE
            text-align center
            background-color transparent
            &.active
                background-color BTN_LOGIN_BGC_ACTIVE
        .menu
            display block
            position fixed
            top 0
            bottom 0
            background-color WHITE
            padding MENU_PADDING
            overflow hidden
            .iscroller
                padding-bottom 0.5rem
                overflow hidden
                //border-top 1px solid GRAY_F0
            .rootmenu
                width 100%
                position static
                //border-bottom 1px solid GRAY_F0
                padding-bottom MENU_ROOT_SPACE
                //margin-bottom 0.02rem
                .menu-btn
                    color MBTN_FCOLOR_MOBILE
                    font-weight normal
                    font-size 0.15rem
                    cursor pointer
                    width 100%
                    background-color MBTN_BGC_MOBILE
                    padding 0.05rem 0.09rem
                    border-left 0.02rem solid THEME_COLOR
                    &.active
                    &.sel
                        color MBTN_FCOLOR_ACTIVE_MOBILE
                        background-color MBTN_BGC_ACTIVE_MOBILE
                .submenu
                    position static
                    margin-right -1*SUBMENU_SPACE
                    .submenu-btn
                        float left
                        text-align left
                        margin-right SUBMENU_SPACE
                        margin-top SUBMENU_SPACE
                        font-size 0.12rem
                        padding 0.05rem 0.08rem
                        background-color MBTN_BGC_MOBILE
                        color MBTN_FCOLOR_MOBILE
                        &.active
                        &.sel
                            color MBTN_FCOLOR_ACTIVE_MOBILE
                            background-color MBTN_BGC_ACTIVE_MOBILE

/*
.tablet
    .topbar
        .logo
            margin-left -0.5*LOGO_WIDTH
        .mbtn
            height TOP_HEIGHT
            width TOP_HEIGHT
            line-height TOP_HEIGHT
            font-size 0.22rem
        .menu
            width MENU_WIDTH_TABLET
            left -1*MENU_WIDTH_TABLET
            .rootmenu
                .submenu
                    .submenu-btn
                        width 0.33333333*(MENU_WIDTH_TABLET - 2*MENU_PADDING - 2*SUBMENU_SPACE)

        .user-area
            margin-right 0.5*(TOP_HEIGHT - USER_HEIGHT)
    .topbar-space
        display block*/

.mobile
.tablet
    .topbar
        .topbar-content
            height TOP_HEIGHT_MOBILE
        .logo
            width LOGO_WIDTH_MOBILE
            height LOGO_HEIGHT_MOBILE
            margin-top 0.5*(TOP_HEIGHT_MOBILE - LOGO_HEIGHT_MOBILE)
            //margin-left 0.5*(TOP_HEIGHT_MOBILE - LOGO_HEIGHT_MOBILE)
            margin-left -0.5*LOGO_WIDTH_MOBILE
        .mbtn
            height TOP_HEIGHT_MOBILE
            width TOP_HEIGHT_MOBILE
            line-height TOP_HEIGHT_MOBILE
            font-size 0.2rem
        .menu
            width MENU_WIDTH_MOBILE
            left -1*MENU_WIDTH_MOBILE
            .rootmenu
                .submenu
                    .submenu-btn
                        width 0.33333333*(MENU_WIDTH_MOBILE - 2*MENU_PADDING - 2*SUBMENU_SPACE)
        .user-area
            height USER_HEIGHT_MOBILE
            margin-top 0.5*(TOP_HEIGHT_MOBILE - USER_HEIGHT_MOBILE)
            margin-right 0.5*(TOP_HEIGHT_MOBILE - USER_HEIGHT_MOBILE)
            .user-area-btn
                float left
                border-radius 0
                line-height USER_HEIGHT_MOBILE
                font-size 0.1rem
                padding 0 0.1rem
    .topbar-space
        display block
        height TOP_HEIGHT_MOBILE
