DASHBOARD_HEIGHT = 40px

.breadcrumb
    width 100%
    box-sizing border-box
    height DASHBOARD_HEIGHT
    background-color GRAY_F5
    line-height DASHBOARD_HEIGHT
    padding 0px 10px
    font-size 14px
    .onecrumb
        display block
        float left
        margin-right 10px
        text-decoration none
        color GRAY_66
    a:hover
        color THEME_COLOR
        text-decoration none
    span
        float left
        display bolck
        margin-right 10px
        color GRAY_99
