.m-app-list.row-space-20
    .row
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-blue
                    //i.fa.fa-th
            .app-title 服务名称
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-green-jungle
                    //i.fa.fa-th
            .app-title 服务名称
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-orange
                    //i.fa.fa-th
            .app-title 服务名称
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-purple-studio
                    //i.fa.fa-th
            .app-title 服务名称
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-yellow-crusta
                    //i.fa.fa-th
            .app-title 服务名称
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-sunglo
                    //i.fa.fa-th
            .app-title 服务名称
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-blue-ocean
                    //i.fa.fa-th
            .app-title 服务名称
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-pink
                    //i.fa.fa-th
            .app-title 服务名称