.m-app-list.row-space-20
    .row
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-blue
                    i.iconfont.icon-tingche
            .app-title 智慧停车
        .col-xs-3
            .abs-container.abs-hp-1of1
                a.abs-content.app-icon-box.touch-active.bg-green-jungle(href="m-food.html")
                    i.iconfont.icon-meishi
            .app-title 园区美食
        .col-xs-3
            .abs-container.abs-hp-1of1
                a.abs-content.app-icon-box.touch-active.bg-red-orange(href="m-approval-meetingroom.html")
                    i.iconfont.icon-huiyishi
            .app-title 会议室租赁
        .col-xs-3
            .abs-container.abs-hp-1of1
                a.abs-content.app-icon-box.touch-active.bg-purple-studio(href="m-approval-hall.html")
                    i.iconfont.icon-zhanting
            .app-title 展厅租赁
        .col-xs-3
            .abs-container.abs-hp-1of1
                a.abs-content.app-icon-box.touch-active.bg-yellow-crusta(href="m-estate-clean.html")
                    i.iconfont.icon-wuye
            .app-title 智慧物业
        .col-xs-3
            .abs-container.abs-hp-1of1
                a.abs-content.app-icon-box.touch-active.bg-red-sunglo(href="m-org-appeal.html")
                    i.iconfont.icon-suqiu
            .app-title 企业诉求
        .col-xs-3
            .abs-container.abs-hp-1of1
                a.abs-content.app-icon-box.touch-active.bg-blue-ocean(href="m-park-hr.html")
                    i.iconfont.icon-zhaopin
            .app-title 企业招聘
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-pink
                    i.iconfont.icon-qitafuwu
            .app-title 其他服务
