.m-app-list.row-space-20
    .row
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-yellow-bronze
                    i.iconfont.icon-rongzi
            .app-title 融资服务
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-purple-studio
                    i.iconfont.icon-caishui
            .app-title 财税服务
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-pink
                    i.iconfont.icon-hr
            .app-title 人力资源
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-yellow-crusta
                    i.iconfont.icon-zixun
            .app-title 管理咨询
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-red-orange
                    i.iconfont.icon-falv
            .app-title 法律服务
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-green-grass
                    i.iconfont.icon-zhuanli
            .app-title 专利服务
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-blue-ocean
                    i.iconfont.icon-peixun
            .app-title 培训服务
        .col-xs-3
            .abs-container.abs-hp-1of1
                .abs-content.app-icon-box.touch-active.bg-green-jungle
                    i.iconfont.icon-qita
            .app-title 其他服务