.ins
    a.ins-item(href="javascript:;")
        .abs-container.abs-hp-1of6
            .abs-content
                img.ins-img(src = IMG_DIR + "ins_1.jpg")
        .ins-content
            .ins-title 园区积极对接区人社局帮企业揽高端人才 解人才之忧
            .ins-info 为满足园区重点企业对高端人才的需求，帮助园区企业了解最新人才政策。 7月26日，我园区邀请青岛市李沧区人力资源与社会保障局人才交流中心主任董敏一行到园区，为驻园企业——汉麻纺织和卡特琳进行高端人才引入政策及人才积分落户政策的对接交流。
    .ins-item
        .abs-container.abs-hp-1of6
            .abs-content
                img.ins-img(src = IMG_DIR + "ins_2.jpg")
        .ins-content
            .ins-title 园区积极对接区人社局帮企业揽高端人才 解人才之忧
            .ins-info 为满足园区重点企业对高端人才的需求，帮助园区企业了解最新人才政策。 7月26日，我园区邀请青岛市李沧区人力资源与社会保障局人才交流中心主任董敏一行到园区，为驻园企业——汉麻纺织和卡特琳进行高端人才引入政策及人才积分落户政策的对接交流。
    .ins-item
        .abs-container.abs-hp-1of6
            .abs-content
                img.ins-img(src = IMG_DIR + "ins_3.jpg")
        .ins-content
            .ins-title 园区积极对接区人社局帮企业揽高端人才 解人才之忧
            .ins-info 为满足园区重点企业对高端人才的需求，帮助园区企业了解最新人才政策。 7月26日，我园区邀请青岛市李沧区人力资源与社会保障局人才交流中心主任董敏一行到园区，为驻园企业——汉麻纺织和卡特琳进行高端人才引入政策及人才积分落户政策的对接交流。
    