.footbar.row-space-0
    .footbar-content.row
        .col-xs-4
            .footbar-btn.touch-active.sel
                .footbar-btn-icon
                    i.iconfont.icon-shouye
                .footbar-btn-text 首页
        .col-xs-4
            .footbar-btn.touch-active
                .footbar-btn-icon
                    i.iconfont.icon-yuanqu
                .footbar-btn-text 园区
        .col-xs-4
            .footbar-btn.touch-active
                .footbar-btn-icon
                    i.iconfont.icon-yonghu
                .footbar-btn-text 我的
.footbar-space
