TREEMENU_WIDTH = LEFT_WIDTH
TREEMENU_INDENT = 0.2rem
TREEMENU_BTN_HEIGHT = 0.34rem
TREEMENU_BTN_HEIGHT_MAIN = 0.46rem
TREEMENU_BTN_FONT = 0.12rem
TREEMENU_BTN_FONT_MAIN = 0.14rem
TREEMENU_COLOR = BLUE_CHAMBRAY
TREEMENU_TEXT_COLOR = lighten(TREEMENU_COLOR,70%)
TREEMENU_TEXT_COLOR_HOVER = lighten(TREEMENU_COLOR,85%)
TREEMENU_TEXT_COLOR_SEL = WHITE
TREEMENU_BORDER_SEL_COLOR = GREEN_GRASS
TREEMENU_BORDER_WIDTH = 2px
TREEMENU_SEL_ARROW_WIDTH = 10px

.tree-menu
    position absolute
    width TREEMENU_WIDTH
    left 0
    top 0
    bottom 0
    background-color TREEMENU_COLOR
    display block
    margin 0
    padding-bottom 50px
.tmenu-btn-container
    display block
    border-bottom 1px solid darken(TREEMENU_COLOR,20%)
    margin 0
    display block
    .tmenu-btn-container
        display none
        border-bottom none
    .tmenu-btn
        display block
        text-decoration none
        line-height TREEMENU_BTN_HEIGHT
        font-size TREEMENU_BTN_FONT
        padding 0 10px
        cursor pointer
        color TREEMENU_TEXT_COLOR
        transition all COMMON_ANIM_TIME ease
        background-color TREEMENU_COLOR
        border-left TREEMENU_BORDER_WIDTH solid transparent
        position relative
        .sel-arrow
            position absolute
            right 0
            z-index 9999
            top 50%
            margin-top -1*TREEMENU_SEL_ARROW_WIDTH
            display none
            border-arrow(BODY_BG,TREEMENU_SEL_ARROW_WIDTH,left)
        &.is-folder
            background-image url(IMG_DIR + 'menu-folder-collapsed.png')
            background-position TREEMENU_WIDTH - 0.3rem center
            background-repeat no-repeat
        &:hover
            color TREEMENU_TEXT_COLOR_HOVER
            background-color darken(TREEMENU_COLOR,10%)
        &.sel
            color TREEMENU_TEXT_COLOR_SEL
            background-color lighten(TREEMENU_COLOR,10%)
            border-left-color TREEMENU_BORDER_SEL_COLOR
            .sel-arrow
                display block
    &.lv_1
        display block
        >.tmenu-btn
            line-height TREEMENU_BTN_HEIGHT_MAIN
            font-size TREEMENU_BTN_FONT_MAIN

    &.lv_2
        >.tmenu-btn
            padding-left 30px
    &.lv_3
        >.tmenu-btn
            padding-left 50px
    &.lv_4
        >.tmenu-btn
            padding-left 70px
    &.opened
        >.is-folder
            background-image url(IMG_DIR + 'menu-folder-opened.png')

.opened
    >.tmenu-btn
        color TREEMENU_TEXT_COLOR_HOVER !important
        background-color darken(TREEMENU_COLOR,10%) !important
        &.sel
            background-color lighten(TREEMENU_COLOR,10%) !important
            cursor default !important
    >.tmenu-btn-container
        display block !important
