.tree-menu#tree_menu
    .tmenu-btn-container
        a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-index.html")
            i.fa.fa-home
            |&nbsp;系统首页
            .sel-arrow
    .tmenu-btn-container
        .tmenu-btn
            i.fa.fa-users
            |&nbsp;幼儿管理
            .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-xsrygl.html")
                i.fa.fa-user-plus
                |&nbsp;新生入园管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yedagl.html")
                i.fa.fa-files-o
                |&nbsp;幼儿档案管理
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yeznkgl.html")
                i.fa.fa-credit-card
                |&nbsp;幼儿智能卡管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-jsxt.html")
                i.fa.fa-bus
                |&nbsp;接送系统
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-calendar
                |&nbsp;幼儿考勤管理
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yekqlr.html")
                    i.fa.fa-edit
                    |&nbsp;幼儿考勤录入
                    .sel-arrow
            .tmenu-btn-container
                a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yekqtj.html")
                    i.fa.fa-table
                    |&nbsp;幼儿考勤统计
                    .sel-arrow
    .tmenu-btn-container
        .tmenu-btn
            i.fa.fa-money
            |&nbsp;财务管理
            .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-money
                |&nbsp;幼儿收费管理
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-sffasd.html")
                    i.fa.fa-cog
                    |&nbsp;收费方案设定
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yesf.html")
                    i.fa.fa-sign-in
                    |&nbsp;幼儿收费
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yetf.html")
                    i.fa.fa-sign-out
                    |&nbsp;幼儿退费
                    .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-table
                |&nbsp;收退费报表
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-srrbb.html")
                    i.fa.fa-table
                    |&nbsp;收入日报表
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-bjysfmx.html")
                    i.fa.fa-table
                    |&nbsp;班级月收费明细
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-jtstfhz.html")
                    i.fa.fa-table
                    |&nbsp;集团收退费汇总
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-qfmxjshqk.html")
                    i.fa.fa-table
                    |&nbsp;欠费明细及收回情况
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-byysfy.html")
                    i.fa.fa-table
                    |&nbsp;本月应收费用
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-tsstfhz.html")
                    i.fa.fa-table
                    |&nbsp;特殊收退费汇总
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-bjfyl.html")
                    i.fa.fa-table
                    |&nbsp;保教费一览
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-bybjfqk.html")
                    i.fa.fa-table
                    |&nbsp;本月保教费情况
                    .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-cube
                |&nbsp;成本费用
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-fyysb.html")
                    i.fa.fa-cube
                    |&nbsp;费用预算表
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yehszc.html")
                    i.fa.fa-cube
                    |&nbsp;幼儿伙食支出
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-fysq.html")
                    i.fa.fa-cube
                    |&nbsp;费用申请
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-fytstz.html")
                    i.fa.fa-cube
                    |&nbsp;费用推送通知
                    .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-gift
                |&nbsp;幼儿保险
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-xpxyb.html")
                    i.fa.fa-gift
                    |&nbsp;学平险月报
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-xpxtz.html")
                    i.fa.fa-gift
                    |&nbsp;学平险台账
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-sbjftz.html")
                    i.fa.fa-gift
                    |&nbsp;社保缴费台账
                    .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-ysgl.html")
                i.fa.fa-cny
                |&nbsp;预算管理
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-stgl.html")
                i.fa.fa-cutlery
                |&nbsp;食堂管理
                .sel-arrow
    .tmenu-btn-container
        .tmenu-btn
            i.fa.fa-suitcase
            |&nbsp;行政管理
            .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-wpgl.html")
                i.fa.fa-cubes
                |&nbsp;物品管理
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-building
                |&nbsp;库存管理
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-spkgl.html")
                    i.fa.fa-building
                    |&nbsp;食品库管理
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-xzwzgl.html")
                    i.fa.fa-building
                    |&nbsp;行政物资管理
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yhpglmx.html")
                    i.fa.fa-building
                    |&nbsp;易耗品购领明细
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-gdzcmx.html")
                    i.fa.fa-building
                    |&nbsp;固定资产明细
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-rkcx.html")
                    i.fa.fa-building
                    |&nbsp;入库查询
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-ckcx.html")
                    i.fa.fa-building
                    |&nbsp;出库查询
                    .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-car
                |&nbsp;车辆管理
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-cljbxx.html")
                    i.fa.fa-car
                    |&nbsp;车辆基本信息
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-xcgl.html")
                    i.fa.fa-car
                    |&nbsp;校车管理
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-bcyexxdj.html")
                    i.fa.fa-car
                    |&nbsp;班车幼儿信息登记
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-gcjsxxdj.html")
                    i.fa.fa-car
                    |&nbsp;跟车教师信息登记
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-bcfygl.html")
                    i.fa.fa-car
                    |&nbsp;班车费用管理
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-zdxlgh.html")
                    i.fa.fa-car
                    |&nbsp;站点线路规划
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-xcbyjl.html")
                    i.fa.fa-car
                    |&nbsp;校车保养记录
                    .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-list-ul
                |&nbsp;食谱管理
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-cpgl.html")
                    i.fa.fa-list-ul
                    |&nbsp;菜品管理
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-zzffgl.html")
                    i.fa.fa-list-ul
                    |&nbsp;制作方法管理
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-spdltj.html")
                    i.fa.fa-list-ul
                    |&nbsp;食谱带量统计
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-spgl.html")
                    i.fa.fa-list-ul
                    |&nbsp;食谱管理
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-zxdctj.html")
                    i.fa.fa-list-ul
                    |&nbsp;在线订餐统计
                    .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-wsbj.html")
                i.fa.fa-medkit
                |&nbsp;卫生保健
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-aqgl.html")
                i.fa.fa-shield
                |&nbsp;安全管理
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-hqdagl.html")
                i.fa.fa-file-archive-o
                |&nbsp;后勤档案管理
                .sel-arrow
    .tmenu-btn-container
        .tmenu-btn
            i.fa.fa-book
            |&nbsp;教育资源
            .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-jyzygl.html")
                i.fa.fa-file-text-o
                |&nbsp;教育资源管理
                .sel-arrow 
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-jxdagl.html")
                i.fa.fa-archive
                |&nbsp;教学档案管理
                .sel-arrow    
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-rcgz.html")
                i.fa.fa-edit
                |&nbsp;日常工作
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-jyywpx.html")
                i.fa.fa-clipboard
                |&nbsp;教研业务培训
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-pbdagl.html")
                i.fa.fa-files-o
                |&nbsp;评比档案管理
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yepg.html")
                i.fa.fa-balance-scale
                |&nbsp;幼儿评估
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-jzgzda.html")
                i.fa.fa-file-text-o
                |&nbsp;家长工作档案
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-kcap.html")
                i.fa.fa-calendar-o
                |&nbsp;课程安排
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-jxxxfb.html")
                i.fa.fa-newspaper-o
                |&nbsp;教学信息发布
                .sel-arrow
    .tmenu-btn-container
        .tmenu-btn
            i.fa.fa-vcard
            |&nbsp;人事管理
            .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-rsdagl.html")
                i.fa.fa-archive
                |&nbsp;人事档案管理
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-ldhtgl.html")
                i.fa.fa-sticky-note-o
                |&nbsp;劳动合同管理
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-sbjgjjgl.html")
                i.fa.fa-credit-card
                |&nbsp;社保及公积金管理
                .sel-arrow
        .tmenu-btn-container
            .tmenu-btn
                i.fa.fa-id-badge
                |&nbsp;员工考勤
                .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-ygkqlr.html")
                    i.fa.fa-edit
                    |&nbsp;员工考勤录入
                    .sel-arrow
            .tmenu-btn-container
                .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-ygkqtj.html")
                    i.fa.fa-table
                    |&nbsp;员工考勤统计
                    .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-rsgl-tjbb.html")
                i.fa.fa-table
                |&nbsp;统计报表
                .sel-arrow
    .tmenu-btn-container
        .tmenu-btn
            i.fa.fa-building
            |&nbsp;园务管理
            .sel-arrow
        .tmenu-btn-container
            .tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-zzjggl.html")
                i.fa.fa-sitemap
                |&nbsp;组织结构管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-gzzd.html")
                i.fa.fa-gavel
                |&nbsp;规章制度
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-xzgl.html")
                i.fa.fa-money
                |&nbsp;薪资管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-cwgz.html")
                i.fa.fa-pencil-square
                |&nbsp;常务工作
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-ywgl-tjbb.html")
                i.fa.fa-table
                |&nbsp;统计报表
                .sel-arrow
    .tmenu-btn-container
        .tmenu-btn
            i.fa.fa-database
            |&nbsp;数据中心
            .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-sxtgl.html")
                i.fa.fa-camera
                |&nbsp;摄像头管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-spsjtj.html")
                i.fa.fa-bar-chart
                |&nbsp;视频数据统计
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-njgl.html")
                i.fa.fa-list-ol
                |&nbsp;年级管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-bjgl.html")
                i.fa.fa-th-list
                |&nbsp;班级管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-bcgl.html")
                i.fa.fa-server
                |&nbsp;班次管理
                .sel-arrow
    .tmenu-btn-container
        .tmenu-btn
            i.fa.fa-desktop
            |&nbsp;系统管理
            .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-yhgl.html")
                i.fa.fa-user-circle-o
                |&nbsp;用户管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-jsgl.html")
                i.fa.fa-vcard-o
                |&nbsp;角色管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-qxsz.html")
                i.fa.fa-key
                |&nbsp;权限设置
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-lcgl.html")
                i.fa.fa-sitemap
                |&nbsp;流程管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-gwgl.html")
                i.fa.fa-graduation-cap
                |&nbsp;岗位管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-xxtx.html")
                i.fa.fa-bell
                |&nbsp;消息提醒
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-rwgl.html")
                i.fa.fa-history
                |&nbsp;任务管理
                .sel-arrow
        .tmenu-btn-container
            a.tmenu-btn(data-toggle = "iframelinker" data-target = ".kg-iframe" data-link = "kg-cptsgl.html")
                i.fa.fa-share
                |&nbsp;产品推送管理
                .sel-arrow