ORG_LOGO_HEIGHT = 1.6rem
ORG_LOGO_WIDTH = 3.2rem
ORG_INTRO_SPACE = 0.1rem
ORG_INTRO_BOTTOM = 0.32rem
ORG_INTRO_BGC = GRAY_F9

.orgintro-container
    width auto
    display block
    padding ORG_INTRO_SPACE
    padding-left ORG_LOGO_WIDTH + ORG_INTRO_SPACE
    background-color ORG_INTRO_BGC
    position relative
    min-height ORG_LOGO_HEIGHT
    overflow auto
    &.has-bottom
        padding-bottom ORG_INTRO_BOTTOM
.orgintro-pills
    position absolute
    bottom 0.04rem
    right 0.04rem
    height 0.24rem
    .orgintro-pill
        padding 0 0.07rem
        background-color GRAY_E3
        font-size 0.12rem
        line-height 0.24rem
        color GRAY_99
        float left
        margin-left 0.04rem
        border-radius COMMON_BORDER_RADIUS
.orgintro-logo
    width ORG_LOGO_WIDTH
    height ORG_LOGO_HEIGHT
    position absolute
    left 0
    top 0
    img
        width 100%
        height 100%
        float left
.orgintro-title
    font-size 0.16rem
    color GRAY_33
    font-weight bold
    margin-bottom 0.05rem
.orgintro-content
    font-size 0.14rem
    color GRAY_66
    text-align justify
    p
        margin-bottom 0.02rem
.mobile
    .orgintro-container
        padding ORG_INTRO_SPACE
    .orgintro-logo
        position static
        display block
        width auto
        height auto
        margin-bottom ORG_INTRO_SPACE
        overflow hidden
        img
            width 100%
            height auto