.login-content
    .login-logo
        img(src=IMG_DIR + 'logo.png')
    form#form_login.login-box(action="?" name="loginform")
        .row
            .col-xs-12
                .login-title 系统登录
            .col-xs-12
                .form-group
                    label 用户名
                    .input-group.login-input-group
                        .input-group-addon
                            i.fa.fa-user
                        input.form-control(type='text' placeholder='用户名' name="username")
                .form-group
                    label 密码
                    .input-group.login-input-group
                        .input-group-addon
                            i.fa.fa-lock
                        input.form-control(type='password' placeholder='密码' name="password")
        button.btn.btn-block.btn-login(type="submit") 登录
        .btn-login-pillow
    
