.topbar
    .logo
        img(src="statics/portal/images/logo.png")
        |智慧校园
    .pull-right
        .topbar-shoulder
            .topbar-shoulder-search#topbar_search
                .topbar-shoulder-btn(data-toggle='popbox' data-target='#topbar_search')
                    i.iconfont.icon-sousuo
                input.search-input(placeholder = '请输入关键字')
            .topbar-shoulder-btn#btn_home
                i.iconfont.icon-shouye
            .topbar-shoulder-btn#btn_setup
                i.iconfont.icon-shezhi
            .topbar-shoulder-btn#btn_apps
                i.iconfont.icon-qbyy
            .vline
            .topbar-shoulder-text#date
            .vline
        .avatar#btn_rightmenu_show
            img(src="statics/portal/images/avatar.jpg")
