.rightmenu-content
    .rightmenu-bg#btn_rightmenu_hide
    .rightmenu
        .rm-head
            .avatar.full-img#rightmenu_avatar
                img(src="images/avatar.jpg")
            .username#username
            .usertext#usertext
        ul.rm-menu
            li
                a.rm-btn(href="#")
                    i.iconfont.icon-aqsz
                    |安全设置
            li
                a.rm-btn(href="#")
                    i.iconfont.icon-xsxd
                    |新手向导
            li
                a.rm-btn(href="#")
                    i.iconfont.icon-fkyjy
                    |反馈与建议
            li
                a.rm-btn(href="#")
                    i.iconfont.icon-bzzx
                    |帮助中心
            li
                a.rm-btn(href="#")
                    i.iconfont.icon-kf
                    |客服
            li
                a.rm-btn#theme_setup(href="#")
                    i.iconfont.icon-ggzt
                    |更改主题
            li
                a.rm-btn.vip(href="#")
                    i.iconfont.icon-sygjfw
                    |试用高级服务
            li
                .rm-btn#btn_logout
                    i.iconfont.icon-tc
                    |退出

        
