// Icon
//-----------------------------------------------------------------------------------------
ICON_SIZE = 16px
ICON_SIZE_SMALL = 12px
ICON_SIZE_LARGE = 32px

.img-icon
    width ICON_SIZE
    height ICON_SIZE
    display block
    background-repeat no-repeat
    background-image url(IMG_DIR+'icon-gray-16px.png')
    &.icon-small
        width ICON_SIZE_SMALL
        height ICON_SIZE_SMALL
    &.icon-large
        width ICON_SIZE_LARGE
        height ICON_SIZE_LARGE
    &.icon-white
        background-image url(IMG_DIR+'icon-white-16px.png')
    &.icon-blue
        background-image url(IMG_DIR+'icon-blue-16px.png')
    &.icon-gray
        background-image url(IMG_DIR+'icon-gray-16px.png')
    &.icon-green
        background-image url(IMG_DIR+'icon-green-16px.png')
    &.icon-red
        background-image url(IMG_DIR+'icon-red-16px.png')
    &.icon-triarrow-down
        background-position 0 0
    &.icon-triarrow-up
        background-position 0 -50px
    &.icon-triarrow-left
        background-position 0 -100px
    &.icon-triarrow-right
        background-position 0 -150px
    &.icon-arrow-down
        background-position 0 -200px
    &.icon-arrow-up
        background-position 0 -250px
    &.icon-arrow-left
        background-position 0 -300px
    &.icon-arrow-right
        background-position 0 -350px
    &.icon-search
        background-position 0 -400px
    &.icon-angelarrow-down
        background-position 0 -450px
    &.icon-angelarrow-up
        background-position 0 -500px
    &.icon-angelarrow-left
        background-position 0 -550px
    &.icon-angelarrow-right
        background-position 0 -600px
    &.icon-plus
        background-position 0 -650px
    &.icon-minus
        background-position 0 -700px
    &.icon-text
        background-position 0 -750px
    &.icon-exclamation
        background-position 0 -800px
    &.icon-box
        background-position 0 -850px
    &.icon-controler
        background-position 0 -900px
    &.icon-lighting
        background-position 0 -950px
    &.icon-recycle
        background-position -50px 0px
    &.icon-paper
        background-position -50px -50px
    &.icon-write
        background-position -50px -100px
    &.icon-bell
        background-position -50px -150px
    &.icon-wrong
        background-position -50px -200px
    &.icon-right
        background-position -50px -250px
    &.icon-square
        background-position -50px -300px
