doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='renderer' content='webkit')
        meta(name='description', content='hisense')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title DesktopMobileViewer
        block css
            link(rel='stylesheet', href='../css/vendor.css')
            link(rel='stylesheet', href='../css/index.css')
            
    body
        block content
        block js
            script(src='../js/vendor.js')
            script(src='../js/app.js')
