/*!覆盖bootstarptable插件部分样式*/
.fixed-table-container
    border-radius 0

.fixed-table-toolbar
    .bs-bars
    .columns
    .search
        margin-top 0
    .btn-group
        >.btn-group:last-child
            >.btn
                border-top-right-radius 0.02rem !important
                border-bottom-right-radius 0.02rem !important


.fixed-table-pagination
    line-height 0
    padding 0 0.1rem
    

.toolbar
    font-size 0
    .btn
        margin-right 0.04rem

.block-table-container
    .bootstrap-table
        position relative
        .fixed-table-toolbar
            position absolute
            top -0.27rem
            right 0.04rem
            .search
                .form-control
                    border-radius 0
                    height 0.24rem
                    font-size 0.12rem
                    padding 0.02rem 0.04rem
    &.text-sm
        .bootstrap-table
            font-size 12px

.funnel
    position absolute
    z-index 1
    left 0
    top 0
    right 0
    bottom 0
    img
        width 100%
        height 100%
        float left

.search
    .form-control
        border-radius COMMON_BORDER_RADIUS

