/*! utils */

//clearfix
.with-clearfix:before
    content ""
    display table
.with-clearfix:after
    content ""
    display table
    clear both

// transition
transition()
    -webkit-transition arguments
    -moz-transition arguments
    -ms-transition arguments
    -o-transition arguments
    transition arguments

// animation
animation()
    -webkit-animation arguments
    -moz-animation arguments
    -ms-animation arguments
    -o-transition arguments
    animation arguments

transform()
    -webkit-transform arguments
    -moz-transform arguments
    -ms-transform arguments
    -o-transform arguments
    transform arguments

// border-arrow
border-arrow(arrow_color,arrow_width,arrow_direction)
    width 0px
    height 0px
    border-top arrow_width solid transparent
    border-bottom arrow_width solid transparent
    border-left arrow_width solid transparent
    border-right arrow_width solid transparent
    if arrow_direction == left
        border-left none
        border-right arrow_width solid arrow_color
    if arrow_direction == right
        border-right none
        border-left arrow_width solid arrow_color
    if arrow_direction == up
        border-top none
        border-bottom arrow_width solid arrow_color
    if arrow_direction == down
        border-bottom none
        border-top arrow_width solid arrow_color

//background-gradient
background-gradient(start_pos,start_color,end_color)
    background -webkit-linear-gradient(start_pos, start_color, end_color)
    background -moz-linear-gradient(start_pos, start_color, end_color)
    background linear-gradient(start_pos, start_color, end_color)
