.login-panel.space-20px
    form.inner-content.no-bottom
        .col-1of1
            .col-content
                .login-title 用户登录
            .col-content
                .form-control
                    input.input-text.login-input-text(type='text' placeholder="用户名")
                    .login-input-icon
                        i.fa.fa-user
            .col-content
                .form-control
                    input.input-text.login-input-text(type='password' placeholder="密码")
                    .login-input-icon
                        i.fa.fa-unlock-alt
            .col-content
                a.bttn.bttn-block.bttn-large.bttn-circle2px.bg-blue-ocean.bg-hover-darken.font-white(href="index.html") 登录
    
.login-footer
    .login-footer-info 系统登录说明：为进一步完善公司的物料管理,控制生产成本,减少损失,提高公司经济效益,特制定本制度。第二条 范围港务公司、运输公司所有物料的采购、仓储及发放,依据本制度执行。
    .copy-right Copyright ©2017 青岛汇业仓储有限公司 版权所有
