.big-icon
    margin-top 0.5rem
    font-size 1.2rem
    color GRAY_CC
    width 100%
    text-align center
    display block
.big-label
    font-size 0.22rem
    color GRAY_99
    width 100%
    text-align center
    display block
.big-gap
    width 100%
    height 3rem
    display block

.redirect-box
    width 4.6rem
    min-height 1rem
    border-radius 0.04rem
    height auto
    background-color WHITE
    margin 0.8rem auto
    padding 0.4rem
    box-shadow 0 0.02rem 0.4rem 0 alpha(BLACK,0.05)
    .redirect-box-icon
        margin 0 auto
        margin-bottom 0.2rem
        width 1.2rem
        height 1.2rem
        border-radius 1.2rem
        background-color THEME_COLOR
        color WHITE
        font-size 0.5rem
        text-align center
        i
            line-height 1.2rem
    .redirect-box-label
        width 100%
        line-height 0.2rem
        font-size 0.14rem
        text-align center
        color GRAY_33
    @media MOBILE
        width auto
        margin 0.2rem 0.1rem

.pinfo-item
    width auto
    height auto
    border-bottom 1px solid GRAY_E3
    padding 0.1rem 0
    .pinfo-item-title
        width auto
        display block
        font-size 0.15rem
        color GRAY_33
        &.has-right
            padding-right 0.5rem
            position relative
            .right-text
                position absolute
                right 0
                top 0.02rem
                font-size 0.12rem
                color GRAY_66
    .pinfo-item-sub
        width auto
        display block
        font-size 0.12rem
        color GRAY_66
    @media MOBILE
        border-top 1px solid GRAY_E3
        padding 0.04rem 0
        margin-top -1px
        .pinfo-item-title
            font-size 0.12rem
            &.has-right
                padding-right 0.5rem
                position relative
                .right-text
                    position absolute
                    right 0
                    top 0.01rem
                    font-size 0.08rem
                    color GRAY_66
        .pinfo-item-sub
            font-size 0.08rem
