// common layout
//-----------------------------------------------------------------------------------------
cacu-wrapper-space(space_value)
    margin-left -0.01rem*ceil(0.5*space_value)
    margin-right -0.01rem*ceil(0.5*space_value)

cacu-container-space(space_value)
    padding-left 0.01rem*ceil(0.5*space_value)
    padding-right 0.01rem*ceil(0.5*space_value)

cacu-divider-space(space_value)
    margin-bottom 0.01rem*space_value

cacu-content-space(space_value)
    margin-left 0.01rem*ceil(0.5*space_value)
    margin-right 0.01rem*ceil(0.5*space_value)
    margin-bottom 0.01rem*space_value


cacuColPct(pct,total)
    width (pct/total)*100 + '%'


cacuHeightPct(pct,total)
    padding-top (pct/total)*100 + '%'
    display block
    content ""
    width 100%

cacuColOffsetLeftPct(pct,total)
    margin-left (pct/total)*100 + '%'

cacuColOffsetRightPct(pct,total)
    margin-right (pct/total)*100 + '%'

.col-container
    cacu-container-space(COMMON_SPACE)

.col-wrapper
    width auto
    display block
    cacu-wrapper-space(COMMON_SPACE)

.col-divider
    float left
    display block
    width 100%
    height 0
    cacu-divider-space(COMMON_SPACE)
.col
    display block
    position relative
    float left
    &:before
        content ""
        display table
    &:after
        content ""
        display table
        clear both

.col-content
    width auto
    display block
    position relative
    box-sizing border-box
    cacu-content-space(COMMON_SPACE)
    &:before
        content ""
        display table
    &:after
        content ""
        display table
        clear both

.abs-content
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    box-sizing border-box
    img
        width 100%
        height 100%
        float left

cacu-space(space_value)
    >.col-wrapper
        cacu-wrapper-space(space_value)
        >.col
            >.col-content
                cacu-content-space(space_value)
        >.col-divider
            cacu-divider-space(space_value)
    >.col
        >.col-content
            cacu-content-space(space_value)
    >.col-container
        cacu-container-space(space_value)
        >.col
            >.col-content
                cacu-content-space(space_value)
        >.col-divider
            cacu-divider-space(space_value)
    >.col-divider
        cacu-divider-space(space_value)

for i in range(0,50,1)
    .space-{i}
        cacu-space(i)
    .mt-{i}
        margin-top i * 0.01rem !important
    .mb-{i}
        margin-bottom i * 0.01rem !important
    .ml-{i}
        margin-left i * 0.01rem !important
    .mr-{i}
        margin-right i * 0.01rem !important
    .pt-{i}
        padding-top i * 0.01rem !important
    .pb-{i}
        padding-bottom i * 0.01rem !important
    .pl-{i}
        padding-left i * 0.01rem !important
    .pr-{i}
        padding-right i * 0.01rem !important

for i in (1..20)
    for j in range(1,i)
        .col-{j}of{i}
            cacuColPct(j,i)
        .col-offsetleft-{j}of{i}
            cacuColOffsetLeftPct(j,i)
        .col-offsetright-{j}of{i}
            cacuColOffsetRightPct(j,i)
        .col-hp-{j}of{i}
            position relative
            &:before
                cacuHeightPct(j,i)
            .col-content
                position absolute
                top 0
                left 0
                bottom 0
                right 0
                box-sizing border-box
                img
                    width 100%
                    height 100%
                    float left
        .col-hp-{i}of{j}
            position relative
            &:before
                cacuHeightPct(i,j)
            .col-content
                position absolute
                top 0
                left 0
                bottom 0
                right 0
                box-sizing border-box
                img
                    width 100%
                    height 100%
                    float left



for i in range(1px,10px,1)
    .border-left-{i}
        border-left-width i !important
        border-left-style solid !important
    .border-top-{i}
        border-top-width i !important
        border-top-style solid !important
    .border-right-{i}
        border-right-width i !important
        border-right-style solid !important
    .border-bottom-{i}
        border-bottom-width i !important
        border-bottom-style solid !important
