/* variables */

// basic vars
COMMON_ANIM_TIME = 0.2s // common transition time
COMMON_SPACE = 8

// media query vars
//-----------------------------------------------------------------------------------------
MOBILE = '(max-width: 599px)'
MOBILE_320 = '(max-width: 320px)'
MOBILE_360 = '(max-width: 360px)'
MOBILE_375 = '(max-width: 375px)'
MOBILE_414 = '(max-width: 414px)'
MOBILE_480 = '(max-width: 480px)'
TABLET = '(min-width: 600px) and (max-width: 1000px)'
WIDER = '(min-width: 1260px)'
RETINA = '(-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi)'
